In [1]:
import pandas as pd

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

import numpy as np
import RENT

from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression as LR
from sklearn.metrics import f1_score, precision_score, recall_score, matthews_corrcoef


from sklearn.datasets import load_breast_cancer

wisconsin = load_breast_cancer()
data = pd.DataFrame(wisconsin.data)
target = wisconsin.target

from sklearn.model_selection import train_test_split
original_train_data, original_test_data, original_train_labels, original_test_labels = \
train_test_split(data, target, random_state=0, shuffle=True)

In [2]:
run = True 
counter = 0
max_counts = 1
rs = 0
n_folds = 5

my_data = original_train_data.copy()
my_target = pd.DataFrame(original_train_labels.copy()) # must be DataFrame

In [3]:
# run RENT until counter reaches max_counts

while run==True:
    counter += 1
    # k-fold splits
    skf = StratifiedKFold(n_splits=n_folds, random_state = rs, shuffle=True)
    
    #for next RENT-run (if counter != max_count, use another random state to split the data)
    rs += 1
    
    # C and l1 and testsize-range parameters to try 
    my_C_params = [0.1, 1, 10]
    my_l1_params = [0.1, 0.5, 0.9]
    testsize_range = (0.25, 0.25)
    
    # store prediction scores of train and test data for each split in dataframe (end with a list of dataframes)
    fs_scores = list()
    for s in range(skf.get_n_splits()):
        fs_scores.append(pd.DataFrame(index=my_l1_params, columns=my_C_params))
    scores_pred = list()
    for s in range(skf.get_n_splits()):
        scores_pred.append(pd.DataFrame(index=my_l1_params, columns=my_C_params))
    
    # define all dicts where we want to store results
    incorrect_labels_dict = {}
    incorr_avg = {}
    incorr_max = {}
    incorr_min = {}
    count_features = {}
    union_features = {}
    intersection_features = {}
    score_prediction = {}
    models = {}
    
    # now we perform RENT feature selection
    for C in my_C_params:
        for l1 in my_l1_params:
            i = 0 # counter 
            
            incorr_labels, mod, scores, features = [], [], [], []
            df = pd.DataFrame(index=my_data.index)
            
            for train, test in skf.split(my_data, my_target):
                train_data = my_data.iloc[train,:]
                train_target = my_target.iloc[train,:]
                
                analysis = RENT.RENT_Classification(data=train_data,
                                                       target=train_target.iloc[:,0],
                                                       feat_names=train_data.columns,
                                                       C=[C],
                                                       l1_ratios=[l1],
                                                       parameter_selection=False,
                                                       poly='OFF',
                                                       testsize_range=testsize_range,
                                                       K=100,
                                                       method='logreg',
                                                       verbose=1)
                analysis.train()
                
                # perform feature selection
                sel_features = analysis.selectFeatures(tau_1=0.9, tau_2=0.9, tau_3=0.975)
                
                # store incorrect predictions
                incorrectness = analysis.summary_objects()
                
                # predict on test set to get prediction scores thereof
                sc = StandardScaler()
                train_sample = sc.fit_transform(train_data.iloc[:,sel_features])
                test_sample = sc.transform(my_data.iloc[test,sel_features])
                
                model = LR(penalty='none', max_iter=8000, solver='saga').fit(train_sample, train_target)
                score = matthews_corrcoef(my_target.iloc[test,:], model.predict(test_sample))
                
                # store results
                scores.append(score)
                mod.append(model)
                features.append(sel_features)
                incorr_labels.append(incorrectness.iloc[:,-1])
                
                df = pd.concat([df,incorrectness.iloc[:,-1]], axis=1)
                
                score_mat = analysis.get_enetParam_matrices()[0]
                
                fs_scores[i].loc[l1,C] = score_mat.values[0]
                scores_pred[i].loc[l1,C] = score
                
                i += 1
                
            # fill the dictionaries
            
            df.columns = ['fold{0}'.format(x+1) for x in range(skf.get_n_splits())]
            incorrect_labels_dict[(l1,C)] = df
            score_prediction[(l1,C)] = scores
            models[(l1,C)] = mod
            
            features_set = []
            for f in features:
                features_set.append(set(f))
                
            #union and intersection of all features across the k folds
            features_union = list(set.union(*features_set))
            features_intersection = list(set.intersection(*features_set)) 
            
            # count how often each feature was selected across the k folds (0 to k)
            features_count = pd.Series(0, index=features_union)
            for f in features:
                features_count.loc[f] += 1
            
            union_features[(l1,C)] = features_union
            intersection_features[(l1,C)] = features_intersection
            count_features[(l1,C)] = features_count
            
            # store average, maximal and minimal  incor. predicitons
            incorr_labels_avg = pd.DataFrame(np.round(list(np.apply_along_axis(np.nanmean,1,df))),\
                         index=my_data.index)
            incorr_labels_avg.columns = ["nr incorr"]

            incorr_labels_max = pd.DataFrame(list(np.apply_along_axis(np.nanmax,1,df)),\
                         index=my_data.index)
            incorr_labels_max.columns = ["nr incorr"]
            
            incorr_labels_min = pd.DataFrame(list(np.apply_along_axis(np.nanmin,1,df)),\
                         index=my_data.index)
            incorr_labels_min.columns = ["nr incorr"]
            
            
            incorr_avg[(l1,C)] = incorr_labels_avg
            incorr_max[(l1,C)] = incorr_labels_max
            incorr_min[(l1,C)] = incorr_labels_min

            
            
    # now find the best l1 and C
    mat_pred = pd.DataFrame(0, index=my_l1_params, columns=my_C_params)
    for s in scores_pred:
        mat_pred = mat_pred + s
    mat_pred = mat_pred/len(scores_pred)

    mat_train = pd.DataFrame(0, index=my_l1_params, columns=my_C_params)
    for s in fs_scores:
        mat_train = mat_train + s
    mat_train = mat_train/len(fs_scores)

    best_row, best_col  =np.where(mat_pred == np.max(mat_pred.values))
    best_l1 = mat_pred.index[np.max(best_row)]
    best_C = mat_pred.columns[np.min(best_col)]     
   
    run=False # we stop after one run... additional code could be added to run multiple times. Then we would need to 
    # store the reduced data matrix and rerun it
    # fs_data = my_data.loc[:, union_features[(best_l1,best_C)]]

data dimension: (340, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (340,)
regularization parameters C: [0.1]
elastic net l1_ratios: [0.1]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.1 C =  0.1 , TT split =  1
l1 =  0.1 C =  0.1 , TT split =  0
l1 =  0.1 C =  0.1l1 =  0.1 C =  0.1 , TT split =  5
 l1 =  0.1 C =  0.1 , TT split =  6
l1 =  0.1, TT split =  2
 C =  0.1l1 =  0.1 C =  0.1 , TT split =  7
 , TT split =  3
l1 =  0.1 C =  0.1 , TT split =  4
l1 =  0.1 C =  0.1 , TT split =  8
l1 =  0.1 C =  0.1 , TT split =  9
l1 =  0.1 C =  0.1 , TT split =  10
l1 =  0.1 C =  0.1 , TT split =  11
l1 =  0.1 C =  0.1 , TT split =  14
l1 =  0.1 C =  0.1 , TT split =  13
l1 = l1 =  0.1 C =  0.1 , TT split =  12
 0.1 C =  0.1 , TT split =  15
l1 =  0.1 C =  0.1 , TT split =  16
l1 =  0.1 C =  0.1 , TT split =  17
l1 = l1 =  0.1  l1 =  0.1 C =  0.1 C =  0.1 , TT split =  20, TT split = 0.1 C =  0.1
 19
, TT split =  18
l1 =  l1 = 0.1l1 =   C =  0.1 , TT split =   0.1 C =  0.1 , TT split =  21
0.122
 C =  0.1 , TT split =  23
l1 =  0.1 C =  0.1 , TT split =  24
l1 =  0.1 C =  0.1 , TT split =  25
l1 =  0.1 C =  0.1 , TT split =  26
l1 =  0.1 C =  0.1 , TT split =  28
l1 =  0.1 C =  0.1 , TT split =  27
l1 =  0.1 C =  0.1 , TT split =  29
l1 =  0.1 C =  0.1 , TT split =  30
l1 =  0.1 C =  0.1 , TT split =  32
l1 =  0.1 C = l1 =  0.1 , TT split =  31 0.1
 C =  0.1 , TT split =  33
l1 =  0.1l1 =  C =  0.1 , TT split =  35
 0.1 C =  0.1 , TT split =  34
l1 =  0.1 C =  0.1 , TT split =  36
l1 =  0.1 C =  0.1 , TT split =  37
l1 =  0.1 C =  0.1 , TT split =  38
l1 =  0.1 C =  0.1 , TT split =  39
l1 =  0.1 C =  0.1 , TT split =  40
l1 =  0.1 C =  0.1 , TT split =  41
l1 =  0.1 C =  0.1 , TT split =  42
l1 =  0.1 C =  0.1 , TT split =  43
l1 =  0.1 C =  0.1 , TT split =  44
l1 =  0.1 C =  0.1 , TT split =  45
l1 =  0.1 C =  0.1 , TT split =  47
l1 =  0.1 C =  0.1 , TT split =  46
l1 =  0.1 C =  0.1 , TT split =  48
l1 = l1 =   0.1 C =  0.10.1 , TT split =  50
l1 =   0.1 C =  0.1 , TT split =  51
C =  0.1 , TT split =  49
l1 =  0.1 C =  0.1 , TT split =  52
l1 =  0.1 C =  0.1 , TT split =  53
l1 =  0.1 C =  0.1 , TT split =  54
l1 =  0.1 C =  0.1 , TT split =  55
l1 = l1 =  0.1 C =   0.1 0.1 , TT split =  56C =  0.1 , TT split =  57

l1 =  0.1 C =  0.1l1 =  0.1 , TT split =  58
 C =  0.1 , TT split =  59
l1 =  0.1 C =  0.1 , TT split =  60
l1 =  0.1 C =  0.1 , TT split =  61
l1 =  0.1 C =  0.1 , TT split =  62
l1 = l1 =  0.1 C =  0.1 , TT split =   0.1 C = 64
 0.1l1 =  0.1 C =  0.1 , TT split =  63
 , TT split =  65
l1 =  0.1 C =  0.1 , TT split =  67
l1 =  0.1 C =  0.1 , TT split =  66
l1 =  0.1 C =  0.1 , TT split =  68
l1 =  0.1 C =  0.1 , TT split =  69
l1 =  0.1 C =  0.1 , TT split =  70
l1 =  0.1 C =  0.1 , TT split =  71
l1 = l1 =  0.1 C =  0.1 , TT split =  72
 0.1 C =  0.1 , TT split =  73
l1 =  0.1l1 =  C =  0.1 , TT split =  75
 0.1 C =  0.1 , TT split =  74
l1 =  0.1 C =  0.1 , TT split =  76
l1 =  0.1 C =  0.1 , TT split =  77
l1 =  0.1 C =  0.1 , TT split =  78
l1 =  0.1 C = l1 =  0.1 C =  0.1 , TT split =  80
 0.1 , TT split =  79
l1 =  0.1 C =  0.1 , TT split =  81
l1 =  0.1 C =  0.1 , TT split =  82
l1 =  0.1 C =  0.1 , TT split = l1 =   83
0.1 C =  0.1 , TT split =  85l1 =  0.1 C =  0.1 , TT split =  84

l1 =  0.1 C =  0.1 , TT split =  86
l1 =  0.1 C =  0.1 , TT split =  87
l1 =  0.1l1 =   0.1 C =  0.1 , TT split =  89
C =  0.1 , TT split =  88
l1 =  l1 = 0.1 l1 =  0.1 0.1 C =  0.1 , TT split = C =  0.1 , TT split =  90
 C =  0.1 , TT split =   9291

l1 =  l1 = 0.1 C =   0.1 0.1 C =  0.1 , TT split =  94, TT split =  93

l1 =  0.1 C =  0.1 , TT split =  95
l1 =  0.1 C =  0.1 , TT split =  96
l1 =  l1 =  0.1 C =  0.1 , TT split =  97
0.1 C =  0.1 , TT split = l1 =  0.1 C =  0.1 , TT split =   99
98

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [0.1]
elastic net l1_ratios: [0.1]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.1 C =  0.1 , TT split =  l1 =  0.1 C =  0.1 , TT split =  0
2
l1 = l1 =  0.1 C =  0.1 , TT split =  1
l1 =  0.1 l1 =  0.1 C = l1 =  0.1   0.1 , TT split =  C = C =  0.1 , TT split =  3
 0.1 C =  0.1 , TT split =  4
0.1 , TT split =  56

l1 =  0.1 C =  0.1 , TT split =  7
l1 =  0.1l1 =  C =  0.1 , TT split =  8
 0.1 C =  0.1 , TT split =  9
l1 =  0.1 C =  0.1 , TT split =  10
l1 =  0.1 C =  0.1l1 =  0.1  , TT split =  11
C =  0.1 , TT split =  14l1 = l1 =  0.1 C =
 0.1 0.1 , TT split =  12
C =  0.1l1 =   0.1 C =  0.1 , TT split =  13
, TT split =  15
l1 =  0.1 C =  0.1 , TT split =  16
l1 =  0.1 C =  0.1 , TT split =  17
l1 =  0.1 C =  0.1 , TT split =  19
l1 =  0.1 C =  0.1 , TT split =  18
l1 =  0.1 C =  0.1 , TT split =  l1 =  0.1 C =  0.1 , TT split =  21
23
l1 =  0.1 C =  0.1 , TT split =  20
l1 =  0.1 C =  0.1 , TT split =  22
l1 =  0.1 C =  0.1 , TT split =  24
l1 =  0.1 C =  0.1 , TT split =  25
l1 =  0.1 C =  0.1 , TT split =  27
l1 =  0.1 C =  0.1 , TT split =  26
l1 =  0.1l1 =  l1 =  0.1 C =  0.1  l1 =  0.1 C =  0.1 , TT split =  29
0.1, TT split =  31
 C =  0.1 , TT split =  C =  0.1 , TT split =  30
28
l1 =  0.1 C =  0.1 , TT split =  32
l1 =  0.1 C =  0.1 , TT split =  33
l1 =  0.1 C =  0.1 , TT split =  34
l1 =  0.1 C =  0.1 , TT split =  36
l1 = l1 =   0.1 C = 0.1 0.1 , TT split =  35
 C =  0.1 , TT split =  38l1 =
 0.1 C =  0.1 , TT split =  37
l1 =  0.1 C =  0.1 , TT split =  39
l1 =  0.1 C =  0.1 , TT split =  40
l1 =  0.1 C =  0.1 , TT split =  41
l1 =  0.1 C =  0.1 , TT split =  43
l1 =  0.1 C =  0.1 , TT split =  42
l1 =  0.1 C =  0.1 , TT split =  44
l1 =  0.1 C =  0.1 , TT split =  46
l1 =  0.1 C =  0.1 , TT split = l1 =  45
 0.1 C =  0.1 , TT split =  47
l1 =  0.1 C =  0.1 , TT split =  48
l1 =  0.1 C =  0.1 , TT split =  49
l1 =  0.1 C =  0.1 , TT split =  50
l1 =  0.1 C =  0.1 , TT split =  51
l1 =  0.1l1 =  C =  0.1 , TT split =  53
 0.1 C =  0.1l1 =   0.1 , TT split =  52
l1 =  0.1 C =  0.1 , TT split =  C =  0.1 , TT split = 55
 54
l1 =  l1 =  0.1 C =  0.1 , TT split =  57
0.1 C =  0.1 , TT split =  56
l1 =  0.1 C =  0.1 , TT split =  58
l1 =  0.1 C =  0.1 , TT split =  59
l1 =  0.1 C =  0.1 , TT split =  61
l1 =  0.1 C =  0.1 , TT split =  62
l1 =  0.1 C =  0.1 , TT split =  60
l1 =  0.1 C =  0.1 , TT split =  63
l1 = l1 = l1 =  0.1 C =  0.1 , TT split =  64 0.1  C =  0.1 0.1
 C =  0.1 , TT split =  65
, TT split =  66
l1 =  0.1 C =  0.1 , TT split =  67
l1 =  0.1 C =  0.1 , TT split =  68
l1 =  0.1 C =  l1 =  0.1 C =  0.1 , TT split =  70
0.1 , TT split =  69
l1 =  0.1 C =  0.1 , TT split =  71
l1 =  0.1 C =  0.1 , TT split = l1 =  72
l1 =  0.1 C =  0.1 , TT split =  74
 0.1 C =  0.1 , TT split =  73
l1 =  0.1 C =  0.1 , TT split =  75
l1 =  0.1 C =  0.1 , TT split =  76
l1 =  0.1 C =  0.1 , TT split =  77
l1 =  0.1 C =  0.1 , TT split =  78
l1 = l1 =  0.1 C =  0.1 , TT split =   800.1 C =  0.1 , TT split =  79

l1 =  0.1 C =  0.1 l1 = , TT split =   0.1 C =  810.1 , TT split =  82

l1 =  0.1 C =  0.1l1 =  , TT split =  0.1 83
 C =  0.1 , TT split =  84
l1 =  0.1 C =  0.1 , TT split =  85
l1 =  0.1 C =  0.1 , TT split =  86
l1 =  0.1 C =  0.1 , TT split =  87
l1 =  0.1 C =  0.1 , TT split =  88
l1 = l1 =  0.1 C =   0.10.1 , TT split =   89
C =  0.1 , TT split =  90
l1 =  0.1 C =  0.1 , TT split =  91l1 =
 0.1 C =  0.1 , TT split =  92
l1 =  0.1 C =  0.1 , TT split =  93
l1 =  0.1 C =  0.1 , TT split =  94
l1 =  0.1 C =  0.1 , TT split =  95
l1 =  0.1 C =  0.1 , TT split =  96
l1 =  0.1 C =  0.1 , TT split =  98
l1 = l1 =  0.1 C =  0.1  0.1 C =  0.1 , TT split =  , TT split =  99
97

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [0.1]
elastic net l1_ratios: [0.1]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.1 C =  0.1 , TT split =  l1 =  0.1 C =  0.1 , TT split =  l1 =  0.1 C =  0.11
 , TT split =  4
l1 =  0.1 C =  0.1 , TT split =  2
l1 =  0.1 C =  0.1 , TT split =  75

l1 =  0.1 C =  0.1 , TT split =  0
l1 =  0.1 C =  0.1 , TT split =  6
l1 =  0.1 C =  0.1 , TT split =  3
l1 =  0.1 C =  0.1 , TT split =  8
l1 =  0.1 C =  0.1 , TT split =  9
l1 =  l1 =  0.1 C =  0.10.1 C =  l1 = l1 =  0.1 , TT split =  13
, TT split =  0.1 C =  0.1  12
 0.1 C =  0.1 , TT split =  10, TT split =
11
l1 =  0.1 C =  l1 = 0.1 , TT split =  14
 0.1 C =  0.1 , TT split =  15
l1 =  0.1 C =  0.1 , TT split =  16
l1 =  0.1 C =  0.1 , TT split =  17
l1 = l1 =  0.1  C =  0.1 , TT split =  180.1 C =
0.1l1 =  , TT split = l1 =   0.1 0.1 C =  0.1 , TT split =  20
l1 =  0.1 C =  0.1 , TT split =  23
 22
C = l1 =  0.1 C =  0.1 , TT split =  19
 0.1 , TT split =  21
l1 =  0.1 C =  0.1 , TT split =  24
l1 =  0.1 C =  l1 =  0.1 C =  0.1 , TT split =  25
0.1 , TT split =  26
l1 =  0.1 C =  0.1 , TT split =  28
l1 = l1 =  0.1 C =  0.1 0.1 C =  0.1 , TT split =  27
 l1 = , TT split =  31
l1 =  0.1 0.1 C =  C =  0.1 , TT split =  30 0.1 , TT split =  29

l1 =  0.1 C =  0.1 , TT split =  32
l1 =  0.1 C =  0.1 , TT split =  33
l1 =  0.1 C =  0.1 , TT split =  34
l1 =  0.1 C =  0.1 , TT split =  35
l1 = l1 =   0.1 C =  0.1 C =  0.1 , TT split =  39
0.1 , TT split =  37
l1 =  0.1 l1 =  0.1 C =  0.1 , TT split =  38
C =  0.1 , TT split =  l1 = 36 0.1 C =  0.1 , TT split =  40

l1 =  0.1 C =  0.1 , TT split =  41
l1 =  0.1 C =  0.1 , TT split =  42
l1 = l1 =  0.1 C =  0.1 , TT split =  44
l1 =  0.1 0.1 C =  0.1 , TT split =  43
 C =  0.1 , TT split =  45
l1 =  0.1 C =  0.1 , TT split =  46
l1 = l1 =  0.1 C =  0.1 , TT split =  47
 0.1 C =  0.1 , TT split =  48
l1 =  0.1 C =  0.1 , TT split =  49
l1 =  0.1 C =  0.1 , TT split =  50
l1 =  0.1 C =  0.1 , TT split =  51
l1 =  0.1 C = l1 =  0.1 , TT split =  54
 0.1 C =  0.1 , TT split =  52
l1 =  0.1 C =  0.1 , TT split =  53
l1 =  0.1 C =  0.1 , TT split =  56l1 =  0.1 l1 = C =  0.1 C =  0.1 , TT split =  55

 0.1 , TT split =  57
l1 =  0.1 C =  0.1 , TT split =  58
l1 =  0.1 C =  0.1 , TT split =  59
l1 =  0.1 C =  0.1 , TT split =  60
l1 =  0.1 C = l1 =  0.1 C =  0.1 l1 =  0.1 , TT split =  62, TT split =  63

 0.1 C =  0.1 , TT split =  61
l1 =  0.1 C =  0.1 l1 = , TT split =  64
 l1 = 0.1  0.1 C =  0.1 , TT split =  65
C =  0.1 , TT split =  66
l1 =  0.1 C =  0.1 , TT split =  67
l1 =  0.1 C =  0.1 , TT split =  68
l1 =  0.1 C =  0.1 , TT split =  69
l1 =  0.1 l1 =  l1 =  0.1C =  l1 =  0.1 C =  0.1 , TT split = 0.1 C =  0.1 , TT split =  730.1 , TT split =  70

72
C =  0.1 , TT split =  71
l1 =  0.1 C =  0.1 , TT split =  74
l1 =  0.1 C =  0.1 , TT split =  75
l1 =  0.1 C =  0.1 , TT split =  76
l1 =  0.1 C =  0.1 , TT split =  77
l1 =  0.1 C =  l1 = l1 = 0.1 0.1 C =  0.1 , TT split =   , TT split = l1 =  0.1 C =  78
79
 0.1 , TT split =  80
 0.1 C =  0.1 , TT split =  81
l1 =  0.1 C =  0.1 , TT split =  82
l1 =  0.1 C =  0.1 , TT split =  83
l1 =  0.1 C =  0.1 , TT split =  84
l1 =  l1 =  0.1 l1 =  0.1 C =  0.1 , TT split =  86
C =  0.1 , TT split =  85
0.1 C =  0.1 , TT split =  87
l1 =  0.1 C =  0.1 , TT split =  l1 = 88
0.1 C =  0.1 , TT split =  89
l1 =  0.1 C =  0.1 , TT split =  90
l1 =  0.1 C =  0.1 , TT split =  92
l1 =  0.1 C =  0.1 , TT split =  91
l1 =  0.1 C =  0.1 , TT split =  93
l1 = l1 =   0.1 C =  0.1 , TT split =  960.1
 C =  0.1 , TT split =  94
l1 =  0.1 C =  0.1 , TT split =  95
l1 = l1 =  0.1 C =  0.1 C =  0.1 , TT split =  98
 0.1 , TT split =  97
l1 =  0.1 C =  0.1 , TT split =  99

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [0.1]
elastic net l1_ratios: [0.1]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  l1 =  0.1 0.1 C =  0.1l1 =  0.1 C =  0.1 , TT split =  3
 C = , TT split =   0.1 , TT split =  4
1l1 =  0.1
C =  0.1l1 =  0.1 C =  0.1 , TT split =  2 , TT split =  0

l1 =  0.1 C =  0.1 l1 =  0.1, TT split =  5
 C =  0.1 , TT split =  6
l1 =  0.1 C =  0.1 , TT split =  7
l1 =  0.1 C =  0.1 , TT split =  8
l1 = l1 =  0.1 C =  0.1 C =   0.1 , TT split =  11
0.1l1 =  l1 =  0.1 C =  0.1 , TT split = , TT split =  13l1 =  0.1 C =  0.1 , TT split =  12
 9
 0.1 C =  0.1
, TT split =  10
l1 =  0.1 C =  0.1 , TT split =  14
l1 =  0.1 C =  0.1 , TT split =  15
l1 =  0.1 C =  0.1 , TT split =  16
l1 = l1 =  0.1 C =  0.1 , TT split =  18
l1 =  0.1 C =  0.1 , TT split =  19
 0.1 l1 = C =  0.1  0.1 C =  0.1 , TT split =  22
, TT split =  20
l1 = l1 =  0.1 C =  0.1 , TT split =  21
 0.1 C =  0.1 , TT split =  23
l1 =  0.1 C =  0.1 , TT split =  17
l1 = l1 = l1 =   0.1 C =  0.10.1 C =  0.1 C =  0.1 , TT split =  26
 0.1 , TT split =  24
 , TT split =  25
l1 = l1 =  0.1 C =  0.1  , TT split =  l1 = 30
 0.10.1l1 =  C =  C =  0.1 , TT split =  27
  0.1 , TT split = 0.1 C =  0.1 , TT split =   28
29
l1 =  0.1 C =  0.1 , TT split =  31
l1 =  0.1 C =  0.1 , TT split =  33
l1 =  0.1 C =  0.1 , TT split =  32
l1 =  0.1 C =  0.1 , TT split =  34
l1 =  0.1 C =  0.1 , TT split = l1 =  37
 0.1l1 =  0.1 C =  0.1 , TT split =  39
 l1 =  0.1 C =  C =  0.1 , TT split =  0.1 , TT split =  35
38
l1 =  0.1 C =  0.1 , TT split =  36
l1 =  0.1 C =  0.1 , TT split =  40
l1 =  0.1 C =  0.1 , TT split =  41
l1 =  0.1 C =  0.1 , TT split =  42
l1 =  0.1 l1 = C =  0.1 , TT split =  43
 0.1 C =  0.1 , TT split =  44
l1 =  0.1l1 =   C = 0.1 C =   0.10.1 , TT split =   , TT split =  46
45
l1 =  0.1 C =  0.1 , TT split =  47
l1 =  0.1 C =  0.1 , TT split =  48
l1 =  0.1 C =  0.1 , TT split =  49
l1 =  0.1 C =  0.1 , TT split =  50
l1 = l1 =  0.1 C =  0.1  , TT split = l1 =  0.1 l1 =  0.1 C =  0.1 , TT split =  55
 C =  0.1 , TT split =  53
l1 =  0.1 C = 51
0.1  C =  0.1 , TT split =  0.152
 , TT split =  54
l1 =  0.1 C =  0.1 , TT split =  56
l1 = l1 =  l1 =  0.1 C =  0.1 , TT split =   0.1 C = 58
0.1 C =  0.1 , TT split =  57
 0.1 , TT split =  60
l1 =  0.1 C =  0.1l1 =  l1 =  0.1 C =  0.1 0.1 C =  0.1 , TT split =  62
 , TT split = , TT split =  59
 61
l1 =  0.1 C =  0.1 , TT split =  63
l1 =  0.1 C =  0.1 , TT split =  64
l1 =  0.1 C =  0.1 , TT split =  65
l1 =  0.1 C =  0.1 , TT split =  67
l1 =  0.1 C =  0.1 , TT split = l1 =  66
 l1 =  0.1 C =  0.1 , TT split =  71
0.1 C =  l1 = 0.1 , TT split =  68
 0.1 C =  0.1 , TT split =  70
l1 =  0.1 C =  0.1 , TT split =  72
l1 =  0.1 C =  0.1 , TT split =  69
l1 =  0.1 C =  0.1 , TT split =  73
l1 =  0.1 C =  0.1 , TT split =  74
l1 =  0.1 C =  0.1 , TT split =  75
l1 = l1 =  0.1 C =  0.1  0.1 C =  0.1 , TT split = l1 =  76
, TT split =  0.1 C =  0.1  78
l1 =  , TT split =  79
l1 =  0.1 C =  0.1 , TT split =  80
0.1 C =  0.1 , TT split =  77
l1 =  0.1 C =  0.1 , TT split =  81
l1 =  0.1 C =  0.1 , TT split =  82
l1 =  0.1 C =  l1 = 0.1  , TT split =  0.1 C =  0.183 , TT split =  84

l1 = l1 = l1 =  l1 =  0.1 C =  0.1 C =  0.1 , TT split =  0.10.1 C =  0.1 , TT split =  87
 0.1 , TT split =  85
 C =   89
l1 =  0.1 C =  0.1 , TT split =  88
0.1 , TT split =  86
l1 =  0.1 C =  0.1 , TT split =  90
l1 =  0.1 C =  0.1 , TT split =  91
l1 =  0.1 C =  l1 =  0.1 0.1l1 =  0.1 C = C =   0.1 , TT split =  0.1 , TT split =  95, TT split =
 92
 l1 = 93
 0.1 C =  0.1 , TT split =  96
l1 =  0.1l1 =  0.1 C =   0.1 , TT split =  97
C =  0.1 , TT split =  94
l1 =  0.1 C =  0.1 , TT split =  98
l1 =  0.1 C =  0.1 , TT split =  99

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [0.1]
elastic net l1_ratios: [0.1]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.1 C =  0.1 l1 =  0.1 l1 =  0.1 C =  0.1 , TT split =  0
, TT split =  3
C = l1 =  0.1 C =  l1 =  0.1 0.1 , TT split =  6
0.1 , TT split =  l1 =  0.15
  C =  0.1 , TT split = C =   40.1l1 =  0.1
 , TT split =  1
C = l1 =  0.1 C =  0.1  0.1 , TT split = , TT split =  2
 7
l1 =  0.1 C =  0.1 , TT split =  8
l1 =  0.1 C =  0.1 , TT split =  l1 = 9
 0.1 C =  l1 =  0.1 , TT split =  10
0.1 C =  0.1 , TT split =  11
l1 =  0.1 C =  0.1 , TT split =  14l1 =
l1 =  0.1 C =  0.1 , TT split =  12
 0.1 C =  0.1 , TT split =  13
l1 =  0.1 C =  0.1 , TT split =  15
l1 =  0.1 C =  0.1 , TT split =  16
l1 =  0.1 C =  0.1 , TT split =  17
l1 =  0.1 C =  0.1 , TT split =  18
l1 =  0.1 C =  l1 = l1 = 0.1 , TT split =  19
l1 =  0.1 C =  0.1 0.1 C =  0.1 0.1 C =  0.1 , TT split =  21
 , TT split =  20
l1 =  0.1  , TT split =  23
C =  0.1 , TT split =  22
l1 =  0.1 C =  0.1 , TT split =  24
l1 =  0.1 C =  0.1 , TT split =  25
l1 = l1 = l1 = l1 =  0.1 C =  0.1   , TT split =  28 0.1 C =  0.1 , TT split =  270.1 C =  0.1 , TT split =  26
l1 =
l1 = 0.1 C =  0.1 , TT split =  32

l1 =   0.1 C =   0.1 C =  0.1 , TT split = 0.1 C =  0.1 , TT split =  30
0.1  29
, TT split =  31
l1 =  0.1 C =  0.1 , TT split =  33
l1 =  0.1 C =  0.1 , TT split =  34
l1 = l1 =  0.1 C =  0.1 , TT split =  37
 l1 =  0.1 C =  l1 =  0.1 0.1 , TT split =  38
0.1 C =  0.1 , TT split =  35
C =  0.1 , TT split =  39
l1 =  0.1 C =  0.1 , TT split =  40
l1 =  0.1 C =  0.1 , TT split =  36
l1 =  0.1 C =  0.1 , TT split =  41
l1 =  0.1 C =  0.1 , TT split =  42
l1 = l1 =  0.1 C =   0.1 C =  0.1 , TT split =  43
0.1 , TT split =  44
l1 =  0.1 C =  0.1 , TT split =  45
l1 =  0.1 C =  0.1 , TT split =  46
l1 = l1 =   0.1 C =  0.1 , TT split =  48
0.1 C =  l1 = 0.1  0.1 C =  0.1 , TT split =  , TT split =  47
49
l1 =  0.1 C =  0.1 , TT split =  50
l1 =  0.1 C =  0.1 , TT split =  51
l1 =  l1 =  0.1 C =  0.1 0.1l1 = , TT split = l1 =  0.1 C =  0.1 , TT split =   54
  52
C =  0.1 , TT split =  550.1 C =  0.1 , TT split =
 53
l1 =  0.1 C =  0.1 , TT split =  57
l1 =  0.1 C =  0.1 , TT split =  56
l1 =  0.1 C =  0.1 , TT split =  58
l1 =  0.1 C =  0.1 , TT split =  59
l1 =  0.1 C =  0.1 , TT split =  60
l1 = l1 =  0.1 C =  0.1 , TT split =  61
 0.1 l1 =  0.1 C =  0.1 , TT split = C =  0.1 , TT split =  62
 l1 =  0.1 C =  l1 = 650.1 0.1 C =  0.1 , TT split =
64 , TT split =  63

l1 =  0.1 C =  0.1 , TT split =  66
l1 =  0.1 C =  0.1 , TT split =  67
l1 =  0.1 C =  0.1 , TT split =  68
l1 =  0.1 C =  0.1 , TT split =  69
l1 =  0.1 C =  0.1 , TT split =  70
l1 =  0.1 C = l1 =  0.1l1 =  0.1  , TT split =  72
C =  l1 = 0.1 , TT split =  73
 0.1 C =  0.1  0.1 C =  , TT split =  71
0.1 , TT split =  74
l1 =  0.1 C =  0.1 , TT split =  75
l1 =  0.1 C =  0.1 , TT split =  76
l1 =  0.1 C =  0.1 , TT split =  77
l1 =  0.1 C =  0.1 , TT split =  78
l1 =  l1 = 0.1 0.1 C =  0.1 , TT split =  80
 C =  0.1 l1 =  0.1 C =  0.1, TT split =  , TT split =  83 79
l1 =
l1 =  0.1 C =  0.1 , TT split =  81
 0.1 C =  0.1 l1 = , TT split =  84
 0.1 C =  0.1 , TT split =  82
l1 =  0.1 C =  0.1 , TT split =  85
l1 =  l1 = 0.1 C =  0.1 , TT split =  86
 0.1 C =  0.1 , TT split =  87
l1 =  0.1 C =  0.1 , TT split =  91
l1 =  0.1 C =  l1 =  0.1 0.1 , TT split =  90C =  0.1 , TT split =  88
l1 =  0.1 C =
 0.1 , TT split =  89
l1 =  0.1 C =  0.1 , TT split =  92
l1 =  0.1 C =  0.1 , TT split =  93
l1 =  0.1 C =  0.1 , TT split =  94
l1 =  0.1 C =  0.1 , TT split =  95
l1 =  0.1 C =  0.1 , TT split =  96
l1 = l1 =  0.1l1 =  C =  0.1 , TT split =  99
 0.1 C =   0.1 C =  0.10.1  , TT split =  , TT split =  98
97

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (340, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (340,)
regularization parameters C: [0.1]
elastic net l1_ratios: [0.5]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.5 l1 =  0.5 C =  0.1 , TT split =  0
C = l1 =  0.5 C =  0.1  0.1 , TT split =  2l1 =  0.5 C = , TT split = l1 =  0.5 C =  0.1 , TT split =
 1
l1 =  0.5 C =   0.10.1l1 =  0.5 C =  0.1  , TT split =  4
, TT split =  7
, TT split = 6
 5
l1 =  0.5 C =  0.1 , TT split =  3
l1 =  0.5 C =  0.1 , TT split =  8
l1 =  0.5 C =  0.1 , TT split =  9
l1 =  0.5 C =  0.1 , TT split =  12
l1 =  0.5 C =  0.1 , TT split = l1 =  10
 0.5 C =  0.1 , TT split =  11l1 =  0.5 C =  0.1 , TT split =  13
l1 =  0.5
 C =  0.1 , TT split =  14
l1 =  0.5 C =  0.1 , TT split =  15
l1 =  0.5 C =  0.1 , TT split =  16
l1 =  0.5 C =  0.1 , TT split =  17
l1 = l1 =  0.5 C =  0.1 , TT split =  21
 0.5 C =  0.1 , TT split =  22
l1 = l1 =  0.5 C =  0.1 , TT split =   0.5 C =  0.120 , TT split =  18
l1 =
 0.5 C =  0.1 , TT split =  19
l1 =  0.5 C =  0.1 , TT split =  23
l1 =  0.5 C =  0.1 , TT split =  24
l1 =  0.5 C =  0.1 , TT split =  25
l1 =  0.5 C =  0.1 , TT split =  26
l1 = l1 =   0.5 0.5 C =  0.1C =  , TT split =  27
 0.1 , TT split =  29
l1 =  l1 = 0.5 C =  0.1 , TT split =   31
0.5 C =  0.1 , TT split = l1 =  28
l1 =  0.5 C =  0.1 , TT split =   0.5 C =  30
0.1 , TT split =  32
l1 =  0.5 C =  0.1 , TT split =  33
l1 =  0.5 C =  0.1 , TT split =  34
l1 =  0.5 C =  0.1 , TT split =  35
l1 =  0.5 C =  0.1 , TT split =  36
l1 =  0.5 C =  0.1 , TT split =  37
l1 =  0.5 C =  0.1 , TT split =  38
l1 =  0.5 C =  0.1 , TT split =  39
l1 =  0.5 C =  0.1 , TT split =  40
l1 =  0.5 C =  l1 = 0.1 , TT split =  41
 0.5 C =  0.1 , TT split =  42
l1 =  0.5 C =  0.1 , TT split =  43
l1 =  0.5 C =  0.1 , TT split =  44
l1 =  0.5 C =  0.1 , TT split =  46
l1 =  0.5 C =  0.1 , TT split =  45
l1 =  0.5 C = l1 =  0.5 C =   0.1 , TT split = 0.1 , TT split =  47
 48
l1 =  0.5 C = l1 =   0.5 C =  0.1 , TT split =  50
0.1 , TT split =  51
l1 =  0.5 C =  0.1 , TT split =  49
l1 =  0.5 C =  0.1 , TT split =  52
l1 =  0.5 C =  0.1 , TT split =  53
l1 =  0.5 C =  0.1 , TT split =  54
l1 =  0.5 C =  0.1 , TT split =  55
l1 =  0.5 C =  0.1 , TT split =  56
l1 =  0.5 C =  l1 =  0.5 C =  0.10.1  , TT split = , TT split =   57
58l1 =  0.5 C = l1 =
 0.50.1 , TT split =  59
 C =  0.1 , TT split =  60
l1 =  0.5 C =  0.1 , TT split =  61
l1 =  0.5 C =  0.1 , TT split =  62
l1 =  0.5 C =  0.1 , TT split =  63
l1 =  0.5 C =  0.1 , TT split =  64
l1 =  0.5 C =  0.1 , TT split =  66
l1 =  0.5 C =  0.1 l1 = l1 =  0.5 C =  0.1 , TT split =  68
 0.5 C =  0.1 , TT split = , TT split = l1 =  69 0.5 l1 =
 0.5 C =  0.1 , TT split =  67
C =  0.1 , TT split =   70
65
l1 =  0.5 C =  0.1 , TT split =  71
l1 =  0.5 C =  0.1 , TT split =  72
l1 = l1 =  0.5 C =  0.1 l1 =  0.5 C =   0.1 , TT split =  73
0.5 C =  0.1 , TT split =  74
, TT split =  75
l1 = l1 =  0.5 C =  0.1 , TT split =   0.5 C =  0.1 , TT split =  78
76l1 =  0.5 C =  0.1 , TT split =  79

l1 =  0.5 C =  0.1 , TT split =  77
l1 =  0.5 C =  0.1 , TT split =  80
l1 =  0.5 C =  0.1 , TT split =  81
l1 = l1 =  0.5 C =  0.1 , TT split =  84
 0.5 C =  0.1 , TT split =  82
l1 =  0.5 C =  0.1l1 =  0.5 C = l1 =   0.5 C =  0.1 0.1 , TT split =  86
 , TT split =  83
, TT split =  85
l1 =  0.5 C =  0.1 , TT split =  87
l1 =  0.5 C =  0.1 , TT split =  88
l1 =  0.5 C =  0.1 , TT split =  89
l1 =  0.5 C =  0.1 , TT split =  90l1 =
 0.5 C =  0.1 , TT split =  92
l1 =  0.5 l1 = C = l1 =  0.1  0.5  C =  0.1 , TT split =  93, TT split =  91
0.5 C =  0.1 , TT split = l1 =  0.5
C =  0.1 , TT split =  95
l1 =   94
0.5 C =  0.1 , TT split =  96
l1 =  0.5 C =  0.1 , TT split =  97
l1 =  0.5 C =  0.1 , TT split =  98
l1 =  0.5 C =  0.1 , TT split =  99

C:\Users\ajenul\OneDrive - Norwegian University of Life Sciences\GitHub\RENT\src\RENT\RENT.py:76: RuntimeWarning: invalid value encountered in true_divide
  abs(means / np.sqrt((stds ** 2) / len(weight_list))), \
C:\NMBU\Miniconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1847: RuntimeWarning: invalid value encountered in greater_equal
  cond2 = (x >= np.asarray(_b)) & cond0
C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [0.1]
elastic net l1_ratios: [0.5]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.5 C =  0.1 , TT split =  4
l1 =  0.5 C =  0.1 , TT split =  1
l1 =  0.5 C =  0.1 , TT split =  0
l1 =  0.5 C =  0.1 , TT split =  2
l1 =  0.5 C = l1 =  0.5 C =  0.1 , TT split =  7
l1 =  0.5 C =  0.1 , TT split =  6
 0.1 , TT split =  l1 =  0.53
 C =  0.1 , TT split =  5
l1 =  0.5 C =  0.1 , TT split =  8
l1 =  0.5 C =  0.1 , TT split =  9
l1 = l1 =  0.5 C =  0.1 , TT split =  10
l1 =  0.5 C =  0.1 0.5 C =  0.1 , TT split =  11
, TT split =  12l1 =
 0.5 l1 =  0.5 C =  0.1 , TT split = C =  0.1 , TT split =  13
 14
l1 =  0.5 C =  0.1 , TT split =  15
l1 =  0.5 C =  0.1 , TT split =  16
l1 =  0.5 C = l1 =  0.5  0.1 , TT split =  C =  0.1 , TT split =  17
18
l1 =  0.5 C =  0.1 , TT split =  19
l1 = l1 =  l1 =  0.5 C =  0.1 , TT split = 0.5 0.5 C =  0.1 , TT split =  22
 20
 C =  0.1 , TT split =  21
l1 =  0.5 C =  0.1 , TT split =  23
l1 =  0.5 C =  0.1 , TT split =  24
l1 =  0.5 C =  0.1 , TT split =  26
l1 =  0.5 C =  0.1 , TT split =  25
l1 =  0.5 C =  0.1 , TT split =  27
l1 =  0.5 C =  0.1 , TT split =  28
l1 =  l1 =  0.50.5 C =  0.1 , TT split =  32
 l1 =  0.5 C =  0.1 , TT split =  30
C =  0.1 , TT split =  29
l1 =  0.5 C =  0.1 , TT split =  31
l1 =  0.5 C =  0.1 , TT split =  33
l1 =  0.5 C =  0.1 , TT split =  34
l1 =  0.5 C =  0.1 , TT split =  35
l1 =  0.5 C =  0.1 , TT split =  36
l1 =  l1 =  0.5 C =  0.10.5 , TT split =  40l1 =
 0.5 C =  0.1 , TT split =  38
 C =  0.1 , TT split =  37
l1 =  0.5 C =  0.1 , TT split =  39
l1 =  0.5 C =  0.1 , TT split =  41
l1 =  0.5 C =  0.1 , TT split =  42
l1 = l1 =  0.5 C =  0.1 , TT split =   43
0.5 C =  0.1 , TT split =  44
l1 =  0.5 C =  0.1 , TT split =  46
l1 = l1 =  0.5 C =  0.1 , TT split =  45
 0.5 C =  0.1 , TT split =  47
l1 =  0.5 C =  0.1 , TT split =  48
l1 =  0.5 C =  0.1 , TT split =  49
l1 =  0.5 C =  0.1 , TT split =  50
l1 =  0.5 C =  0.1 , TT split =  51
l1 =  0.5 C =  0.1 , TT split =  52
l1 =  0.5 C =  0.1 , TT split =  53
l1 =  0.5 C =  0.1 , TT split =  54
l1 =  0.5 C =  0.1 , TT split =  55
l1 =  0.5 C =  0.1 , TT split =  56
l1 =  0.5 C =  0.1 , TT split =  58
l1 =  0.5 C =  0.1 , TT split =  57
l1 =  0.5l1 =  C =  0.1 , TT split =  59
 0.5 C =  0.1 , TT split =  60
l1 =  0.5 C =  0.1 , TT split =  61
l1 =  0.5 C =  0.1 , TT split =  62
l1 =  0.5 C =  0.1 , TT split =  63
l1 =  0.5 C =  0.1 , TT split =  64
l1 =  0.5 C =  0.1 , TT split =  65
l1 =  0.5 C =  0.1 , TT split =  66
l1 = l1 =   0.50.5l1 =   0.5 C =  0.1 , TT split =  69
C =  0.1 , TT split =  68
 C =  0.1 , TT split =  67
l1 =  0.5 C =  0.1 , TT split =  70
l1 =  0.5 C =  0.1 , TT split =  71
l1 =  0.5 C =  0.1 , TT split =  72
l1 =  0.5 l1 = C =   0.5 C =  0.1 , TT split =  0.174
l1 =  0.5 C =  0.1  , TT split =  73
, TT split =  76
l1 =  l1 =  0.5 C =  0.5 C =  0.1 , TT split =  75
0.1 , TT split =  77l1 =  0.5 C =  0.1 , TT split =
 78
l1 =  0.5 C =  0.1 , TT split =  79
l1 =  0.5 C =  0.1 , TT split =  80
l1 =  0.5 C =  0.1 , TT split =  81l1 =
0.5 C =  0.1 , TT split =  82
l1 =  0.5 C =  0.1 , TT split =  83
l1 =  0.5 C = l1 =  0.1 , TT split =  84
 l1 =  0.5 C =  0.1 , TT split =  86
0.5 C =  0.1 , TT split =  85
l1 =  0.5 C =  0.1 , TT split =  88
l1 =  0.5 C =  0.1 , TT split =  87
l1 =  0.5 C =  0.1 , TT split =  89
l1 =  0.5 C =  0.1 , TT split =  90
l1 =  0.5 C =  0.1 , TT split =  91
l1 =  0.5 C =  0.1 , TT split =  92
l1 =  0.5 C =  0.1 l1 =  0.5 C =  0.1 , TT split =  93
, TT split =  94
l1 =  0.5 C =  0.1 , TT split =  95
l1 =  0.5 C =  0.1 , TT split =  96
l1 = l1 =  0.5 C =  0.1 , TT split =  97
 0.5 C =  0.1 , TT split =  98
l1 =  0.5 C =  0.1 , TT split =  99

C:\Users\ajenul\OneDrive - Norwegian University of Life Sciences\GitHub\RENT\src\RENT\RENT.py:76: RuntimeWarning: invalid value encountered in true_divide
  abs(means / np.sqrt((stds ** 2) / len(weight_list))), \
C:\NMBU\Miniconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1847: RuntimeWarning: invalid value encountered in greater_equal
  cond2 = (x >= np.asarray(_b)) & cond0
C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [0.1]
elastic net l1_ratios: [0.5]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.5 C =  0.1 l1 = , TT split = l1 =  0.5 C =  0.1  0.5 C =  0.1 , TT split =  0
 3
, TT split =  6
l1 =  0.5 C =  0.1 , TT split =  4l1 =  0.5 C =  0.1
 , TT split =  2
l1 =  0.5 C =  0.1 , TT split =  1
l1 =  l1 =  0.5 C = 0.5 C =  0.1 , TT split =  7
 0.1 , TT split =  5
l1 =  0.5 C =  0.1 , TT split =  8
l1 =  0.5 C =  0.1 , TT split =  10
l1 = l1 =  0.5 C =  0.1 l1 = , TT split =  11
 0.5 C =  0.1 , TT split =  12
 0.5 C =  0.1 , TT split =  9
l1 =  l1 =  0.5 C =  0.50.1 , TT split =  15
 C =  l1 = 0.1 , TT split =  0.5  C =  0.114
 , TT split =  13
l1 =  0.5 C =  0.1 , TT split =  16
l1 =  0.5 C =  0.1 , TT split =  17
l1 =  0.5 C =  0.1 , TT split =  18
l1 =  0.5 C =  0.1 , TT split =  19
l1 = l1 =  0.5 C =  l1 =  0.5 C =  0.10.1 , TT split =   0.5 C =  0.1 , TT split =  , TT split =  20
 21
l1 = 22
 0.5 C =  0.1 , TT split =  23
l1 =  0.5 C =  0.1 , TT split =  24
l1 =  0.5 C =  0.1 , TT split =  25
l1 =  0.5 C =  0.1 , TT split =  26
l1 =  0.5 C =  0.1 , TT split =  27
l1 =  l1 = l1 =  0.5  0.50.5 C =  0.1 , TT split =  29C =  0.1 , TT split =  31
l1 =   C =  0.1 , TT split =  280.5 C =  0.1 , TT split =
30

l1 =  0.5 C =  0.1 , TT split =  32
l1 =  0.5 C =  0.1 , TT split =  33
l1 =  0.5 C =  0.1 , TT split =  34
l1 =  0.5 C =  0.1 , TT split =  35
l1 =  0.5 C =  0.1 , TT split = l1 = l1 =   0.5 C =   l1 =  0.5 C =  0.1 , TT split =  39
0.5 C =  0.1 , TT split =  38
36
0.1 , TT split =  37
l1 =  0.5 C =  0.1 , TT split =  40
l1 =  0.5 C =  0.1 , TT split =  l1 =  0.5 C =  0.1 , TT split =  42
41
l1 =  0.5 C =  0.1 , TT split =  43
l1 =  0.5 C =  0.1 , TT split =  44
l1 = l1 =   0.5 C =  0.1 , TT split = 0.5l1 =  0.5 C =  0.1 , TT split =  48 C =  0.1 , TT split =  45

47
l1 =  0.5 C =  0.1 , TT split =  46
l1 =  0.5 C =  0.1 , TT split =  49
l1 =  0.5 C =  0.1 , TT split =  50
l1 =  0.5 C =  0.1 , TT split =  51
l1 =  0.5 C =  0.1 , TT split =  52
l1 =  0.5 C =  0.1 , TT split =  53
l1 =  0.5 C =  0.1 , TT split =  54
l1 =  0.5 l1 =  C =  0.5 C =  0.1 , TT split =  56
0.1 , TT split =  55
l1 =  0.5 C =  0.1 , TT split =  57
l1 =  l1 = 0.5 C =  0.1 , TT split =  58l1 =
  0.5 C = 0.5 C =   0.1 , TT split =  59
0.1 , TT split =  60
l1 =  0.5 C =  0.1 , TT split =  61
l1 =  0.5 C =  0.1 , TT split =  62
l1 =  0.5 C =  0.1 , TT split =  63
l1 =  0.5 l1 = C =  0.1 , TT split =   0.5 C =  0.1 , TT split = 64 66

l1 = l1 =   0.5 C =  0.1 , TT split = 0.5 C =  0.1  65
, TT split =  67
l1 =  0.5 C =  0.1 , TT split =  68
l1 =  0.5 C =  0.1 , TT split =  69
l1 =  0.5 C =  0.1 , TT split =  70
l1 =  0.5 C =  0.1 , TT split =  71
l1 =  0.5 C =  0.1 , TT split =  72
l1 =  0.5 C =  0.1 , TT split =  73
l1 =  0.5 C =  0.1 , TT split =  74
l1 = l1 =  0.5 C =  0.1 , TT split =  0.5 76
 C =  0.1 , TT split =  75
l1 =  0.5 C = l1 =   0.5 C = 0.1 , TT split =  78
l1 =  0.1 , TT split =  77
 0.5 C =  0.1 , TT split =  79
l1 =  0.5 C =  0.1 , TT split =  80
l1 =  0.5 C =  0.1 , TT split =  81
l1 =  l1 =  0.5 C =  0.1 , TT split =  85
0.5 C =  0.1 , TT split =  83
l1 =  0.5 l1 = C =  0.1 , TT split =  82
 0.5 C =  0.1 , TT split =  84
l1 =  0.5 C =  0.1 , TT split = l1 =  0.5 C =  0.1 , TT split =  87
 l1 =  0.5 C =  0.1 , TT split =  8688

l1 =  0.5 C =  0.1 , TT split =  89
l1 =  0.5 C =  0.1 , TT split =  90
l1 =  0.5 C = l1 =  0.1 , TT split =  91
 0.5 C =  0.1 , TT split =  92
l1 =  0.5 C =  0.1 , TT split =  94
l1 =  0.5 C =  l1 = 0.1 , TT split =  93
 0.5 C =  0.1 , TT split =  95
l1 =  0.5 C =  0.1 , TT split =  96
l1 =  0.5 C =  0.1 , TT split =  97
l1 =  0.5 C =  0.1 , TT split =  98
l1 =  0.5 C =  0.1 , TT split =  99

C:\Users\ajenul\OneDrive - Norwegian University of Life Sciences\GitHub\RENT\src\RENT\RENT.py:76: RuntimeWarning: invalid value encountered in true_divide
  abs(means / np.sqrt((stds ** 2) / len(weight_list))), \
C:\NMBU\Miniconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1847: RuntimeWarning: invalid value encountered in greater_equal
  cond2 = (x >= np.asarray(_b)) & cond0
C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [0.1]
elastic net l1_ratios: [0.5]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.5l1 =  0.5 C = l1 =  0.5 C = l1 =  0.5 C =   C =  0.1 , TT split =  3
 0.1 , TT split =  0
l1 =  0.5 C =  0.1 , TT split =  4
l1 =  0.5 C = l1 =  0.5 C =  0.1 , TT split =  2
 0.1 , TT split =  7
0.1 , TT split =  1
 0.1 , TT split =  6
l1 =  0.5 C =  0.1 , TT split =  5
l1 =  0.5 C =  0.1 , TT split =  8
l1 =  0.5 C =  0.1 , TT split =  9
l1 = l1 =  0.5 C =  0.1 , TT split =  13
 0.5 C =  0.1 , TT split =  10
l1 =  l1 = 0.5 C =  0.1 , TT split =  12
l1 =  0.5 C =  0.1 , TT split =  14
 0.5 C = l1 =   0.5 0.1 , TT split =  15C =
 0.1 , TT split =  11
l1 =  0.5 C =  0.1 , TT split =  16
l1 = l1 =  l1 =  0.5 C =  0.1  0.5 C =  0.1 , TT split = 0.5 C =  0.1 , TT split =  17
, TT split = l1 =  l1 =  0.5 19
l1 = 18
 0.5 C =  0.1 0.5 C =  0.1 , TT split =  , TT split = 21
 C =  0.1 , TT split =  20
 22
l1 =  0.5 C =  0.1 , TT split =  23
l1 =  0.5 C =  0.1 , TT split =  24
l1 =  0.5 C =  0.1 , TT split =  25
l1 =  0.5 C =  0.1 , TT split =  26l1 =  0.5 C =  0.1
 , TT split =  30l1 =
 0.5 C =  0.1 , TT split =  27
l1 = l1 =  0.5 C =   0.5 C =  0.1 l1 =  0.5 C =  0.1 , TT split =  280.1 , TT split =  29

, TT split =  31
l1 =  0.5 C =  0.1 , TT split =  32
l1 =  0.5 C =  0.1 , TT split =  33
l1 = l1 =  0.5 C =  0.5 C =  0.1  0.1 , TT split =  , TT split =  l1 = 34
 0.5 C =  0.1 , TT split =  36
37
l1 =  0.5 C =  0.1l1 =  0.5 C =  0.1 , TT split =  35
 , TT split =  38
l1 =  0.5 C =  0.1 , TT split =  40
l1 =  0.5 C =  0.1 , TT split =  39
l1 =  l1 = l1 =  0.5 C =  0.1 , TT split =  43
0.5 C =  0.1 , TT split =  42
 0.5 C =  0.1 , TT split =  41
l1 =  0.5 C =  0.1 , TT split =  46
l1 =  0.5 C =  0.1 , TT split =  l1 = 47
 0.5 C =  0.1 l1 =  , TT split =  44
0.5 C =  0.1 , TT split =  45
l1 =  0.5 C =  0.1 , TT split =  48
l1 =  0.5 C =  0.1 , TT split =  49
l1 =  0.5 C =  0.1 , TT split =  50
l1 =  0.5 C =  0.1 , TT split =  51
l1 =  0.5 C =  0.1 , TT split =  52
l1 = l1 =  0.5 C =  0.1 , TT split = l1 =   0.5 C =  0.1 54
 , TT split = 0.5 C =  0.1 , TT split =  l1 =  0.5 C =  0.1 56
 55
, TT split =  53
l1 =  0.5 C =  0.1 , TT split =  57
l1 =  0.5 C =  0.1 , TT split =  l1 = l1 =  0.5 C =  0.1 , TT split =  61
l1 =  0.5 C =  0.5 C =  0.1 , TT split =  60
 0.1 59, TT split =
l1 =  0.558
 C =  0.1 , TT split =  63
l1 = l1 =   0.5 C =  0.1 , TT split =  0.562
 C =  0.1 , TT split =  64
l1 =  0.5 C =  0.1 , TT split =  65
l1 =  0.5 C =  0.1 , TT split =  66
l1 =  0.5 C =  0.1 , TT split =  68
l1 =  0.5 C =  0.1 , TT split =  69
l1 =  0.5 C =  l1 =  0.5 C =  0.1 , TT split =  0.1 , TT split = 67 71

l1 =  0.5l1 =  C =  0.1 , TT split =  72
 0.5 C =  0.1 , TT split =  70
l1 =  0.5 C =  0.1 , TT split =  73
l1 =  0.5 C =  0.1 , TT split =  74
l1 =  0.5 C =  0.1 , TT split =  75
l1 = l1 =  0.5 C =  l1 =  0.5 C =  0.1 , TT split =  0.5  78
0.1 , TT split =  79
C =  0.1 , TT split =  77
l1 =  0.5 C =  0.1 , TT split =  76
l1 =  l1 =  0.5 C =  0.1 , TT split = 0.5 C =  l1 =  0.5 C =  0.1 , TT split =   82
0.180 , TT split =  81

l1 =  0.5 C =  0.1 , TT split =  83
l1 =  0.5 C =  0.1 , TT split =  84
l1 =  0.5 C =  0.1 , TT split =  85
l1 =  0.5 C =  0.1 , TT split =  l1 = 88
l1 =  0.5 C =  0.1  , TT split =  87
0.5l1 =  C =  0.1 , TT split =  86
 0.5 C =  0.1 , TT split =  90
l1 =  0.5 C =  l1 =  0.5 C =  0.10.1 , TT split =  91
 , TT split =  89
l1 =  0.5 C =  0.1 , TT split =  92
l1 =  0.5 C =  0.1 , TT split =  93
l1 = l1 =  0.5 C =  0.1  , TT split =  95
0.5 C =  0.1 , TT split =  l1 =  0.5 C =  0.1 l1 = 94
l1 =  0.5 C =  0.1 , TT split =  96l1 =
, TT split =  98
 0.5  0.5 C =  0.1 , TT split =  97
C =  0.1 , TT split =  99

C:\Users\ajenul\OneDrive - Norwegian University of Life Sciences\GitHub\RENT\src\RENT\RENT.py:76: RuntimeWarning: invalid value encountered in true_divide
  abs(means / np.sqrt((stds ** 2) / len(weight_list))), \
C:\NMBU\Miniconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1847: RuntimeWarning: invalid value encountered in greater_equal
  cond2 = (x >= np.asarray(_b)) & cond0
C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [0.1]
elastic net l1_ratios: [0.5]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.5 C =  0.1 , TT split =  7
l1 =  0.5 C =  0.1 , TT split =  5
l1 =  0.5 C =  0.1 , TT split =  6
l1 =  0.5 C = l1 =  0.5 C =  0.1 , TT split =  0
l1 =  0.5 C =  l1 =  0.5 C =  0.1 , TT split =  2
0.1 , TT split =  3
 0.1l1 =  0.5 C =   , TT split =  1
0.1 , TT split =  4
l1 =  0.5 C =  0.1 , TT split =  9
l1 =  0.5 C =  0.1 , TT split =  8
l1 = l1 =  l1 =  0.5 C =  0.1 , TT split =  11
0.5 C =  0.1  0.5 C =  0.1 , TT split =  14, TT split =
 10
l1 =  0.5 C =  0.1 , TT split =  12
l1 = l1 =  0.5 C =  0.1 , TT split =  0.5 C =  0.1 , TT split =   15
13
l1 =  0.5 C =  0.1 , TT split =  16
l1 =  0.5l1 =  C = l1 =  0.5 0.1 , TT split =  19
 0.5 C =  0.1 , TT split =  20 C =  0.1 , TT split =  17

l1 = l1 =  0.5 C =  0.1 , TT split =   21
0.5 C =  0.1 , TT split =  18
l1 = l1 =  0.5 C =  0.1 , TT split =  23
 0.5 C =  0.1 , TT split =  22
l1 =  0.5 C =  0.1 , TT split =  24
l1 =  0.5 C =  0.1 , TT split =  25
l1 =  0.5 C =  0.1 , TT split =  27
l1 = l1 =   0.5 0.5 C = l1 =   0.5 C =  0.1 , TT split =  28
C =  0.1 , TT split =  26
0.1 , TT split =  29
l1 =  l1 =  0.5 C =  0.1 , TT split =  31
0.5 C =  0.1 , TT split =  32
l1 =  0.5 C =  0.1 , TT split =  30
l1 =  0.5 C =  0.1 , TT split =  33
l1 =  0.5 C =  0.1 , TT split =  34l1 =  0.5 C =  0.1 , TT split =  35

l1 =  0.5 C =  0.1 , TT split =  36
l1 =  0.5 C =  0.1 , TT split =  38
l1 =  0.5 C =  l1 = 0.1 , TT split =  37
 0.5 C =  0.1 , TT split =  41
l1 =  0.5 C =  0.1 , TT split =  39
l1 =  0.5 C =  0.1 , TT split =  40
l1 =  0.5 C =  0.1 , TT split =  42
l1 =  0.5 C =  0.1 , TT split =  43
l1 =  0.5 C =  0.1 , TT split =  44
l1 =  0.5 C =  0.1 , TT split =  l1 = 45
 0.5 C =  0.1 , TT split =  46
l1 =  0.5 C =  0.1 , TT split =  48
l1 = l1 =  0.5 C =  0.1 , TT split =  47
 0.5 C =  0.1 , TT split =  49
l1 =  l1 = 0.5 0.5 C =  0.1 , TT split =  51
 C =  0.1 , TT split =  50
l1 =  0.5 C =  0.1 , TT split =  52
l1 =  0.5 C =  0.1 , TT split =  53
l1 = l1 =  0.5 0.5 C =  0.1 , TT split =  55 C =  0.1
l1 =  0.5  C =  0.1 , TT split =  57
l1 =  0.5 , TT split =  54
C =  0.1 , TT split =  56
l1 =  0.5 C =  0.1 , TT split =  58
l1 = l1 =  0.5 C =  0.1 , TT split =  59
 0.5 C =  0.1 , TT split =  60
l1 =  0.5 C =  0.1 , TT split =  61
l1 =  0.5 C =  0.1 , TT split =  62
l1 =  0.5 C =  0.1 , TT split =  63
l1 =  0.5 C =  0.1 , TT split =  65
l1 = l1 = l1 =  0.5 C =  0.1 , TT split =  64
  0.50.5 C =  0.1 , TT split =  67
 C =  0.1 , TT split =  68
l1 =  0.5 C =  0.1 , TT split =  69
l1 =  0.5 C =  0.1 , TT split =  66
l1 =  0.5 C =  0.1 , TT split =  70
l1 =  0.5 C =  0.1 , TT split =  71
l1 =  0.5 C =  0.1 , TT split =  72
l1 = l1 =  0.5 C =  0.1 , TT split =  74
 0.5 C =  0.1 , TT split =  73
l1 = l1 =  0.5 C =  0.1 , TT split =  75
 0.5 l1 = C =  0.5 C =  0.1  0.1 , TT split =  77
, TT split =  76
l1 =  0.5 C =  0.1l1 =  , TT split =   78
0.5 C =  0.1 , TT split =  79
l1 =  0.5 C =  0.1 , TT split =  80
l1 =  0.5 C =  0.1 , TT split =  81
l1 =  0.5 C =  0.1 , TT split =  82
l1 = l1 =  0.5 C =   0.5 C =  0.1 , TT split =  840.1 , TT split =  l1 =
 0.5 C =  0.1 , TT split =  85
83l1 =  0.5
 C =  0.1 , TT split =  86
l1 =  0.5 C =  0.1 , TT split =  87
l1 =  0.5 C =  0.1 , TT split =  l1 =  0.5 C =  0.1 88, TT split =
 89
l1 =  0.5 C =  0.1 , TT split =  90
l1 =  0.5 C =  0.1 , TT split =  91
l1 =  0.5l1 =  0.5 C =  0.1  , TT split =  92
l1 =  l1 =  0.5 C = 0.5 C =  C =  0.10.1 , TT split =  95
 , TT split =  96
l1 =  0.5 C =  0.1  , TT split =  94
0.1 , TT split =  93
l1 =  0.5 C =  0.1 , TT split =  97
l1 =  0.5 C =  0.1 , TT split =  98
l1 =  0.5 C =  0.1 , TT split =  99

C:\Users\ajenul\OneDrive - Norwegian University of Life Sciences\GitHub\RENT\src\RENT\RENT.py:76: RuntimeWarning: invalid value encountered in true_divide
  abs(means / np.sqrt((stds ** 2) / len(weight_list))), \
C:\NMBU\Miniconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1847: RuntimeWarning: invalid value encountered in greater_equal
  cond2 = (x >= np.asarray(_b)) & cond0
C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (340, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (340,)
regularization parameters C: [0.1]
elastic net l1_ratios: [0.9]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.9 C =  0.1 , TT split =  0
l1 =  0.9 C =  0.1 , TT split =  1
l1 =  0.9 C =  0.1 , TT split =  4
l1 =  0.9 C =  0.1 , TT split =  2
l1 =  0.9 C =  0.1 l1 =  0.9 C =  , TT split =  3
l1 =  0.9 C =  0.1 , TT split =  7
0.1l1 =  0.9  , TT split =  6
C =  0.1 , TT split =  5
l1 = l1 =   0.9 C =  0.9 C =  0.1 , TT split = 0.1  , TT split =  9
10
l1 =  0.9 C =  0.1 , TT split =  8
l1 =  0.9 C =  0.1l1 =  0.9 C =  l1 = 0.1  0.9 C =  0.1, TT split =  13 , TT split =  12

, TT split =  11
l1 = l1 =  0.9 C =  0.1 , TT split =  15
 0.9 C =  0.1 , TT split =  14
l1 =  0.9 C =  0.1 , TT split =  16
l1 = l1 =  0.9 C =  0.1  , TT split =  19
0.9 C =  0.1 , TT split =  18
l1 =  0.9 C =  0.1 , TT split =  17
l1 =  0.9 C =  0.1 , TT split =  20
l1 =  0.9 C =  0.1 , TT split =  l1 = 22
 0.9 C =  0.1 , TT split =  21
l1 =  0.9 C =  0.1 , TT split =  23
l1 =  0.9 C =  0.1 , TT split =  24
l1 =  0.9 C =  0.1 , TT split =  25
l1 =  0.9 C =  0.1 , TT split =  26
l1 =  0.9 C =  0.1 , TT split =  27
l1 = l1 =  0.9 C =  0.1 , TT split =  28
 0.9 C =  0.1 , TT split =  30
l1 =  0.9 C =  0.1 , TT split =  29
l1 =  0.9 C =  0.1 , TT split =  31
l1 =  0.9 C =  0.1 , TT split =  32
l1 =  0.9 C =  0.1 , TT split =  33
l1 =  0.9 C =  0.1 , TT split =  34
l1 =  0.9 C =  0.1 , TT split =  35
l1 =  0.9 C =  0.1 , TT split =  36
l1 =  0.9 C =  0.1 , TT split =  37
l1 =  0.9 C =  0.1 , TT split =  38
l1 =  0.9 C =  0.1 , TT split =  39
l1 =  0.9 C =  0.1 , TT split =  40
l1 =  0.9 C =  0.1 , TT split =  41
l1 =  0.9 C =  0.1 , TT split =  42
l1 =  0.9 C =  0.1 , TT split =  43
l1 =  0.9 C =  0.1 , TT split =  44
l1 =  0.9 C =  l1 = 0.1 , TT split =  45
 0.9 C =  0.1 , TT split =  46
l1 =  0.9 C =  0.1 , TT split =  47
l1 = l1 =  0.9 0.9 C =  0.1 , TT split =  C =  0.1 , TT split =  48
 49
l1 =  0.9 C =  0.1 , TT split =  50
l1 =  0.9 C =  0.1 , TT split =  51
l1 =  0.9 C =  0.1 , TT split =  52
l1 = l1 =   0.9 C =  0.9 C =  0.1 0.1, TT split =  53
 , TT split =  54
l1 =  0.9 C =  0.1 , TT split =  55
l1 =  0.9 C =  0.1 l1 =  0.9 C =  , TT split =  56
0.1 , TT split =  l1 = 57
 0.9 C =  0.1 , TT split =  58
l1 =  0.9 C =  0.1 , TT split =  59
l1 =  0.9 C =  0.1 , TT split =  60
l1 =  0.9 C =  0.1 , TT split =  61
l1 = l1 =  0.9 C =  0.1 , TT split =  62
 0.9 C =  0.1 , TT split =  63
l1 =  0.9 C =  0.1 , TT split =  64
l1 =  0.9 C =  0.1 , TT split =  65
l1 =  0.9 C =  0.1 , TT split =  67
l1 = l1 =  0.9 C =  0.1 , TT split =  66
 0.9 C =  0.1 , TT split =  68
l1 =  0.9 C =  0.1 , TT split =  69
l1 =  0.9 C =  0.1 , TT split =  70
l1 =  0.9 C =  0.1 , TT split =  72
l1 =  0.9 C =  0.1 , TT split =  71
l1 =  0.9 C =  0.1 , TT split =  73
l1 =  0.9 C =  0.1 , TT split =  74
l1 =  0.9 C =  0.1 , TT split =  75
l1 =  0.9 C =  0.1 , TT split =  76
l1 =  0.9 C =  0.1 , TT split =  77
l1 =  0.9 C =  0.1 , TT split =  78
l1 =  0.9 C =  0.1 , TT split =  79
l1 =  0.9 C =  0.1 , TT split =  l1 = 81
 0.9 C =  0.1 , TT split =  80
l1 =  0.9 C =  0.1 , TT split =  82
l1 =  0.9 C =  0.1 , TT split =  83
l1 =  0.9 C =  0.1 , TT split =  84
l1 =  0.9 C =  0.1 , TT split =  85
l1 =  0.9 C =  0.1 , TT split =  86
l1 =  0.9 C =  0.1 , TT split =  87
l1 =  0.9 C =  0.1 , TT split =  88
l1 =  0.9 C =  0.1 , TT split =  89
l1 =  0.9 C =  0.1 , TT split =  90
l1 =  0.9 C =  0.1 , TT split =  91
l1 =  0.9 C =  0.1 , TT split =  92
l1 =  0.9 C =  0.1 , TT split =  93
l1 =  0.9 C =  0.1 , TT split =  94
l1 =  0.9 C =  0.1 , TT split =  95
l1 =  0.9 C =  0.1 , TT split =  96
l1 =  0.9 C =  0.1 , TT split =  97
l1 =  0.9 C =  0.1 , TT split =  98
l1 =  0.9 C =  0.1 , TT split =  99

C:\Users\ajenul\OneDrive - Norwegian University of Life Sciences\GitHub\RENT\src\RENT\RENT.py:76: RuntimeWarning: invalid value encountered in true_divide
  abs(means / np.sqrt((stds ** 2) / len(weight_list))), \
C:\NMBU\Miniconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1847: RuntimeWarning: invalid value encountered in greater_equal
  cond2 = (x >= np.asarray(_b)) & cond0
C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [0.1]
elastic net l1_ratios: [0.9]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.9 C =  l1 =  0.9l1 =  0.9  C =  0.1 , TT split =  0
C =  0.1 , TT split =  1
l1 =  0.90.1 , TT split =  2
 C =  0.1 , TT split =  3
l1 =  0.9 C =  0.1 , TT split =  5
l1 =  0.9 C =  0.1 , TT split =  4
l1 =  0.9 C =  0.1 , TT split =  7
l1 =  0.9 C =  0.1 , TT split =  6
l1 =  0.9 C =  0.1 , TT split =  8
l1 =  0.9 C =  0.1 , TT split =  9
l1 =  0.9 C =  0.1 , TT split =  10
l1 =  0.9 C =  0.1 , TT split =  11
l1 =  0.9 C =  0.1 , TT split =  12
l1 = l1 =  0.9 C =  0.1 0.9 C =  0.1 , TT split =  13
 , TT split =  l1 = 14 0.9 C =  0.1
, TT split =  15
l1 =  0.9 C =  0.1 , TT split =  16
l1 =  0.9 C =  0.1 , TT split =  17
l1 =  0.9 C =  0.1 , TT split =  18
l1 =  0.9 C =  0.1 , TT split =  19
l1 = l1 =   0.90.9 C =  0.1 , TT split =   C =  0.1 , TT split =  20
21
l1 =  0.9 C =  0.1 , TT split =  22
l1 = l1 =  0.9 C =  0.1 , TT split =  23
 0.9l1 =  C =  0.1  0.9 C =  0.1 , TT split =  24
, TT split =  l1 =  0.9 25C =
 0.1 , TT split =  26
l1 =  0.9 C =  0.1 , TT split =  27
l1 =  0.9 C =  0.1 , TT split =  28
l1 =  0.9 C =  0.1 , TT split =  29
l1 =  0.9 C =  0.1 , TT split =  30
l1 =  0.9 C =  0.1 , TT split =  31
l1 =  0.9 C =  0.1 , TT split =  32
l1 =  0.9 C =  0.1 , TT split =  33
l1 =  0.9 C =  0.1 , TT split =  34
l1 =  0.9 C =  0.1 , TT split =  35
l1 =  0.9 C =  0.1 , TT split =  36
l1 =  0.9 C =  0.1 , TT split =  37
l1 =  0.9 C =  0.1 , TT split =  38
l1 =  0.9 C =  0.1 , TT split =  39
l1 =  0.9 C =  0.1 , TT split =  40
l1 =  0.9 C =  0.1 , TT split =  41
l1 =  0.9 C =  0.1 , TT split =  42
l1 =  0.9 C =  0.1 , TT split =  43
l1 =  0.9 C =  0.1 , TT split =  44
l1 =  0.9 C =  0.1 , TT split = l1 =   460.9 C =  0.1 l1 = , TT split =
 0.9  C =  450.1 , TT split =  47

l1 =  0.9 C =  0.1 , TT split =  48
l1 =  0.9 C =  0.1 , TT split =  49
l1 =  0.9 C =  0.1 , TT split =  50
l1 =  0.9 C =  0.1 , TT split =  51
l1 =  0.9 C =  0.1 , TT split =  52
l1 =  0.9 C =  0.1 , TT split =  53
l1 =  0.9 C =  0.1 , TT split =  54
l1 =  0.9 C =  0.1 , TT split =  55
l1 =  l1 =  0.9 C =  0.90.1 , TT split =  57
 C =  0.1 , TT split =  56
l1 =  0.9 C =  0.1 , TT split =  58
l1 =  0.9 C = l1 =   0.9 C =  0.1 , TT split =  61
0.1 , TT split = l1 =  0.9 C =  0.1 , TT split =  59
 60
l1 =  0.9 C =  0.1 , TT split =  62
l1 =  0.9 C =  0.1 , TT split =  63
l1 =  0.9 C =  0.1 , TT split =  64
l1 =  0.9 C =  0.1 , TT split =  65
l1 =  0.9 C =  0.1 , TT split =  66
l1 =  0.9 C =  0.1 , TT split =  67
l1 =  0.9 C =  0.1 , TT split =  68
l1 =  l1 = 0.9 C =  0.1 , TT split =  69
 0.9 C =  0.1 , TT split =  70
l1 =  0.9 C =  0.1 , TT split =  71
l1 =  0.9 C =  0.1 , TT split =  72
l1 =  0.9 C =  0.1 , TT split =  73
l1 =  0.9 C =  0.1 , TT split =  74
l1 =  0.9 C =  0.1 , TT split =  75
l1 =  0.9 C =  0.1 , TT split =  76
l1 =  0.9 C =  0.1 , TT split =  77
l1 =  0.9 C =  0.1 , TT split =  78
l1 =  0.9 C =  0.1 , TT split =  79
l1 =  0.9 C =  0.1 , TT split =  80
l1 =  0.9 C =  0.1 , TT split =  81
l1 =  0.9 C =  0.1 , TT split =  82
l1 =  0.9 C =  0.1 , TT split =  83
l1 =  0.9 C =  0.1 , TT split =  84
l1 =  0.9 C =  0.1 , TT split =  85
l1 =  0.9 C =  0.1 , TT split =  86
l1 =  0.9 C =  0.1 , TT split =  87
l1 =  0.9 C =  0.1 , TT split =  88
l1 =  0.9 C = l1 =   0.9 C =  0.1 , TT split =  89
0.1 , TT split =  90
l1 =  0.9 C =  0.1 , TT split =  91
l1 = l1 =  0.9 C =  0.1  0.9 C =  0.1 , TT split =  92
, TT split =  93
l1 =  0.9 C =  0.1 , TT split =  94
l1 =  0.9 C =  0.1 , TT split =  95
l1 =  0.9 C =  0.1 , TT split =  96
l1 =  0.9 C =  0.1 , TT split =  97
l1 =  0.9 C =  0.1 , TT split =  98
l1 =  0.9 C =  0.1 , TT split =  99

C:\Users\ajenul\OneDrive - Norwegian University of Life Sciences\GitHub\RENT\src\RENT\RENT.py:76: RuntimeWarning: invalid value encountered in true_divide
  abs(means / np.sqrt((stds ** 2) / len(weight_list))), \
C:\NMBU\Miniconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1847: RuntimeWarning: invalid value encountered in greater_equal
  cond2 = (x >= np.asarray(_b)) & cond0
C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [0.1]
elastic net l1_ratios: [0.9]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.9 C = l1 =  0.9 C =  0.1 , TT split =  6 0.1 , TT split = l1 =  0.9 C =  0.1 , TT split =  3

l1 =  0
 0.9 C =  0.1 , TT split = l1 =  0.9 C = l1 =  0.9 C =  0.1 , TT split =    0.1 , TT split =  7
4
5l1 =  0.9 C =  0.1
l1 =  0.9 C =  0.1 , TT split =  2
 , TT split =  1
l1 =  0.9 C =  0.1 , TT split =  8
l1 =  0.9 C =  0.1 , TT split =  9
l1 =  0.9 C =  0.1 , TT split =  10
l1 = l1 =  0.9 C =  0.1 , TT split = l1 =  0.9 C =  l1 =  0.9 C =  0.1 , TT split =  13 11
0.1 , TT split =
 14
0.9 C =  0.1 , TT split =  12
l1 =  0.9 C =  0.1 , TT split =  15
l1 =  0.9 C =  0.1 , TT split =  16
l1 =  0.9 C =  0.1 , TT split =  17
l1 =  0.9 C =  l1 = 0.1 , TT split =  21
l1 =  0.9 C =  0.1 , TT split =  0.9 C =  0.1 , TT split =  19
 18
l1 =  0.9 C =  0.1 , TT split =  20
l1 = l1 =  0.9 C =  0.1 , TT split =   0.9 C =  0.1 22
, TT split =  23
l1 =  0.9 C =  0.1 , TT split =  24
l1 =  0.9 C =  0.1 , TT split =  25
l1 =  0.9 C =  0.1 , TT split =  26
l1 =  0.9 C =  0.1 , TT split =  27
l1 =  0.9 C =  0.1 , TT split =  28
l1 =  0.9 C =  l1 =  0.9 C =  0.1 , TT split =  29
0.1 , TT split =  l1 = 30
 0.9 C =  0.1 , TT split =  31
l1 =  0.9 C =  0.1 , TT split =  32
l1 =  0.9 C =  0.1 , TT split =  33
l1 =  0.9 C =  0.1 , TT split =  34
l1 =  0.9 C =  0.1 , TT split =  35
l1 =  0.9 C =  0.1 , TT split =  36
l1 =  0.9 C =  0.1 , TT split =  37
l1 =  0.9 C =  0.1 , TT split =  38
l1 =  l1 =  0.9 C =  0.1 , TT split =  39
0.9 C =  0.1 , TT split =  40
l1 =  0.9 C = l1 =   0.9 C = 0.1 0.1 , TT split =  42
 , TT split =  41
l1 =  0.9 C =  0.1 , TT split =  43
l1 = l1 =  0.9 C =  0.1 , TT split =  44
 0.9 C =  0.1 , TT split =  45
l1 =  0.9 C =  0.1 , TT split =  46
l1 =  0.9 C =  0.1 , TT split =  47
l1 =  0.9 C =  0.1 , TT split =  48
l1 =  0.9 C =  0.1 , TT split =  49
l1 =  0.9 C =  0.1 , TT split =  50
l1 =  0.9 C =  0.1 , TT split =  51
l1 =  0.9 C =  0.1 , TT split =  52
l1 =  0.9 C =  0.1 , TT split =  53
l1 =  0.9 C =  0.1 , TT split =  54
l1 =  0.9 C =  0.1 , TT split =  55
l1 =  0.9 C =  0.1 , TT split =  56
l1 =  0.9 C =  0.1 , TT split =  57
l1 =  0.9 C =  0.1 , TT split =  58
l1 =  0.9 C =  0.1 , TT split =  59
l1 =  0.9 C =  0.1 , TT split =  60
l1 =  0.9 C =  0.1 , TT split =  61
l1 =  0.9 C =  0.1 , TT split =  62
l1 = l1 =  0.9 C =  0.1 , TT split =  64
 0.9 C =  0.1l1 =  0.9 C =   0.1 , TT split =  63
, TT split =  65
l1 =  0.9 C =  0.1 , TT split =  66
l1 =  0.9 C =  l1 = 0.1 , TT split =  67
 0.9 C =  0.1 , TT split =  68
l1 =  0.9 C =  0.1 , TT split =  69
l1 =  0.9 C =  0.1 , TT split =  70
l1 =  0.9 C =  0.1 , TT split =  72
l1 =  0.9 C =  0.1 , TT split =  71
l1 =  0.9 C =  0.1 , TT split =  73
l1 = l1 =  0.9 C =  0.1 , TT split =   74
0.9 C =  0.1 , TT split =  75
l1 =  0.9 C =  0.1 , TT split =  76
l1 =  0.9 C =  0.1 , TT split =  77
l1 =  0.9 C =  0.1 , TT split =  78
l1 =  0.9 C =  0.1 , TT split =  79
l1 =  0.9 C =  0.1 , TT split =  80
l1 =  0.9 C =  0.1 , TT split =  81
l1 =  0.9 C =  0.1 , TT split =  82
l1 = l1 =  0.9 C =  0.1 , TT split =   840.9 C =  0.1 , TT split =
 83
l1 =  0.9 C =  0.1 , TT split =  85
l1 =  0.9 C =  0.1 , TT split =  86
l1 =  0.9 C =  0.1 , TT split =  88
l1 =  0.9 C =  0.1 , TT split =  87
l1 =  0.9 C =  0.1 , TT split =  89
l1 =  0.9 C =  0.1 , TT split =  90
l1 =  0.9 C =  0.1 , TT split =  91
l1 =  0.9 C =  0.1 , TT split =  92
l1 =  0.9 C =  0.1 , TT split =  93
l1 =  0.9 C =  0.1 , TT split =  94
l1 =  0.9 C =  0.1 , TT split =  95
l1 =  0.9 C =  0.1 , TT split =  96
l1 =  0.9 C =  0.1 , TT split =  97
l1 =  0.9 C =  0.1 , TT split =  98
l1 =  0.9 C =  0.1 , TT split =  99

C:\Users\ajenul\OneDrive - Norwegian University of Life Sciences\GitHub\RENT\src\RENT\RENT.py:76: RuntimeWarning: invalid value encountered in true_divide
  abs(means / np.sqrt((stds ** 2) / len(weight_list))), \
C:\NMBU\Miniconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1847: RuntimeWarning: invalid value encountered in greater_equal
  cond2 = (x >= np.asarray(_b)) & cond0
C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [0.1]
elastic net l1_ratios: [0.9]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.9 C =  0.1 , TT split = l1 =  0.9 C =  0.1 , TT split =  1
l1 =  0.9 C =  0.1 , TT split =  3
 2
l1 =  0.9 C =  0.1 , TT split =  5
l1 =  0.9 C =  0.1 , TT split =  4
l1 =  0.9 C =  0.1 , TT split =  7
l1 =  0.9 C =  0.1 , TT split =  0
l1 =  0.9 C =  0.1 , TT split =  6
l1 =  0.9 C =  0.1 , TT split =  8
l1 =  0.9 C =  0.1 l1 = , TT split =  9
 0.9 C =  0.1 l1 =  0.9 C =  0.1 , TT split =  11
, TT split =  10
l1 =  0.9 C =  0.1 , TT split =  12
l1 =  0.9 C =  0.1 , TT split =  13
l1 =  0.9 l1 =  0.9 C = C =  0.1 , TT split =  14
 0.1 , TT split =  15
l1 =  0.9 C =  0.1 , TT split =  16
l1 =  0.9 C =  0.1 , TT split =  17
l1 =  0.9 C =  0.1 , TT split =  18
l1 =  0.9 C =  0.1 , TT split =  19
l1 =  0.9 C =  0.1 , TT split =  20
l1 =  0.9 C =  0.1 , TT split =  21
l1 =  l1 =  0.9 C =  0.1 0.9 C =  0.1 , TT split =  22
, TT split =  23
l1 =  0.9 C =  0.1 , TT split =  24
l1 =  0.9 C =  0.1 , TT split =  25
l1 =  0.9 C =  0.1 , TT split =  26
l1 =  0.9 C =  0.1 , TT split =  27
l1 =  0.9 C =  0.1 , TT split =  28
l1 =  0.9 C =  0.1 , TT split =  29
l1 =  0.9 C =  0.1 , TT split =  32l1 =
 0.9 C = l1 =  0.1 , TT split =  30
 0.9 C =  0.1 , TT split =  31
l1 =  0.9 C =  0.1 , TT split =  33
l1 =  0.9 C =  0.1 , TT split =  34
l1 =  0.9 C =  0.1 , TT split =  35
l1 =  0.9 C =  0.1 , TT split =  36
l1 =  0.9 C =  0.1 , TT split =  37
l1 =  0.9 C =  0.1 , TT split =  38
l1 =  0.9 C =  0.1 , TT split =  39
l1 =  0.9 C =  0.1 , TT split =  40
l1 =  0.9 C =  0.1 , TT split =  l1 = 41
 0.9 C =  0.1 , TT split =  42
l1 =  0.9 C =  0.1 , TT split =  43
l1 =  0.9 C =  0.1 , TT split =  44
l1 =  0.9 C =  0.1 , TT split =  45
l1 =  0.9 C =  0.1 , TT split =  46
l1 =  0.9 C =  0.1 , TT split =  47
l1 =  0.9 C =  0.1 , TT split =  48
l1 =  0.9 C =  0.1 , TT split =  49
l1 =  0.9 C =  0.1 , TT split =  51
l1 =  0.9 C =  0.1 , TT split =  50
l1 =  0.9 C =  0.1 , TT split = l1 =  0.9 l1 =   C = 52
0.9 C =  0.1 , TT split =  53
 0.1 , TT split =  54
l1 =  0.9 C =  0.1 , TT split =  55
l1 =  0.9 C =  0.1 , TT split =  56
l1 =  0.9 C =  0.1 , TT split =  57
l1 =  0.9 C =  0.1 , TT split =  58
l1 =  0.9 C =  0.1 , TT split =  59
l1 =  0.9 C =  0.1 , TT split = l1 =   0.9 C =  0.1 60l1 =  , TT split =  62
0.9 C =  0.1 , TT split =
61
l1 =  0.9 C =  0.1 , TT split =  63
l1 =  0.9 C =  0.1 , TT split =  64
l1 =  0.9 C =  0.1 , TT split =  65
l1 =  0.9 C =  0.1 , TT split =  66
l1 =  0.9 C =  0.1 , TT split =  67
l1 =  0.9 C =  0.1 , TT split =  68
l1 =  0.9 C =  0.1 , TT split =  69
l1 = l1 =  0.9 C =  0.1 , TT split =  71
 0.9 C =  0.1 , TT split =  70
l1 =  0.9 C =  0.1 , TT split =  72
l1 =  0.9 C =  0.1 , TT split = l1 =   0.973 C =  0.1 , TT split =  74

l1 =  0.9 C =  0.1 , TT split =  75
l1 =  0.9 C =  0.1 , TT split =  76
l1 =  0.9 C =  0.1 , TT split =  77
l1 =  0.9 C =  0.1 , TT split =  78
l1 = l1 =  0.9 C =  0.1 , TT split =  80
l1 = l1 =   0.9 C = 0.9 C =  0.1 , TT split =  82
 0.9 C = 0.1 , TT split =  79
 0.1 , TT split =  l1 = 81
0.9 C =  0.1 , TT split =  83
l1 =  0.9 C =  0.1 , TT split =  84
l1 =  0.9 C =  0.1 , TT split =  85
l1 =  l1 = 0.9 C =  0.1 , TT split =  86
 0.9 C =  0.1 , TT split =  87
l1 =  l1 = l1 =  0.9  C =  0.1 , TT split =  90
0.9 C =  0.1 , TT split = 0.9  C = 89
 0.1 , TT split =  88
l1 =  0.9 C = l1 =   0.1 , TT split = 0.9  93C =  0.1 , TT split =  91

l1 =  0.9 C =  0.1 , TT split =  92
l1 =  0.9 C =  0.1 , TT split =  94
l1 =  0.9 C =  0.1 , TT split =  95
l1 =  0.9 C =  0.1 , TT split =  l1 =  0.9l1 =  0.9 97 C =
C =  0.1 , TT split =  98
0.1 , TT split =  l1 =  0.9 C =  96
0.1 , TT split =  99

C:\Users\ajenul\OneDrive - Norwegian University of Life Sciences\GitHub\RENT\src\RENT\RENT.py:76: RuntimeWarning: invalid value encountered in true_divide
  abs(means / np.sqrt((stds ** 2) / len(weight_list))), \
C:\NMBU\Miniconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1847: RuntimeWarning: invalid value encountered in greater_equal
  cond2 = (x >= np.asarray(_b)) & cond0
C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [0.1]
elastic net l1_ratios: [0.9]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.9 C =  0.1 , TT split =  0
l1 =  0.9 C = l1 =  0.9 C =  0.1 l1 =  0.9 C =  0.1 , TT split =  5
, TT split =  2
0.1 l1 =  0.9 C =  0.1 , TT split =  7
, TT split =  1
l1 =  0.9 C =  0.1 , TT split =  3l1 =  0.9 C =  0.1 , TT split =  4l1 =  0.9 C =
 0.1 , TT split =  6

l1 =  0.9 C =  0.1 , TT split =  8
l1 =  0.9 C =  0.1 , TT split =  9
l1 =  0.9 C =  0.1 , TT split =  10
l1 =  0.9 C =  0.1 , TT split =  11
l1 =  0.9 C =  0.1 , TT split =  13
l1 =  0.9 C =  0.1l1 =   0.9 C =  0.1 , TT split =  14
, TT split =  12
l1 =  0.9 C =  0.1 , TT split =  15
l1 =  0.9 C =  0.1 , TT split =  16
l1 =  0.9 C =  0.1 , TT split =  17
l1 =  0.9 C =  0.1 , TT split =  18
l1 = l1 =  l1 = 0.9  0.9 C =  0.1 , TT split =  20
0.9 C =  0.1 , TT split =  21
 C =  0.1 , TT split =  19
l1 =  0.9 C =  0.1 , TT split =  22
l1 =  0.9 C =  0.1 , TT split =  23
l1 =  0.9 C =  0.1 , TT split =  24
l1 =  0.9 C =  0.1 , TT split =  25
l1 =  0.9 C =  0.1 , TT split =  26
l1 =  0.9 C =  0.1 , TT split =  27
l1 =  0.9 C =  0.1 , TT split =  28
l1 = l1 =  0.9 0.9 C =  0.1 , TT split =  29
 C =  0.1 , TT split =  30
l1 =  0.9 C =  0.1 , TT split =  31
l1 =  0.9 C =  0.1 , TT split =  32
l1 =  0.9 C =  0.1 , TT split =  35
l1 = l1 =  0.9  0.9C =  0.1 , TT split =  33
 C =  0.1 , TT split =  34
l1 =  0.9 C =  0.1 , TT split =  36
l1 =  0.9l1 =  C =  0.1 , TT split =  37
 0.9 C =  0.1 , TT split =  38
l1 =  0.9 C =  0.1 , TT split =  39
l1 =  0.9 C =  0.1 , TT split =  40
l1 =  0.9 C =  0.1 , TT split =  41
l1 =  0.9 C =  0.1 , TT split =  43
l1 =  0.9 C =  0.1 , TT split =  42
l1 =  l1 = 0.9 C =  0.1 , TT split =  45
 0.9 C =  0.1 , TT split =  44
l1 =  0.9 C =  0.1 , TT split =  46
l1 =  0.9 C =  0.1 , TT split =  48
l1 =  0.9 C =  0.1 , TT split =  47
l1 =  0.9 C =  0.1 , TT split =  49
l1 =  0.9 C =  0.1 , TT split =  50
l1 =  0.9 C =  0.1 , TT split =  51
l1 =  0.9 C =  0.1 , TT split =  52
l1 =  0.9 C =  0.1 , TT split =  53
l1 =  0.9 C =  0.1 , TT split =  54
l1 =  0.9 C =  0.1 , TT split =  55
l1 =  0.9 C =  0.1 , TT split =  56
l1 =  0.9 C =  0.1 , TT split =  57
l1 =  0.9 C =  0.1 , TT split =  58
l1 =  0.9 C =  0.1 , TT split =  59
l1 =  0.9 C =  0.1 , TT split =  60
l1 =  0.9 C =  0.1 , TT split =  61
l1 =  0.9 C =  0.1 , TT split =  62
l1 =  0.9 C =  0.1 , TT split =  63
l1 =  0.9l1 =  0.9 C =  0.1 , TT split =  65
 C =  0.1 , TT split =  64
l1 =  0.9 C =  0.1 , TT split =  66
l1 =  0.9 C =  0.1 , TT split =  67
l1 =  0.9 C =  0.1 , TT split =  68
l1 =  0.9 C =  0.1 , TT split =  69
l1 =  0.9 C =  0.1 , TT split =  70
l1 =  0.9 C =  0.1 , TT split =  71
l1 =  0.9 C =  0.1 , TT split =  73
l1 =  0.9 C =  0.1 , TT split =  72
l1 =  0.9 C =  0.1 , TT split =  74
l1 =  0.9 C =  0.1 , TT split =  75
l1 =  0.9 C =  0.1 , TT split =  76
l1 =  0.9 C =  0.1 , TT split =  77
l1 =  0.9 C =  0.1 , TT split = l1 =  0.9  C =  0.1 , TT split = 79
 l1 = 78
 0.9 C =  0.1 , TT split =  80
l1 =  0.9 C =  0.1 , TT split =  81
l1 =  0.9 C =  0.1 , TT split =  82
l1 =  0.9 C =  0.1 , TT split =  83
l1 =  0.9 C =  0.1 , TT split =  84
l1 =  0.9 C =  0.1 , TT split =  86
l1 =  0.9 C =  0.1 , TT split =  85
l1 = l1 =   0.9 C =  0.9 C =  0.1 , TT split =  87
0.1 , TT split =  88
l1 =  0.9 C =  0.1 , TT split =  89
l1 =  0.9 C =  0.1 , TT split =  90
l1 =  0.9 C =  0.1 , TT split =  92
l1 =  0.9 C =  0.1 , TT split =  91
l1 =  0.9 C =  0.1 , TT split =  93
l1 =  0.9 C =  0.1 , TT split =  94
l1 =  0.9 C =  0.1 , TT split =  95
l1 =  0.9 C =  0.1 , TT split =  96
l1 =  0.9 C =  0.1 , TT split =  97
l1 =  0.9 C =  0.1 , TT split =  98
l1 =  0.9 C =  0.1 , TT split =  99

C:\Users\ajenul\OneDrive - Norwegian University of Life Sciences\GitHub\RENT\src\RENT\RENT.py:76: RuntimeWarning: invalid value encountered in true_divide
  abs(means / np.sqrt((stds ** 2) / len(weight_list))), \
C:\NMBU\Miniconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1847: RuntimeWarning: invalid value encountered in greater_equal
  cond2 = (x >= np.asarray(_b)) & cond0
C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (340, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (340,)
regularization parameters C: [1]
elastic net l1_ratios: [0.1]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  l1 =  0.1 C =  1l1 =  0.1  , TT split =  0
C =  1 0.1 C =  1 , TT split =  1, TT split =  3
l1 =  0.1 C =  1 , TT split =  2
l1 =  0.1
 C =  l1 =  0.1 C =  1 , TT split =  4
1 , TT split =  5
l1 =  0.1 C =  1 , TT split =  6
l1 =  0.1 C =  1 , TT split =  7
l1 =  0.1 C =  1 , TT split =  8
l1 =  0.1 C =  1 , TT split =  9
l1 =  0.1 C =  1 , TT split =  11
l1 =  0.1 C =  1 , TT split =  10
l1 =  0.1 C =  1 , TT split =  12
l1 =  0.1 C =  1 , TT split =  13
l1 =  0.1 C =  1 , TT split =  14
l1 =  0.1 C =  1 , TT split =  15
l1 =  0.1 C =  1 , TT split =  16
l1 =  0.1 C =  1 , TT split =  17
l1 =  0.1 C =  1 , TT split =  18
l1 =  0.1 C =  1 , TT split =  19
l1 =  0.1 C =  1 , TT split =  20
l1 =  0.1 C =  1 , TT split =  21
l1 =  0.1 C =  1 , TT split =  22
l1 =  0.1 C =  1 , TT split =  23
l1 =  0.1 C =  1 , TT split =  24
l1 =  0.1 C =  1 , TT split =  25
l1 =  0.1 C =  1 , TT split =  26
l1 =  0.1 C =  1 , TT split =  27
l1 =  0.1 C =  1 , TT split =  28
l1 =  0.1 C =  1 , TT split =  29
l1 =  0.1 C =  1 , TT split =  30
l1 =  0.1 C =  1 , TT split =  31
l1 = l1 =  0.1 C =  1 , TT split =  32
 0.1 C =  1 , TT split =  33
l1 =  0.1 C =  1 , TT split =  34
l1 =  0.1 C =  1 , TT split =  35
l1 =  0.1 C =  1 , TT split =  36
l1 =  0.1 C =  1 , TT split =  37
l1 =  0.1 C =  1 , TT split =  38
l1 =  0.1 l1 =  C =  0.11 , TT split =  39
 C =  1 , TT split =  40
l1 =  0.1 C =  1 , TT split =  41
l1 =  0.1 C =  1 , TT split =  42
l1 =  0.1 C =  1 , TT split =  43
l1 =  0.1 C =  1 , TT split =  44
l1 =  0.1 C =  1 , TT split =  45
l1 =  0.1 C =  1 , TT split =  46
l1 =  0.1 C =  1 , TT split =  47
l1 =  0.1 C =  1 , TT split =  48
l1 =  0.1 C =  1 , TT split =  49
l1 =  0.1 C =  1 , TT split =  50
l1 =  0.1 C =  1 , TT split =  51
l1 =  0.1 C =  1 , TT split =  52
l1 =  0.1 C =  1 , TT split =  53
l1 =  0.1 C =  1 , TT split =  54
l1 =  0.1 C =  1 , TT split =  55
l1 =  0.1 C =  1 , TT split =  56
l1 =  0.1 C =  1 , TT split =  57
l1 =  0.1 C =  1 , TT split =  58
l1 =  0.1 C =  1 , TT split =  59
l1 =  0.1 C =  1 , TT split =  60
l1 =  0.1 C =  1 , TT split =  61
l1 =  0.1 C =  1 , TT split =  62
l1 =  0.1 C =  1 , TT split =  63
l1 =  0.1 C =  1 , TT split =  64
l1 =  0.1 C =  1 , TT split =  65
l1 =  0.1 C =  1 , TT split =  66
l1 =  0.1 C =  1 , TT split =  67
l1 =  0.1 C =  1 , TT split =  68
l1 =  0.1 C =  1 , TT split =  69
l1 =  0.1 C =  1 , TT split =  70
l1 =  0.1 C =  1 , TT split =  71
l1 =  0.1 C =  1 , TT split =  72
l1 =  0.1 C =  1 , TT split =  73
l1 =  0.1 C =  1 , TT split =  74
l1 =  0.1 C =  1 , TT split =  75
l1 =  0.1 C =  1 , TT split =  76
l1 =  0.1 C =  1 , TT split =  77
l1 =  0.1 C =  1 , TT split =  78
l1 =  0.1 C =  1 , TT split =  79
l1 =  0.1 C =  1 , TT split =  80
l1 =  0.1 C =  1 , TT split =  81
l1 =  0.1 C =  1 , TT split =  82
l1 =  0.1 C =  1 , TT split =  83
l1 =  0.1 C =  1 , TT split =  84
l1 =  0.1 C =  1 , TT split =  85
l1 =  0.1 C =  1 , TT split =  86
l1 =  0.1 C =  1 , TT split =  87
l1 =  0.1 C =  1 , TT split =  88
l1 =  0.1 C =  1 , TT split =  89
l1 =  0.1 C =  1 , TT split =  90
l1 =  0.1 C =  1 , TT split =  91
l1 =  0.1 C =  1 , TT split =  92
l1 =  0.1 C =  1 , TT split =  93
l1 =  0.1 C =  1 , TT split =  94
l1 =  0.1 C =  1 , TT split =  95
l1 =  0.1 C =  1 , TT split =  96
l1 =  0.1 C =  1 , TT split =  97
l1 =  0.1 C =  1 , TT split =  98
l1 =  0.1 C =  1 , TT split =  99

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [1]
elastic net l1_ratios: [0.1]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 = l1 =  0.1 C =  1 , TT split =  0.1 C =   0
1 , TT split =  1
l1 =  0.1 C =  l1 =  0.1 C =  1 , TT split = 1l1 =  0.1 C =    , TT split =  5
14
 , TT split =  6
l1 =  0.1 C =  1 , TT split =  3
l1 =  0.1 l1 =  0.1 C =  1 , TT split =  C = 7
 1 , TT split =  2
l1 =  0.1 C =  1 , TT split =  8
l1 =  l1 =  0.1 0.1C =  1 , TT split =  9
 C =  1 , TT split =  10
l1 =  0.1 C =  1 , TT split =  11
l1 =  0.1 C =  1 , TT split =  13
l1 =  0.1 C =  1 , TT split =  12
l1 =  0.1 C =  1 , TT split =  15
l1 =  0.1 C =  1 , TT split =  14
l1 =  0.1 C =  1 , TT split =  16
l1 =  0.1 C =  1 , TT split =  17
l1 =  0.1 C =  1 , TT split =  18
l1 =  0.1 C =  1 , TT split =  19
l1 =  0.1 C =  1 , TT split =  20
l1 =  0.1 C =  1 , TT split =  21
l1 =  0.1 C =  1 , TT split =  22
l1 =  0.1 C =  1 , TT split =  23
l1 =  0.1 C =  1 , TT split =  24
l1 =  0.1 C =  1 , TT split =  25
l1 =  0.1 C =  1 , TT split =  26
l1 =  0.1 C =  1 , TT split =  27
l1 =  0.1 C =  1 , TT split =  28
l1 =  0.1 C =  1 , TT split =  29
l1 =  0.1 C =  1 , TT split =  30
l1 =  0.1 C =  1 , TT split =  31
l1 =  0.1 C =  1 , TT split =  32
l1 =  0.1 C =  1 , TT split =  33
l1 =  0.1 C =  1 , TT split =  34
l1 =  0.1 C =  1 , TT split =  35
l1 =  0.1 C =  1 , TT split =  36
l1 =  0.1 C =  1 , TT split =  37
l1 =  0.1 C =  1 , TT split =  38
l1 =  0.1 C =  1 , TT split =  39
l1 =  0.1 C =  1 , TT split =  40
l1 =  0.1 C =  1 , TT split =  41
l1 = l1 =  0.1 C =  1 , TT split =  42
 0.1 C =  1 , TT split =  43
l1 =  0.1 C =  1 , TT split =  44
l1 =  0.1 C =  1 , TT split =  45
l1 =  0.1 C =  1 , TT split =  46
l1 =  0.1 C =  1 , TT split =  47
l1 =  0.1 C =  1 , TT split =  48
l1 =  0.1 C =  1 , TT split =  49
l1 =  0.1 C =  1 , TT split =  50
l1 =  0.1 C =  1 , TT split =  51
l1 =  0.1 C =  1 , TT split =  52
l1 =  0.1 C =  1 , TT split =  53
l1 =  0.1 C =  1 , TT split =  54
l1 =  0.1 C =  1 , TT split =  55
l1 =  0.1 C =  1 , TT split =  56
l1 =  0.1 C =  1 , TT split =  57
l1 =  0.1 C =  1 , TT split =  58
l1 =  l1 = l1 =  0.1 C =  1 , TT split =  61
0.1 0.1 C =  1 , TT split =  59
 C =  1 , TT split =  60
l1 =  0.1 C =  1 , TT split =  62
l1 =  0.1 C =  1 , TT split =  63
l1 =  0.1 C =  1 , TT split =  64
l1 =  0.1 C =  1 , TT split =  65
l1 =  0.1 C =  1 , TT split =  66
l1 =  0.1 C =  1 , TT split =  67
l1 =  0.1 C =  1 , TT split =  68
l1 =  0.1 C =  1 , TT split =  69
l1 =  0.1 C =  1 , TT split =  70
l1 =  0.1 C =  1 , TT split =  71
l1 =  0.1 C =  1 , TT split =  72
l1 =  0.1 C =  1 , TT split =  73
l1 =  0.1 C =  1 , TT split =  74
l1 =  0.1 C =  1 , TT split =  75
l1 =  0.1 C =  1 , TT split =  76
l1 =  0.1 C =  1 , TT split =  77
l1 =  0.1 C =  1 , TT split =  78
l1 =  0.1 C =  1 , TT split =  79
l1 =  0.1 C =  1 , TT split =  80
l1 =  0.1 C =  1 , TT split =  81
l1 =  0.1 C =  1 , TT split =  82
l1 =  0.1 C =  1 , TT split =  83
l1 =  0.1 C =  1 , TT split =  84
l1 =  0.1 C =  1 , TT split =  85
l1 =  0.1 C =  1 , TT split =  86
l1 =  0.1 C =  1 , TT split =  87
l1 =  0.1 C =  1 , TT split =  88
l1 = l1 =  0.1 C =  1 , TT split =  90
 0.1 C =  1 , TT split =  89
l1 =  0.1 C =  1 , TT split =  91
l1 =  0.1 C =  1 , TT split =  92
l1 =  0.1 C =  1 , TT split =  93
l1 =  0.1 C =  1 , TT split =  94
l1 =  0.1 C =  1 , TT split =  95
l1 =  0.1 C =  1 , TT split =  96
l1 =  0.1 C =  1 , TT split =  97
l1 =  0.1 C =  1 , TT split =  98
l1 =  0.1 C =  1 , TT split =  99

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [1]
elastic net l1_ratios: [0.1]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.1 C =  1 , TT split =  0
l1 =  0.1 C =  1 , TT split =  1
l1 =  0.1 C =  1 , TT split = l1 =  0.1  4
C =  1 , TT split =  2
l1 =  0.1 C =  1 , TT split =  3
l1 =  0.1 C =  1 , TT split =  7
l1 =  0.1 C =  1 , TT split =  6
l1 =  0.1 C =  1 , TT split =  5
l1 =  0.1 C =  1 , TT split =  8
l1 =  0.1 C =  1 , TT split =  10
l1 =  0.1 C =  1 , TT split =  9
l1 = l1 =  0.1 C =  1 0.1  , TT split =  12
C =  1 , TT split =  14l1 = l1 =  0.1
 C =  1 , TT split =  13
l1 =   0.1 C =  1 , TT split =  15
0.1 C =  1 , TT split =  11
l1 =  0.1 C =  1 , TT split =  16
l1 =  0.1 C =  1 , TT split =  17
l1 =  0.1 C =  1 , TT split =  18
l1 =  0.1 C =  1 , TT split =  19
l1 = l1 =  0.1 C =   1 , TT split =  20
0.1 C =  1 , TT split =  21
l1 =  0.1 C =  1 , TT split =  23
l1 =  0.1 C =  1 , TT split =  22
l1 =  0.1 C = l1 =  1 , TT split =  24
 0.1 C =  1 , TT split =  25
l1 =  0.1 C =  1 , TT split =  26
l1 =  0.1 C =  1 , TT split =  27
l1 =  0.1 C =  1 , TT split =  28
l1 =  0.1 C =  1 , TT split =  29
l1 =  0.1 C =  1 , TT split =  30
l1 = l1 =   0.1 C =  1 , TT split =  31
0.1l1 = l1 =    C =  1 , TT split =  32
0.1 0.1C =  1 , TT split =  34
 C =  1 , TT split =  33
l1 =  0.1 C =  1 , TT split =  35
l1 =  0.1 C =  1 , TT split =  36
l1 =  0.1 C =  1 , TT split =  37
l1 =  0.1 C =  1 , TT split =  38
l1 = l1 =  0.1 C =  1 0.1  C =  1 , TT split =  39
l1 = l1 = , TT split =  0.1 C =  1 , TT split =  42
 0.1 C =  1 , TT split =  40
 41
l1 =  0.1 C =  1 , TT split =  l1 =  0.1 C =  1 , TT split =  4344

l1 =  0.1 C =  1 , TT split =  45
l1 =  0.1 C =  1 , TT split =  46
l1 =  0.1 C =  1 , TT split =  47
l1 =  0.1 C =  1 , TT split =  48
l1 =  0.1l1 =  C =  1 , TT split =   0.1 C =  1 , TT split =  50
49
l1 =  0.1 C =  1 , TT split =  51
l1 =  0.1 C =  1 , TT split =  53
l1 =  0.1 C =  1 , TT split =  52
l1 =  0.1 C =  1 , TT split =  54
l1 =  0.1 C =  1 , TT split =  55
l1 =  0.1 C =  1 , TT split =  56
l1 =  0.1 C =  1 , TT split =  57
l1 =  0.1 C =  1 , TT split =  58
l1 =  0.1 C =  1 , TT split =  59
l1 =  0.1 C =  1 , TT split =  60
l1 = l1 =  l1 =  0.1  0.1 C =  1 C = 0.1 , TT split =  61
 C =  1 , TT split =  62
1 , TT split =  63
l1 =  0.1 C =  1 , TT split =  64
l1 =  0.1 C =  1 , TT split =  65
l1 =  0.1 C =  1 , TT split =  66
l1 = l1 =  0.1  C =  1 0.1, TT split =  69
 C =  1 , TT split =  67
l1 =  0.1 C =  1 , TT split =  68
l1 =  0.1 C =  1 , TT split =  70
l1 =  0.1 C =  1 , TT split =  71
l1 =  l1 = 0.1 C =  1 , TT split =  72
 0.1 C =  1 , TT split =  73
l1 =  0.1 C =  1 , TT split =  74
l1 =  0.1 C =  1 , TT split =  75
l1 =  0.1 C =  1 , TT split =  76
l1 =  0.1 C =  1 , TT split =  77
l1 =  0.1 C =  1 , TT split =  78
l1 =  0.1 C =  1 , TT split =  79
l1 =  0.1 C =  1 , TT split =  81
l1 =  0.1 C =  1 , TT split =  80
l1 =  0.1 C =  1 , TT split =  82
l1 =  0.1 C =  1 , TT split =  83
l1 =  0.1 C =  1 , TT split =  84
l1 =  0.1 C =  1 , TT split =  85
l1 =  0.1 C =  1 , TT split =  86
l1 =  0.1 C =  1 , TT split =  87
l1 =  0.1 C =  1 , TT split =  88
l1 =  0.1 C =  1 , TT split =  89
l1 =  0.1 C =  1 , TT split =  90
l1 =  0.1 C =  1l1 =  0.1 C =  1  l1 =  0.1 C =  , TT split = , TT split = 1 , TT split =  93
 91
 92
l1 =  0.1 C =  1 , TT split =  94
l1 =  0.1 C =  1 , TT split =  95
l1 =  0.1 C =  1 , TT split =  96
l1 =  0.1 C =  1 , TT split =  97
l1 =  0.1 C =  1 , TT split =  98
l1 =  0.1 C =  1 , TT split =  99

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [1]
elastic net l1_ratios: [0.1]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.1 l1 =  0.1 C =  1 , TT split =  C =  1 , TT split =  1
0
l1 =  0.1 C =  1 , TT split =  3
l1 =  0.1 C =  1 , TT split = l1 =  0.1 C =  1 , TT split =  7
l1 =  0.1 C =  1 , TT split =  4
 6
l1 =  0.1 C =  1 , TT split =  5
l1 =  0.1 C =  1 , TT split =  2
l1 =  0.1 C =  1l1 =  0.1 C =  1 , TT split =  8
 , TT split =  9
l1 = l1 =   0.1 C =  1 , TT split =  10
0.1 C =  l1 =  0.1 C =  1 l1 = , TT split =  l1 =  12
10.1 C =  1 , TT split =  13
  , TT split =  11
0.1 C =  1 , TT split =  14
l1 =  0.1 C =  1 , TT split =  15
l1 =  0.1 C =  1 , TT split =  16
l1 =  0.1 C =  1 , TT split =  17
l1 = l1 =  0.1 C =  1 , TT split =  19
 0.1 C =  1 , TT split =  18
l1 =  0.1 C =  1 , TT split =  20
l1 = l1 =  0.1 C =   0.1 C =  1 , TT split =  21
1 , TT split =  22
l1 =  0.1 C =  1 , TT split =  23
l1 =  0.1 C =  1 , TT split =  24
l1 =  0.1 C =  1 , TT split =  25
l1 =  0.1 C =  1 , TT split =  26
l1 =  0.1 C =  1 , TT split =  27
l1 =  0.1 C =  1 , TT split =  28
l1 =  0.1 C =  1 , TT split =  29
l1 =  0.1 C =  1 , TT split =  30
l1 =  0.1 C =  1 , TT split =  31
l1 =  0.1 C =  1 , TT split =  32
l1 =  0.1 C =  1 , TT split =  33
l1 =  0.1 C =  1 , TT split =  34
l1 =  0.1 C =  1 , TT split =  35
l1 =  0.1 C =  1 , TT split =  36
l1 =  0.1 C =  1 , TT split =  37
l1 =  0.1 C =  1 , TT split =  38
l1 =  0.1 C =  1 , TT split =  39
l1 = l1 =  0.1 C =  1 , TT split =  41
 0.1 C =  1 , TT split =  40
l1 =  0.1 C =  1 , TT split =  43
l1 =  0.1 C =  1 , TT split =  42
l1 =  0.1 C =  1 , TT split =  44
l1 =  0.1 C =  1 , TT split =  45
l1 =  0.1 C =  1 , TT split =  46
l1 =  0.1 C =  1 , TT split =  47
l1 =  0.1 C =  1l1 =  , TT split =  48
 0.1 C =  1 , TT split =  49
l1 =  0.1 C =  1 , TT split =  50
l1 =  0.1l1 =  C =  1 , TT split =  51
 0.1 C =  1 , TT split =  52
l1 =  0.1 C =  1 , TT split =  53
l1 =  0.1 C =  1 , TT split =  54
l1 =  0.1 C =  1 , TT split =  55
l1 =  0.1 C =  1 , TT split =  56
l1 =  0.1 C =  1 , TT split =  57
l1 =  0.1 C =  1 , TT split =  58
l1 =  0.1 C =  1 , TT split =  59
l1 =  0.1 C =  1 , TT split =  60
l1 =  0.1 C =  1 , TT split =  61
l1 =  0.1 C =  1 , TT split =  62
l1 =  0.1 C =  1 , TT split =  63
l1 =  0.1 C =  1 , TT split =  65
l1 =  0.1 C =  1 , TT split =  64
l1 =  0.1 C =  1 , TT split =  66
l1 =  0.1 C =  1 , TT split =  67
l1 =  0.1 C =  1 , TT split =  68
l1 =  0.1 C =  1 , TT split =  69
l1 =  0.1 C =  1 , TT split =  70
l1 =  0.1 C =  1 , TT split =  71
l1 =  0.1 C =  1 , TT split =  72
l1 =  0.1 C =  1 , TT split =  73
l1 =  0.1 C =  1 , TT split =  74
l1 =  0.1 C =  1 , TT split =  75
l1 =  0.1 C =  1 , TT split =  76
l1 =  0.1 C =  1 , TT split =  77
l1 =  0.1 C =  1 , TT split =  78
l1 =  0.1 C =  1 , TT split =  79
l1 =  0.1 C =  1 , TT split =  80
l1 =  0.1 C =  1 , TT split =  81
l1 =  0.1 C =  1 , TT split =  82
l1 =  0.1 C =  1 , TT split =  83
l1 =  0.1 C =  1 , TT split =  84
l1 =  0.1 C =  1 , TT split =  85
l1 =  0.1 C =  1 , TT split =  86
l1 =  0.1 C =  1 , TT split =  87
l1 =  0.1 C =  1 , TT split =  88
l1 =  0.1 C =  1 , TT split =  89
l1 =  0.1 C =  1 , TT split =  90
l1 =  0.1 C =  1 , TT split =  91
l1 =  0.1 C =  1 , TT split =  92
l1 =  0.1 C =  1 , TT split =  93
l1 =  0.1 C =  1 , TT split =  94
l1 =  0.1 l1 = C =  0.1 C =  1  1 , TT split =  95
, TT split =  96
l1 =  0.1 C =  1 , TT split =  97
l1 =  0.1 C =  1 , TT split =  98
l1 =  0.1 C =  1 , TT split =  99

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [1]
elastic net l1_ratios: [0.1]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.1 C =  1 , TT split =  3
l1 =  0.1 C =  l1 =  0.1 C =  1 , TT split =  1 , TT split =  20

l1 =  0.1 C =  1 , TT split = l1 =  0.1 C =  1 , TT split =  4 5

l1 =  0.1 C =  1 , TT split =  l1 =  0.1 C = 1 1 , TT split =  6

l1 =  0.1 C =  1 , TT split =  7
l1 =  0.1 C =  1 , TT split =  8
l1 =  0.1 C =  1 , TT split =  9
l1 =  0.1 C =  1 , TT split =  l1 = l1 =  0.1 C =  0.1 C =  1  1 , TT split = , TT split =  11
 12
10
l1 =  0.1 C =  1 , TT split =  13
l1 =  l1 = 0.1 0.1 C =  1 , TT split =  15 C =  1 , TT split =  14

l1 =  0.1 C =  1 , TT split =  16
l1 =  0.1 C =  1 , TT split =  17
l1 =  0.1 C =  1 , TT split =  18
l1 = l1 =   0.1 C =  1 0.1, TT split =  20
 C =  1 , TT split =  19
l1 =  0.1 C =  1 , TT split =  21
l1 = l1 =  0.1 C =  1 , TT split =  0.1 C =  1 , TT split =  23
 22
l1 =  0.1 C =  1 , TT split =  24
l1 =  0.1 C =  1 , TT split =  25
l1 =  0.1 C =  1 , TT split =  26
l1 =  0.1 C =  1 , TT split =  27
l1 =  0.1 C =  1 , TT split =  28
l1 =  0.1 C =  1 l1 = , TT split =  0.1 C =  1 , TT split =  30
 29
l1 =  0.1 C =  1 , TT split =  l1 =  0.1 C =  1 , TT split =  3231

l1 =  0.1 C =  1 , TT split =  34
l1 =  0.1 C =  1 , TT split =  33
l1 =  0.1 C =  1 , TT split =  35
l1 =  0.1 C =  1 , TT split =  36
l1 =  0.1 C =  1 , TT split =  37
l1 =  0.1l1 =  l1 =   0.1 C =  1 C = , TT split = 0.1 C =  1 , TT split =  40 1 , TT split =  39
 38

l1 =  0.1 C =  1 , TT split =  42
l1 = l1 =  0.1 C =  1 0.1 C =  1 , TT split =   , TT split =  41
43
l1 =  0.1 C =  1 , TT split =  44
l1 =  0.1 C =  1 , TT split =  45
l1 =  0.1 C =  1 , TT split =  47
l1 =  0.1l1 =  C =  1 , TT split =  48
 0.1 C =  1 , TT split =  46
l1 =  l1 = l1 =  0.1 l1 =  0.1 C =  1 , TT split =  0.1 C =  1C =  1 , TT split =  51
 52
 , TT split =  49
0.1 C =  1 , TT split =  50
l1 =  0.1 C =  1 , TT split =  53
l1 =  0.1 C =  1 , TT split =  54
l1 =  0.1 C =  1 , TT split =  55
l1 =  0.1 C =  1 , TT split =  56
l1 =  0.1 C =  1 , TT split =  57
l1 =  0.1 C =  1 , TT split =  58
l1 =  0.1 C =  1 , TT split =  59
l1 =  0.1 C =  1 , TT split =  60
l1 =  0.1 C =  1 , TT split =  61
l1 =  0.1 C =  1 , TT split =  62
l1 =  0.1 C =  1 , TT split =  63
l1 =  0.1 C =  1 , TT split =  64
l1 =  0.1 C =  1 , TT split =  65
l1 =  l1 = 0.1 C =  1 , TT split =  67
 0.1 C =  1 , TT split =  66
l1 =  0.1 C =  1 , TT split =  68
l1 =  0.1 C =  1 , TT split =  69
l1 =  0.1 C =  1 , TT split =  70
l1 =  0.1 C =  1 , TT split =  71
l1 =  0.1 C =  1 , TT split =  72
l1 =  0.1 C =  1 , TT split =  73
l1 =  0.1 C =  1 , TT split =  74
l1 =  0.1 C =  1 , TT split =  75
l1 =  0.1 C =  1 , TT split =  76
l1 =  0.1 C =  1 , TT split =  78
l1 =  0.1 C =  1 , TT split =  77
l1 =  0.1 C =  1 , TT split =  79
l1 =  0.1 C =  1 , TT split =  80
l1 =  0.1 C =  1 , TT split =  81
l1 =  0.1 C =  1 , TT split =  82
l1 =  0.1 C =  1 , TT split =  83
l1 =  0.1 C =  1 , TT split =  84
l1 =  0.1 C =  1 , TT split =  85
l1 =  0.1 C =  1 , TT split =  86
l1 =  0.1 C =  1 , TT split =  87
l1 =  0.1l1 =   0.1 C =  C = 1 , TT split =  88
 1 , TT split =  89
l1 =  0.1 C =  1 , TT split =  90
l1 =  0.1 C =  1 , TT split =  91
l1 =  0.1 C =  1 , TT split =  92
l1 =  0.1 C =  1 , TT split =  93
l1 =  0.1 C =  1 , TT split =  94
l1 =  0.1 C =  1 , TT split =  95
l1 =  0.1 C =  1 , TT split =  96
l1 =  0.1 C =  1 , TT split =  97
l1 =  0.1 C =  1 , TT split =  98
l1 =  0.1 C =  1 , TT split =  99

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (340, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (340,)
regularization parameters C: [1]
elastic net l1_ratios: [0.5]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.5 C = l1 =  0.5 C =  1 l1 =  0.5 C =  l1 =  0.5 l1 =  0.5 C =  1 , TT split =  C = , TT split =  1 , TT split =  04
 1 , TT split =  6
1l1 =  0.5 C =  1 l1 =  0.5 C =  1l1 =  0.5 C =  , TT split =
5
 1
, TT split =   1 , TT split =  73

 , TT split =  2
l1 =  0.5 C =  1 , TT split =  8
l1 =  0.5 C =  1 , TT split =  9
l1 =  0.5 C =  1 , TT split =  10
l1 =  0.5 C =  1 , TT split =  11
l1 =  0.5 C = l1 =  0.5 C =  1 , TT split =  1 , TT split =  12
l1 =  0.5 C =  1 , TT split =  15
 13
l1 =  0.5 C =  1 , TT split =  14
l1 =  0.5 C =  1 , TT split =  16
l1 =  0.5 C =  1 , TT split =  17
l1 =  0.5 C =  1 , TT split =  18
l1 =  0.5 C =  1 , TT split =  19
l1 =  0.5 C =  1 , TT split =  20
l1 =  0.5 C =  1 , TT split =  21
l1 =  0.5 C =  1 , TT split =  22
l1 =  0.5 C =  1 , TT split =  23
l1 =  0.5 C =  1 , TT split =  24
l1 =  0.5 C =  1 , TT split =  25
l1 =  0.5 C =  1 , TT split =  26
l1 =  0.5 C =  1 , TT split =  27
l1 =  0.5 C =  1 , TT split =  28
l1 =  0.5 C =  1 , TT split =  30
l1 =  0.5 C =  1 , TT split =  29
l1 =  0.5 C =  1 , TT split =  31
l1 =  0.5 C =  1 , TT split =  32
l1 =  0.5 C =  1 , TT split =  33
l1 =  0.5 C =  1 , TT split =  35
l1 =  0.5 C =  1 , TT split =  34
l1 =  0.5 C =  1 , TT split =  36
l1 =  0.5 C =  1 , TT split =  37
l1 =  0.5 C =  1 , TT split =  38
l1 =  0.5 C =  1 , TT split =  39
l1 =  0.5 C =  1 , TT split =  40
l1 =  0.5 C =  1 , TT split =  41
l1 =  0.5 C =  1 , TT split =  42
l1 =  0.5 C =  1 , TT split =  43
l1 =  0.5 C =  1 , TT split =  44
l1 =  0.5 C =  1 , TT split =  45
l1 =  0.5 C =  1 , TT split =  46
l1 =  0.5 C =  1 , TT split =  47
l1 =  0.5 C =  1 , TT split =  48
l1 =  0.5 C =  1 , TT split =  49
l1 =  0.5 C =  1 , TT split =  50
l1 =  0.5l1 =   0.5 C =  1 , TT split =  52
C =  1 , TT split =  51
l1 =  0.5 C =  1 , TT split =  53
l1 =  0.5 C =  1 , TT split =  54
l1 = l1 =  0.5 C =  1 , TT split =  55
 0.5 C =  1 , TT split =  56
l1 =  0.5 C =  1 , TT split =  57
l1 =  0.5 C =  1 , TT split =  58
l1 =  0.5 C =  1 , TT split =  59
l1 =  0.5 C =  1 , TT split =  60
l1 =  0.5 C =  1 , TT split =  61
l1 =  0.5 C =  1 , TT split =  62
l1 =  0.5 C =  1 , TT split =  63
l1 =  0.5 C =  1 , TT split =  64
l1 =  0.5 C =  1 , TT split =  65
l1 =  0.5 C =  1 , TT split =  66
l1 = l1 =  0.5 C =  1 , TT split =  68
l1 =   0.5 C =  1 , TT split =  69
0.5 C =  1 , TT split =  67
l1 =  0.5 C =  1 , TT split =  70
l1 =  0.5 C =  1 , TT split =  71
l1 = l1 =  0.5 C =   0.5 C =  1 , TT split =  73
1 , TT split =  72
l1 =  0.5 C =  1 , TT split =  74
l1 =  0.5 C =  1 , TT split =  75
l1 =  0.5 C =  1 , TT split =  76
l1 =  0.5 C =  1 , TT split =  77
l1 =  0.5 C =  1 , TT split =  78
l1 =  0.5 C =  1 , TT split =  79
l1 =  0.5 C =  1 , TT split =  80
l1 =  0.5 C =  1 , TT split =  81
l1 =  0.5 C =  1 , TT split =  82
l1 =  0.5 C =  1 , TT split =  83
l1 =  0.5 C =  1 , TT split =  84
l1 =  0.5 C =  1 , TT split =  85
l1 =  0.5 C =  1 , TT split =  86
l1 =  0.5 C =  1 , TT split =  87
l1 =  0.5 C =  1 , TT split =  88
l1 =  0.5 C =  1 , TT split =  89
l1 =  0.5 C =  1 , TT split =  90
l1 =  0.5 C =  1 , TT split =  91
l1 =  0.5 C =  1 , TT split =  92
l1 =  0.5 C =  1 , TT split =  93
l1 =  0.5 C =  1 , TT split =  94
l1 =  0.5 C =  1 , TT split =  95
l1 =  0.5 C =  1 , TT split =  96
l1 =  0.5 C =  1 , TT split =  97
l1 =  0.5 C =  1 , TT split =  98
l1 =  0.5 C =  1 , TT split =  99

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [1]
elastic net l1_ratios: [0.5]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.5l1 =  0.5 C =  1 , TT split =  0
 C =  1 , TT split = l1 =  0.5 C =  1 , TT split =  1
 2
l1 =  0.5 C =  1l1 =  0.5 C =  1 , TT split =  4
 , TT split =  3
l1 =  0.5 C = l1 =  0.5 C =  1 , TT split =  6
l1 =  0.5 C =  1 , TT split =  5
 1 , TT split =  7
l1 =  0.5 C =  1 , TT split =  8
l1 =  0.5 C =  1 , TT split =  9
l1 =  0.5 C =  1 , TT split =  10
l1 =  0.5 C =  1 , TT split =  11
l1 =  0.5 C =  1 , TT split =  13
l1 =  0.5 C =  1 , TT split =  12
l1 =  l1 = 0.5  0.5 C =  1 , TT split =  14
C =  1 , TT split =  15
l1 =  0.5 C =  1 , TT split =  16
l1 =  0.5 C =  1 , TT split =  17
l1 =  0.5 C =  1 , TT split =  18
l1 =  0.5 C =  1 , TT split =  19
l1 =  0.5 C =  1 , TT split =  20
l1 =  0.5 C =  1 , TT split =  21
l1 =  0.5 C =  1 , TT split =  22
l1 =  0.5 C =  1 , TT split =  23
l1 =  0.5 C =  1 , TT split =  24
l1 =  0.5 C =  1 , TT split =  25
l1 =  0.5 C =  1 , TT split =  26
l1 =  0.5 C =  1 , TT split =  27
l1 =  0.5 C =  1 , TT split =  28
l1 =  0.5 C =  1 , TT split =  29
l1 =  0.5 C =  1 , TT split =  30
l1 =  0.5 C =  1 , TT split =  31
l1 =  0.5 C =  1 , TT split =  32
l1 =  0.5 C =  1 , TT split =  33
l1 =  0.5 C =  1 , TT split =  34
l1 =  0.5 C =  1 , TT split =  35
l1 =  0.5 C =  1 , TT split =  36
l1 =  0.5 C =  1 , TT split =  37
l1 =  0.5 C =  1 , TT split =  38
l1 =  0.5 C =  1 , TT split =  39
l1 =  0.5 C =  1 , TT split =  40
l1 =  0.5 C =  1 , TT split =  41
l1 =  0.5 C =  1 , TT split =  42
l1 =  0.5 C =  1 , TT split =  43
l1 =  0.5 C =  1 , TT split =  44
l1 = l1 =  0.5 C =  1 , TT split =  46
 0.5 C =  1 , TT split =  45
l1 =  0.5 C =  1 , TT split =  47
l1 =  0.5 C =  1 , TT split =  48
l1 =  0.5 C =  1 , TT split =  50
l1 =  0.5 C =  1 , TT split =  49
l1 =  0.5 C =  1 , TT split =  51
l1 =  0.5 C =  1 , TT split =  52
l1 =  0.5 C =  1 , TT split =  53
l1 =  0.5 C =  1 , TT split =  54
l1 =  0.5 C =  1 , TT split =  55
l1 =  0.5 C =  1 , TT split =  56
l1 =  0.5 C =  1 , TT split =  57
l1 =  0.5 C =  1 , TT split =  58
l1 =  0.5 C =  1 , TT split =  59
l1 =  0.5 C =  1 , TT split =  60
l1 =  0.5 C =  1 , TT split =  61
l1 =  0.5 C =  1 , TT split =  62
l1 =  0.5 C =  1 , TT split =  63
l1 =  0.5 C =  1 , TT split =  64
l1 =  0.5 C =  1 , TT split =  65
l1 =  0.5 C =  1 , TT split =  66
l1 =  0.5 C =  1 , TT split =  67
l1 =  0.5 C =  1 , TT split =  68
l1 =  0.5 C =  1 , TT split =  69
l1 =  0.5 C =  1 , TT split =  70
l1 =  0.5 C =  1 , TT split =  71
l1 =  0.5 C =  1 , TT split =  72
l1 =  0.5 C =  1 , TT split =  73
l1 =  0.5 C =  1 , TT split =  74
l1 =  0.5 C =  1 , TT split =  l1 =  0.5 C = 75
 1 , TT split =  76
l1 =  0.5 C =  1 , TT split =  77
l1 =  0.5 C =  1 , TT split =  78
l1 =  0.5 C =  1 , TT split =  79
l1 =  0.5 C =  1 , TT split =  80
l1 =  0.5 C =  1 , TT split =  81
l1 =  0.5 C =  1 , TT split =  82
l1 = l1 =  0.5 C =  1 , TT split =  83
 0.5 C =  1 , TT split =  84
l1 =  0.5 C =  1 , TT split =  85
l1 =  0.5 C =  1 , TT split =  86
l1 =  0.5 C =  1 , TT split =  87
l1 =  0.5 C =  1 , TT split =  88
l1 =  0.5 C =  1 , TT split =  89
l1 =  0.5 C =  1 , TT split =  90
l1 =  0.5 C =  1 , TT split =  91
l1 =  0.5 C =  1 , TT split =  92
l1 =  0.5 C =  1 , TT split =  93
l1 =  0.5 C =  1 , TT split =  94
l1 =  0.5 C =  1 , TT split =  95
l1 =  0.5 C =  1 , TT split =  96
l1 =  0.5 C =  1 , TT split =  97
l1 =  0.5 C =  1 , TT split =  98
l1 =  0.5 C =  1 , TT split =  99

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [1]
elastic net l1_ratios: [0.5]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.5 C =  1 , TT split =  0
l1 =  0.5 C =  1 , TT split =  7
l1 =  0.5 C =  1l1 =  0.5 C =  l1 =  0.5 C =  1 , TT split =  1
 , TT split =  2
l1 =  0.5 C =  1l1 =  0.5 C =  1 , TT split =  5
1 , TT split =  6
 , TT split =  3
l1 =  0.5 C =  1 , TT split =  4
l1 =  0.5 C =  1 , TT split =  8
l1 =  0.5 C =  1 , TT split =  9
l1 =  0.5 C =  1 , TT split =  10
l1 =  0.5l1 =   0.5 C =  1 , TT split =  12
C =  1 , TT split =  11
l1 =  0.5 C =  1 , TT split =  13
l1 =  0.5 C =  1 , TT split =  14
l1 =  0.5 C =  1 , TT split =  15
l1 =  0.5 C =  1 , TT split =  16
l1 =  0.5 C =  1 , TT split =  17
l1 =  0.5 C =  1 , TT split =  18
l1 =  0.5 C =  1 , TT split =  19
l1 =  0.5 C =  1 , TT split =  20
l1 =  0.5 C =  1 , TT split =  21
l1 = l1 =  0.5 C =  1 , TT split =  22
 0.5 C =  1 , TT split =  23
l1 =  0.5 C =  1 , TT split =  24
l1 =  0.5 C =  1 , TT split =  25
l1 =  0.5 C =  1 , TT split =  26
l1 =  0.5 C =  1 , TT split =  27
l1 =  0.5 C =  1 , TT split =  28
l1 =  0.5 C =  1 , TT split =  29
l1 =  0.5 C =  1 , TT split =  30
l1 =  0.5 C =  1 , TT split =  31
l1 =  0.5 C =  1 , TT split =  32
l1 =  0.5 C =  1 , TT split =  33
l1 =  0.5 C =  1 , TT split =  34
l1 =  l1 = 0.5 C =  1 , TT split =  35
 0.5 C =  1 , TT split =  36
l1 =  0.5 C =  1 , TT split =  37
l1 =  0.5 C =  1 , TT split =  38
l1 =  0.5 C =  1 , TT split =  39
l1 =  0.5 C =  1 , TT split =  40
l1 =  0.5 C =  1 , TT split =  41
l1 =  0.5 C =  1 , TT split =  42
l1 =  0.5 C =  1 , TT split =  43
l1 =  0.5 C =  1 , TT split =  44
l1 =  0.5 C =  1 , TT split =  45
l1 =  0.5 C =  1 , TT split =  46
l1 =  0.5 C =  1 , TT split =  47
l1 =  0.5 C =  1 , TT split =  48
l1 =  0.5 C =  1 , TT split =  49
l1 =  0.5 C =  1 , TT split =  50
l1 =  0.5 C =  1 , TT split =  51
l1 =  0.5 C =  1 , TT split =  52
l1 =  0.5 C =  1 , TT split =  53
l1 =  0.5 C =  1 , TT split =  54
l1 =  0.5 C =  1 , TT split =  55
l1 =  0.5 C =  1 , TT split =  56
l1 =  0.5 C =  1 , TT split =  57
l1 =  0.5 C =  1 , TT split =  58
l1 =  0.5 C =  1 , TT split =  59
l1 =  0.5 C =  1 , TT split =  60
l1 =  0.5 C =  1 , TT split =  61
l1 =  0.5 C =  1 , TT split =  62
l1 =  0.5 C =  1 , TT split =  63
l1 =  0.5 C =  1 , TT split =  64
l1 =  0.5 C =  1 , TT split =  65
l1 =  0.5 C =  1 , TT split =  66
l1 =  0.5 C =  1 , TT split =  67
l1 =  0.5 C =  1 , TT split =  68
l1 =  0.5 C =  1 , TT split =  69
l1 =  0.5 C =  1 , TT split =  70
l1 =  0.5 C =  1 , TT split =  71
l1 =  0.5 C =  1 , TT split =  72
l1 =  0.5 C =  1 , TT split =  73
l1 =  0.5 C =  1 , TT split =  74
l1 =  0.5 C =  1 , TT split =  75
l1 =  0.5 C =  1 , TT split =  76
l1 =  0.5 C =  1 , TT split =  77
l1 =  0.5 C =  1 , TT split =  78
l1 =  0.5 C =  1 , TT split =  79
l1 =  0.5 C =  1 , TT split =  80
l1 =  0.5 C =  1 , TT split =  81
l1 =  0.5 C =  1 , TT split =  82
l1 =  0.5 C =  1 , TT split =  83
l1 =  0.5 C =  1 , TT split =  84
l1 =  0.5 C =  1 , TT split =  85
l1 =  0.5 C =  1 , TT split =  86
l1 =  0.5 C =  1 , TT split =  87
l1 =  0.5 C =  1 , TT split =  88
l1 =  0.5 C =  1 , TT split =  89
l1 =  0.5 C =  1 , TT split =  90
l1 =  0.5 C =  1 , TT split =  91
l1 =  0.5 C =  1 , TT split =  92
l1 =  0.5 C =  1 , TT split =  93
l1 =  0.5 C =  1 , TT split =  94
l1 =  0.5 C =  1 , TT split =  95
l1 =  0.5 C =  1 , TT split =  96
l1 =  0.5 C =  1 , TT split =  97
l1 =  0.5 C =  1 , TT split =  98
l1 =  0.5 C =  1 , TT split =  99

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [1]
elastic net l1_ratios: [0.5]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.5 C =  1 , TT split = l1 =  0.5 C =   l1 =  0.5 C =  1 , TT split =  63

l1 =  0.5 C =  l1 =  0.5 C =  1l1 =  0.5 C =  1 , TT split = l1 =  0.5 C =  11 1 , TT split =  7
 4
 , TT split =  5
, TT split =  0
 , TT split =  2
l1 =  0.5 C =  1 , TT split =  1
l1 =  0.5 C =  1 , TT split =  8
l1 = l1 =   0.5 C =  0.5 C =  1 , TT split =  9
1 , TT split =  10
l1 =  0.5 C =  1 , TT split =  11
l1 =  0.5 C =  1 , TT split =  12
l1 =  0.5 C =  1 , TT split =  13
l1 =  0.5 C =  1 , TT split =  14
l1 =  0.5 C =  1 , TT split =  15
l1 =  0.5 C =  1 , TT split =  16
l1 =  0.5 C =  1 , TT split =  17
l1 =  0.5 C =  1 , TT split =  18
l1 =  0.5 C =  1 , TT split =  19
l1 = l1 =  0.5  C =  1 , TT split =  20
0.5 C =  1 , TT split =  21
l1 =  0.5 C =  1 , TT split =  22
l1 =  0.5 C =  1 , TT split =  23
l1 =  0.5 C =  1 , TT split =  24
l1 =  0.5 C =  1 , TT split =  25
l1 =  0.5 C =  1 , TT split =  26
l1 =  0.5 C =  1 , TT split =  27
l1 =  0.5 C =  1 , TT split =  28
l1 =  0.5 C =  1 , TT split =  29
l1 =  0.5 C =  1 , TT split =  30
l1 =  0.5 C =  1 , TT split =  31
l1 =  0.5 C =  1 , TT split =  32
l1 =  0.5 C =  1 , TT split =  33
l1 =  0.5 C =  1 , TT split =  34
l1 =  0.5 C =  1 , TT split =  35
l1 =  0.5 C =  1 , TT split =  36
l1 =  0.5 C =  1 , TT split =  37
l1 =  0.5 C =  1 , TT split =  38
l1 =  0.5 C =  1 , TT split =  39
l1 =  0.5 C =  1 , TT split =  40
l1 =  0.5 C =  1 , TT split =  41
l1 =  0.5 C =  1 , TT split =  42
l1 =  0.5 C =  1 , TT split =  43
l1 =  0.5 C =  1 , TT split =  44
l1 =  0.5 C =  1 , TT split =  45
l1 =  0.5 C =  1 , TT split =  46
l1 =  0.5 C =  1 , TT split =  47
l1 =  0.5 C =  1 , TT split =  48
l1 = l1 =  0.5 C =  1 , TT split =  49
 0.5 C =  1 , TT split =  50
l1 =  0.5 C =  1 , TT split =  51
l1 =  0.5 C =  1 , TT split =  52
l1 =  0.5 C =  1 , TT split =  53
l1 =  0.5 C =  1 , TT split =  54
l1 =  0.5 C =  1 , TT split =  55
l1 =  0.5 C =  1 , TT split =  56
l1 =  0.5 C =  1 , TT split =  57
l1 =  0.5 C =  1 , TT split =  58
l1 =  0.5 C =  1 , TT split =  59
l1 =  0.5 C =  1 , TT split =  60
l1 = l1 =   0.5 C =  1 , TT split =  61
0.5 C =  1 , TT split =  62
l1 =  0.5 C =  1 , TT split =  63
l1 =  0.5 C =  1 , TT split =  64
l1 =  0.5 C =  1 , TT split =  65
l1 =  0.5 C =  1 , TT split =  66
l1 =  0.5 C =  1 , TT split =  67
l1 =  0.5 C =  1 , TT split =  68
l1 =  0.5 C =  1 , TT split =  69
l1 =  0.5 C =  1 , TT split =  70
l1 =  0.5 C =  1 , TT split =  71
l1 =  0.5 C =  1 , TT split =  72
l1 =  0.5 C =  1 , TT split =  73
l1 =  0.5 C =  1 , TT split =  74
l1 =  0.5 C =  1 , TT split =  75
l1 =  0.5 C =  1 , TT split =  76
l1 =  0.5 C =  1 , TT split =  77
l1 =  0.5 C =  1 , TT split =  78
l1 =  0.5 C =  1 , TT split =  79
l1 =  0.5 C =  1 , TT split =  80
l1 =  0.5 C =  1 , TT split =  81
l1 =  0.5 C =  1 , TT split =  82
l1 =  0.5 C =  1 , TT split =  83
l1 =  0.5 C =  1 , TT split =  84
l1 =  0.5 C =  1 , TT split =  85
l1 =  0.5 C =  1 , TT split =  86
l1 =  0.5 C =  1 , TT split =  87
l1 =  0.5 C =  1 , TT split =  88
l1 =  0.5 C =  1 , TT split =  89
l1 =  0.5 C =  1 , TT split =  90
l1 =  0.5 C =  1 , TT split =  91
l1 =  0.5 C =  1 , TT split =  92
l1 =  0.5 C =  1 , TT split =  93
l1 =  0.5 C =  1 , TT split =  94
l1 =  0.5 C =  1 , TT split =  95
l1 =  0.5 C =  1 , TT split =  96
l1 =  0.5 C =  1 , TT split =  97
l1 =  0.5 C =  1 , TT split =  98
l1 =  0.5 C =  1 , TT split =  99

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [1]
elastic net l1_ratios: [0.5]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.5 C =  1 , TT split =  0
l1 =  0.5 C =  1 , TT split =  1
l1 =  0.5 C =  l1 =  0.5 C = 1 , TT split =  l1 =  0.5 C =  1 l1 =  0.5 C =  1, TT split =  5
3
 1 , TT split =  7
 , TT split =  4
l1 =  0.5 C = l1 =  0.5 C =  1 , TT split =  6
 1 , TT split =  2
l1 =  0.5 C =  1 , TT split =  8
l1 =  0.5 C =  1 , TT split =  9
l1 =  0.5 C =  1 , TT split =  10
l1 =  0.5 C =  1 , TT split =  11
l1 =  0.5l1 =  C =  1 , TT split =  13
 0.5 C =  1 , TT split =  12
l1 =  0.5 C =  1 , TT split =  l1 =  140.5 C =
1 , TT split =  15
l1 =  0.5 C =  1 , TT split =  16
l1 =  0.5 C =  1 , TT split =  17
l1 =  0.5 C =  1 , TT split =  18
l1 =  0.5 C =  1 , TT split =  19
l1 =  0.5 C =  1 , TT split =  20
l1 =  0.5l1 =  0.5 C =  C =  1 , TT split =  21
 1 , TT split =  22
l1 =  0.5 C =  1 , TT split =  23
l1 =  0.5 C =  1 , TT split =  24
l1 =  0.5 C =  1 , TT split =  25
l1 =  0.5 C =  1 , TT split =  26
l1 =  0.5 C =  1 , TT split =  27
l1 =  0.5 C =  1 , TT split =  28
l1 =  0.5 C =  1 , TT split =  29
l1 =  0.5 C =  1 , TT split =  30
l1 =  0.5 C =  1 , TT split =  31
l1 =  l1 = 0.5 0.5 C =  1 , TT split =  33
 C =  1 , TT split =  32
l1 =  0.5 C =  1 , TT split =  34
l1 =  0.5 C =  1 , TT split =  35
l1 =  0.5 C =  1 , TT split =  36
l1 =  0.5 C =  1 , TT split =  37
l1 =  0.5l1 =  0.5 C =  1 , TT split =  39
 C =  1 , TT split =  38
l1 =  0.5 C =  1 , TT split =  40
l1 =  0.5 C =  1 , TT split =  41
l1 =  0.5 C =  1 , TT split =  42
l1 =  0.5 C =  1 , TT split =  43
l1 =  0.5 C =  1 , TT split =  44
l1 =  0.5 C =  1 , TT split =  45
l1 =  0.5 C =  1 , TT split =  46
l1 =  0.5 C =  1 , TT split =  47
l1 =  0.5 C =  1 l1 = , TT split =  0.5 C =   48
1 , TT split =  49
l1 =  0.5 C =  1 , TT split =  50
l1 =  0.5 C =  1 , TT split =  51
l1 =  0.5 C =  1 , TT split =  52
l1 =  0.5 C =  1 , TT split =  53
l1 =  0.5 C =  1 , TT split =  54
l1 =  0.5 C =  1 , TT split =  55
l1 =  0.5 C =  1 , TT split =  56
l1 =  0.5 C =  1 , TT split =  57
l1 =  0.5 C =  1 , TT split =  58
l1 =  0.5 C =  1 , TT split =  59
l1 =  0.5 C =  1 , TT split =  60
l1 =  0.5 C =  1 , TT split =  61
l1 =  0.5 C =  1 , TT split =  62
l1 =  0.5 C =  1 , TT split =  63
l1 =  0.5 C =  1 , TT split =  64
l1 =  0.5 C =  1 , TT split =  66
l1 =  0.5 C =  1 , TT split =  65
l1 =  0.5 C =  1 , TT split =  68
l1 =  0.5 C =  1 , TT split =  67
l1 =  0.5 C =  1 , TT split =  69
l1 =  0.5 C =  1 , TT split =  70
l1 =  0.5 C =  1 , TT split =  71
l1 =  0.5 C =  1 , TT split =  72
l1 =  0.5 C =  1 , TT split =  73
l1 =  0.5 C =  1 , TT split =  74
l1 =  0.5 C =  1 , TT split =  75
l1 =  0.5 C =  1 , TT split =  76
l1 =  0.5 C =  1 , TT split =  77
l1 =  0.5 C =  1 , TT split =  78
l1 =  0.5 C =  1 , TT split =  79
l1 =  0.5 C =  1 , TT split =  80
l1 =  0.5 C =  1 , TT split =  81
l1 =  0.5 C =  1 , TT split =  82
l1 =  0.5 C =  1 , TT split =  83
l1 =  0.5 C =  1 , TT split =  84
l1 =  0.5 C =  1 , TT split =  85
l1 =  0.5 C =  1 , TT split =  86
l1 =  0.5 C =  1 , TT split =  87
l1 =  0.5 C =  1 , TT split =  88
l1 =  0.5 C =  1 , TT split =  89
l1 =  0.5 C =  1 , TT split =  90
l1 =  0.5 C =  1 , TT split =  91
l1 =  0.5 C =  1 , TT split =  92
l1 =  0.5 C =  1 , TT split =  93
l1 =  0.5 C =  1 , TT split =  94
l1 =  0.5 C =  1 , TT split =  95
l1 =  0.5 C =  1 , TT split =  96
l1 =  0.5 C =  1 , TT split =  97
l1 =  0.5 C =  1 , TT split =  98
l1 =  0.5 C =  1 , TT split =  99

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (340, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (340,)
regularization parameters C: [1]
elastic net l1_ratios: [0.9]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.9 C =  1 l1 =  0.9 C =  l1 =  0.9 C =  1l1 =  0.9 C =  1 , TT split =  2
1 , TT split =  1
, TT split =  , TT split =  4
 0
l1 =  0.9l1 =  0.9 C =  1 , TT split =  6
 C =  1 , TT split =  5
l1 = l1 =  0.9 C =  1 , TT split =   0.9 C =  1 7
, TT split =  3
l1 =  0.9 C =  1 , TT split =  8
l1 =  0.9 C =  1 , TT split =  9
l1 =  0.9 C =  1 , TT split =  10
l1 =  0.9 C =  1 , TT split =  11
l1 =  0.9 C =  1 , TT split =  12
l1 =  0.9 C =  1 , TT split =  13
l1 =  0.9 C =  1 , TT split =  14
l1 =  0.9 C =  1 , TT split =  15
l1 =  0.9 C =  1 , TT split =  16
l1 =  0.9 C =  1 , TT split =  17
l1 =  0.9 C =  1 , TT split =  18
l1 =  0.9 C =  1 , TT split =  19
l1 =  0.9 C =  1 , TT split =  20
l1 =  0.9 C =  1 , TT split =  21
l1 =  0.9 C =  1 , TT split =  22
l1 =  0.9 C =  1 , TT split =  23
l1 =  0.9 C =  1 , TT split =  24
l1 =  0.9 C =  1 , TT split =  25
l1 =  0.9 C =  1 , TT split =  26
l1 =  0.9 C =  1 , TT split =  27
l1 =  0.9 C =  1 , TT split =  28
l1 =  0.9 C =  1 , TT split =  29
l1 =  0.9 C =  1 , TT split =  30
l1 =  0.9 C =  1 , TT split =  31
l1 =  0.9 C =  1 , TT split =  32
l1 =  0.9 C =  1 , TT split =  33
l1 =  0.9 C =  1 , TT split =  34
l1 =  0.9 C =  1 , TT split =  35
l1 =  0.9 C =  1 , TT split =  36
l1 =  0.9 C =  1 , TT split =  37
l1 =  0.9 C =  1 , TT split =  38
l1 =  0.9 C =  1 , TT split =  39
l1 =  0.9 C =  1 , TT split =  40
l1 =  0.9 C =  1 , TT split =  41
l1 =  0.9 C =  1 , TT split =  42
l1 =  0.9 C =  1 , TT split =  43
l1 = l1 =  0.9  C =  1 , TT split =  44
0.9 C =  1 , TT split =  45
l1 =  0.9 C =  1 , TT split =  46
l1 =  0.9 C =  1 , TT split =  47
l1 =  0.9 C =  1 , TT split =  48
l1 =  0.9 C =  1 , TT split =  49
l1 =  0.9 C =  1 , TT split =  50
l1 =  0.9 C =  1 , TT split =  51
l1 =  0.9 C =  1 , TT split =  52
l1 =  0.9 C =  1 , TT split =  53
l1 =  0.9 C =  1 , TT split =  54
l1 =  0.9 C =  1 , TT split =  55
l1 =  0.9 C =  1 , TT split =  56
l1 =  0.9 C =  1 , TT split =  57
l1 =  0.9 C =  1 , TT split =  58
l1 =  0.9 C =  1 , TT split =  59
l1 =  0.9 C =  1 , TT split =  60
l1 =  0.9 C =  1 , TT split =  61
l1 =  0.9 C =  1 , TT split =  62
l1 =  0.9 C =  1 , TT split =  63
l1 =  0.9 C =  1 , TT split =  64
l1 =  0.9 C =  1 , TT split =  65
l1 =  0.9 C =  1 , TT split =  66
l1 =  0.9 C =  1 , TT split =  67
l1 =  0.9 C =  1 , TT split =  68
l1 =  0.9 C =  1 , TT split =  69
l1 =  0.9 C =  1 , TT split =  70
l1 =  0.9 C =  1 , TT split =  71
l1 =  0.9 C =  1 , TT split =  72
l1 =  0.9 C =  1 , TT split =  73
l1 =  0.9 C =  1 , TT split =  74
l1 =  0.9 C =  1 , TT split =  75
l1 =  0.9 C =  1 , TT split =  76
l1 =  0.9 C =  1 , TT split =  77
l1 =  0.9 C =  1 , TT split =  78
l1 =  0.9 C =  1 , TT split =  79
l1 =  0.9 C =  1 , TT split =  80
l1 =  0.9 C =  1 , TT split =  81
l1 =  0.9 C =  1 , TT split =  82
l1 =  0.9 C =  1 , TT split =  83
l1 =  0.9 C =  1 , TT split =  84
l1 =  0.9 C =  1 , TT split =  85
l1 =  0.9 C =  1 , TT split =  86
l1 =  0.9 C =  1 , TT split =  87
l1 =  0.9 C =  1 , TT split =  88
l1 =  0.9 C =  1 , TT split =  89
l1 =  0.9 C =  1 , TT split =  90
l1 =  0.9 C =  1 , TT split =  91
l1 =  0.9 C =  1 , TT split =  92
l1 =  0.9 C =  1 , TT split =  93
l1 =  0.9 C =  1 , TT split =  94
l1 =  0.9 C =  1 , TT split =  95
l1 =  0.9 C =  1 , TT split =  96
l1 =  0.9 C =  1 , TT split =  97
l1 =  0.9 C =  1 , TT split =  98
l1 =  0.9 C =  1 , TT split =  99

C:\Users\ajenul\OneDrive - Norwegian University of Life Sciences\GitHub\RENT\src\RENT\RENT.py:76: RuntimeWarning: invalid value encountered in true_divide
  abs(means / np.sqrt((stds ** 2) / len(weight_list))), \
C:\NMBU\Miniconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1847: RuntimeWarning: invalid value encountered in greater_equal
  cond2 = (x >= np.asarray(_b)) & cond0
C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [1]
elastic net l1_ratios: [0.9]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.9l1 =  0.9 C =  1 , TT split =  1
l1 =  0.9 C =  1 , TT split =  5
l1 =  0.9 C =  1 , TT split =   l1 =  0.9 C =  l1 =  0.91l1 =  0.9 , TT split =  7
2
C =  1 C =  1 , TT split =   , TT split =  0
3
 C =  1 , TT split =  6
l1 =  0.9 C =  1 , TT split =  4
l1 =  0.9 C =  1 , TT split =  8
l1 =  0.9 C =  1 , TT split =  9
l1 =  0.9 C =  1 , TT split =  10
l1 =  0.9 C =  1 , TT split =  11
l1 =  0.9 C =  1 , TT split =  12
l1 =  0.9 C = l1 =  1 , TT split =  13
 0.9 C =  1 , TT split =  14
l1 =  0.9 C =  1 , TT split =  15
l1 =  0.9 C =  1 , TT split =  16
l1 =  0.9 C =  1 , TT split =  17
l1 =  0.9 C =  1 , TT split =  18
l1 =  0.9 C =  1 , TT split =  19
l1 =  0.9 C =  1 , TT split =  20
l1 =  0.9 C =  1 , TT split =  21
l1 =  0.9 C =  1 , TT split =  22
l1 =  0.9 C =  1 , TT split =  23
l1 =  0.9 C =  1 , TT split =  24
l1 =  0.9 C =  1 , TT split =  25
l1 =  0.9 C =  1 , TT split =  26
l1 =  0.9 C =  1 , TT split =  27
l1 =  0.9 C =  1 , TT split =  28
l1 =  0.9 C =  1 , TT split =  29
l1 =  0.9 C =  1 , TT split =  30
l1 =  0.9 C =  1 , TT split =  31
l1 =  0.9 C =  1 , TT split =  32
l1 =  0.9 C =  1 , TT split =  33
l1 =  0.9 C =  1 , TT split =  34
l1 =  0.9 C =  1 , TT split =  35
l1 =  0.9 C =  1 , TT split =  36
l1 =  0.9 C =  1 , TT split =  37
l1 =  0.9 C =  1 , TT split =  38
l1 =  0.9 C =  1 , TT split =  39
l1 =  0.9 C =  1 , TT split =  40
l1 =  0.9 C =  1 , TT split =  41
l1 =  0.9 C =  1 , TT split =  42
l1 =  0.9 C =  1 , TT split =  43
l1 =  0.9 C =  1 , TT split =  44
l1 =  0.9 C =  1 , TT split =  45
l1 =  0.9 C =  1 , TT split =  46
l1 = l1 =  0.9 C =  1 , TT split =  48
 0.9 C =  1 , TT split =  47
l1 =  0.9 C =  1 , TT split =  49
l1 =  0.9 C =  1 , TT split =  50
l1 =  0.9 C =  1 , TT split =  51
l1 =  0.9 C =  1 , TT split =  52
l1 =  0.9 C =  1 , TT split =  53
l1 =  0.9 C =  1 , TT split =  54
l1 =  0.9 C =  1 , TT split =  55
l1 =  0.9 C =  1 , TT split =  56
l1 =  0.9 C =  1 , TT split =  57
l1 =  0.9 C =  1 , TT split =  58
l1 =  0.9 C =  1 , TT split =  59
l1 =  0.9 C =  1 , TT split =  60
l1 =  0.9 C =  1 , TT split =  61
l1 =  0.9 C =  1 , TT split =  62
l1 =  0.9 C =  1 , TT split =  63
l1 =  0.9 C =  1 , TT split =  64
l1 =  0.9 C =  1 , TT split =  65
l1 =  0.9 C =  1 , TT split =  66
l1 =  0.9 C =  1 , TT split =  67
l1 =  0.9 C =  1 , TT split =  68
l1 =  0.9 C =  1 , TT split =  69
l1 =  0.9 C =  1 , TT split =  70
l1 =  0.9 C =  1 , TT split =  71
l1 =  0.9 C =  1 , TT split =  72
l1 =  0.9 C =  1 , TT split =  73
l1 =  0.9 C =  1 , TT split =  74
l1 =  0.9 C =  1 , TT split =  75
l1 =  0.9 C =  1 , TT split =  76
l1 =  0.9 C =  1 , TT split =  77
l1 =  0.9 C =  1 , TT split =  78
l1 =  0.9 C =  1 , TT split =  79
l1 =  0.9 C =  1 , TT split =  80
l1 =  0.9 C =  1 , TT split =  81
l1 =  0.9 C =  1 , TT split =  82
l1 =  0.9 C =  1 , TT split =  83
l1 =  0.9 C =  1 , TT split =  84
l1 =  0.9 C =  1 , TT split =  85
l1 =  0.9 C =  1 , TT split =  86
l1 =  0.9 C =  1 , TT split =  87
l1 =  0.9 C =  1 , TT split =  88
l1 =  0.9 C =  1 , TT split =  89
l1 =  0.9 C =  1 , TT split =  90
l1 =  0.9 C =  1 , TT split =  91
l1 =  0.9 C =  1 , TT split =  92
l1 =  0.9 C =  1 , TT split =  93
l1 =  0.9 C =  1 , TT split =  94
l1 =  0.9 C =  1 , TT split =  95
l1 = l1 =  0.9 C =  1 , TT split =  96
 0.9 C =  1 , TT split =  97
l1 =  0.9 C =  1 , TT split =  98
l1 =  0.9 C =  1 , TT split =  99

C:\Users\ajenul\OneDrive - Norwegian University of Life Sciences\GitHub\RENT\src\RENT\RENT.py:76: RuntimeWarning: invalid value encountered in true_divide
  abs(means / np.sqrt((stds ** 2) / len(weight_list))), \
C:\NMBU\Miniconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1847: RuntimeWarning: invalid value encountered in greater_equal
  cond2 = (x >= np.asarray(_b)) & cond0
C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [1]
elastic net l1_ratios: [0.9]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.9 C =  1 , TT split =  1
l1 =  0.9 C =  1 , TT split =  2
l1 =  0.9 C =  1 , TT split =  4
l1 =  0.9 C =  l1 =  0.9 C =  1 , TT split =  31 l1 =  0.9 C =  1 , TT split =  6
l1 =  0.9 C =  , TT split =
10 , TT split =  5

l1 =  0.9 C =  1 , TT split =  7
l1 =  0.9 C =  1 , TT split =  8
l1 =  0.9 C =  1 , TT split =  9
l1 =  0.9 C =  1 , TT split =  10
l1 =  0.9 C =  1 , TT split =  11
l1 =  0.9 C =  1 , TT split =  12
l1 =  0.9 C =  1 , TT split =  13
l1 =  0.9 C =  1 , TT split =  14
l1 =  0.9 C =  1 , TT split =  15
l1 =  0.9 C =  1 , TT split =  16
l1 =  0.9 C =  1 , TT split =  17
l1 =  0.9 C =  1 , TT split =  18
l1 =  0.9 C =  1 , TT split =  19
l1 =  0.9 C =  1 , TT split =  20
l1 =  0.9 C =  1 , TT split =  21
l1 =  0.9 C =  1 , TT split =  22
l1 =  0.9 C =  1 , TT split =  23
l1 =  0.9 C =  1 , TT split =  24
l1 =  0.9 C =  1 , TT split =  25
l1 =  0.9 C =  1 , TT split =  26
l1 =  0.9 C =  1 , TT split =  27
l1 =  0.9 C =  1 , TT split =  28
l1 =  0.9 C =  1 , TT split =  29
l1 =  0.9 C =  1 , TT split =  30
l1 =  0.9 C =  1 , TT split =  31
l1 =  0.9 C =  1 , TT split =  32
l1 =  0.9 C =  1 , TT split =  33
l1 =  0.9 C =  1 , TT split =  34
l1 =  0.9 C =  1 , TT split =  35
l1 =  0.9 C =  1 , TT split =  37
l1 =  0.9 C =  1l1 =  0.9 C =  1  , TT split = , TT split =  36
 38
l1 =  0.9 C =  1 , TT split =  39
l1 =  0.9 C =  1 , TT split =  40
l1 =  0.9 C =  1 , TT split =  41
l1 =  0.9 C =  1 , TT split =  42
l1 =  0.9 C =  1 , TT split =  43
l1 =  0.9 C =  1 , TT split =  44
l1 =  0.9 C =  1 , TT split =  45
l1 =  0.9 C =  1 , TT split =  46
l1 =  0.9 C =  1 , TT split =  47
l1 =  0.9 C =  1 , TT split =  48
l1 =  0.9 C =  1 , TT split =  49
l1 =  0.9 C =  1 , TT split =  50
l1 =  0.9 C =  1 , TT split =  51
l1 =  0.9 C =  1 , TT split =  52
l1 =  0.9 C =  1 , TT split =  53
l1 =  0.9 C =  1 , TT split =  54
l1 =  0.9 C =  1 , TT split =  55
l1 =  0.9 C =  1 , TT split =  56
l1 =  0.9 C =  1 , TT split =  57
l1 =  0.9 C =  1 , TT split =  58
l1 =  0.9 C =  1 , TT split =  59
l1 =  0.9 C =  1 , TT split =  60
l1 =  0.9 C =  1 , TT split =  61
l1 =  0.9 C =  1 , TT split =  62
l1 =  0.9 C =  1 , TT split =  63
l1 =  0.9 C =  1 , TT split =  64
l1 =  0.9 C =  1 , TT split =  65
l1 =  0.9 C =  1 , TT split =  66
l1 =  0.9 C =  1 , TT split =  67
l1 =  0.9 C =  1 , TT split =  68
l1 =  0.9 C =  1 , TT split =  69
l1 =  0.9 C =  1 , TT split =  70
l1 =  0.9 C =  1 , TT split =  71
l1 =  0.9 C =  1 , TT split =  72
l1 =  0.9 C =  1 , TT split =  73
l1 =  0.9 C =  1 , TT split =  74
l1 =  0.9 C =  1 , TT split =  75
l1 =  0.9 C =  1 , TT split =  76
l1 =  0.9 C =  1 , TT split =  77
l1 =  0.9 C =  1 , TT split =  78
l1 =  0.9 C =  1 , TT split =  79
l1 =  0.9 C =  1 , TT split =  80
l1 =  0.9 C =  1 , TT split =  81
l1 =  0.9 C =  1 , TT split =  82
l1 =  0.9 C =  1 , TT split =  83
l1 =  0.9 C =  1 , TT split =  84
l1 =  0.9 C =  1 , TT split =  85
l1 =  0.9 C =  1 , TT split =  86
l1 =  0.9 C =  1 , TT split =  87
l1 =  0.9 C =  1 , TT split =  88
l1 =  0.9 C =  1 , TT split =  89
l1 =  0.9 C =  1 , TT split =  90
l1 =  0.9 C =  1 , TT split =  91
l1 =  0.9 C =  1 , TT split =  92
l1 =  0.9 C =  1 , TT split =  93
l1 =  0.9 C =  1 , TT split =  94
l1 =  0.9 C =  1 , TT split =  95
l1 =  0.9 C =  1 , TT split =  96
l1 =  0.9 C =  1 , TT split =  97
l1 =  0.9 C =  1 , TT split =  98
l1 =  0.9 C =  1 , TT split =  99

C:\Users\ajenul\OneDrive - Norwegian University of Life Sciences\GitHub\RENT\src\RENT\RENT.py:76: RuntimeWarning: invalid value encountered in true_divide
  abs(means / np.sqrt((stds ** 2) / len(weight_list))), \
C:\NMBU\Miniconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1847: RuntimeWarning: invalid value encountered in greater_equal
  cond2 = (x >= np.asarray(_b)) & cond0
C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [1]
elastic net l1_ratios: [0.9]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.9 C =  1 , TT split =  3
l1 =  0.9 C =  1 , TT split =  0
l1 =  0.9 C = l1 =  0.9 C =  l1 =  0.9 C =  1 , TT split =  7
l1 =  0.9 C =  1 , TT split =  1
l1 =  0.9  1 , TT split =  51 , TT split =
4
C =  1 , TT split =  6
l1 =  0.9 C =  1 , TT split =  2
l1 =  0.9 C =  1 , TT split =  8
l1 =  0.9 C =  1 , TT split =  9
l1 =  0.9 C =  1 , TT split =  10
l1 =  0.9 C =  1 , TT split =  11
l1 =  0.9 C =  1 , TT split =  12
l1 =  0.9 C =  1 , TT split =  13
l1 =  0.9 C =  1 , TT split =  14
l1 =  0.9 C =  1 , TT split =  15
l1 =  0.9 C =  1 , TT split =  16
l1 =  0.9 C =  1 , TT split =  17
l1 =  0.9 C =  1 , TT split =  18
l1 =  0.9 C =  1 , TT split =  19
l1 =  0.9 C =  1 , TT split =  20
l1 =  0.9 C =  1 , TT split =  21
l1 =  0.9 C =  1 , TT split =  22
l1 =  0.9 C =  1 , TT split =  23
l1 =  0.9 C =  1 , TT split =  24
l1 =  0.9 C =  1 , TT split =  25
l1 =  0.9 C =  1 , TT split =  26
l1 =  0.9 C =  1 , TT split =  27
l1 =  0.9 C =  1 , TT split =  28
l1 =  0.9 C =  1 , TT split =  29
l1 =  0.9 C =  1 , TT split =  30
l1 =  0.9 C =  1 , TT split =  31
l1 =  0.9 C =  1 , TT split =  32
l1 =  0.9 C =  1 , TT split =  33
l1 =  0.9 C =  1 , TT split =  34
l1 =  0.9 C =  1 , TT split =  35
l1 =  0.9 C =  1 , TT split =  36
l1 =  0.9 C =  1 , TT split =  37
l1 =  0.9 C =  1 , TT split =  38
l1 =  0.9 C =  1 , TT split =  39
l1 =  0.9 C =  1 , TT split =  40
l1 =  0.9 C =  1 , TT split =  41
l1 =  0.9 C =  1 , TT split =  42
l1 =  0.9 C =  1 , TT split =  43
l1 =  0.9 C =  1 , TT split =  44
l1 =  0.9 C =  1 , TT split =  45
l1 =  0.9 C =  1 , TT split =  46
l1 =  0.9 C =  1 , TT split =  47
l1 =  0.9 C =  1 , TT split =  48
l1 =  0.9 C =  1 , TT split =  49
l1 =  0.9 C =  1 , TT split =  50
l1 =  0.9 C =  1 , TT split =  51
l1 =  0.9 C =  1 , TT split =  52
l1 =  0.9 C =  1 , TT split =  53
l1 =  0.9 C =  1 , TT split =  54
l1 =  0.9 C =  1 , TT split =  55
l1 =  0.9 C =  1 , TT split =  56
l1 =  0.9 C =  1 , TT split =  57
l1 =  0.9 C =  1 , TT split =  58
l1 =  0.9 C =  1 , TT split =  59
l1 =  0.9 C =  1 , TT split =  60
l1 =  0.9 C =  1 , TT split =  61
l1 =  0.9 C =  1 , TT split =  62
l1 =  0.9 C =  1 , TT split =  63
l1 =  0.9 C =  1 , TT split =  64
l1 =  0.9 C =  1 , TT split =  65
l1 =  0.9 C =  1 , TT split =  66
l1 =  0.9 C =  1 , TT split =  67
l1 =  0.9 C =  1 , TT split =  68
l1 =  0.9 C =  1 , TT split =  69
l1 =  0.9 C =  1 , TT split =  70
l1 =  0.9 C =  1 , TT split =  71
l1 =  0.9 C =  1 , TT split =  72
l1 =  0.9 C =  1 , TT split =  73
l1 =  0.9 C =  1 , TT split =  74
l1 =  0.9 C =  1 , TT split =  75
l1 =  0.9 C =  1 , TT split =  76
l1 =  0.9 C =  1 , TT split =  77
l1 =  0.9 C =  1 , TT split =  78
l1 =  0.9 C =  1 , TT split =  79
l1 =  0.9 C =  1 , TT split =  80
l1 =  0.9 C =  1 , TT split =  81
l1 =  0.9 C =  1 , TT split =  82
l1 =  0.9 C =  1 , TT split =  83
l1 =  0.9 C =  1 , TT split =  84
l1 =  0.9 C =  1 , TT split =  85
l1 =  0.9 C =  1 , TT split =  86
l1 =  0.9 C =  1 , TT split =  87
l1 =  0.9 C =  1 , TT split =  88
l1 =  0.9 C =  1 , TT split =  89
l1 =  0.9 C =  1 , TT split =  90
l1 =  0.9 C =  1 , TT split =  91
l1 =  0.9 C =  1 , TT split =  92
l1 =  0.9 C =  1 , TT split =  93
l1 =  0.9 C =  1 , TT split =  94
l1 =  0.9 C =  1 , TT split =  95
l1 =  0.9 C =  1 , TT split =  96
l1 =  0.9 C =  1 , TT split =  97
l1 =  0.9 C =  1 , TT split =  98
l1 =  0.9 C =  1 , TT split =  99

C:\Users\ajenul\OneDrive - Norwegian University of Life Sciences\GitHub\RENT\src\RENT\RENT.py:76: RuntimeWarning: invalid value encountered in true_divide
  abs(means / np.sqrt((stds ** 2) / len(weight_list))), \
C:\NMBU\Miniconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1847: RuntimeWarning: invalid value encountered in greater_equal
  cond2 = (x >= np.asarray(_b)) & cond0
C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [1]
elastic net l1_ratios: [0.9]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.9 C =  1 , TT split =  1
l1 =  0.9 C =  1 , TT split =  4
l1 =  0.9 C =  1 , TT split =  6
l1 =  0.9 C =  1 , TT split =  l1 =  l1 =  0.9 C = 0.9 C =  1 , TT split =  2
 1 , TT split =  3
0
l1 =  0.9 C =  1 , TT split =  7
l1 =  0.9 C =  1 , TT split =  5
l1 =  0.9 C =  1 , TT split =  8
l1 =  0.9 C =  1 , TT split =  9
l1 =  0.9 C =  1 , TT split =  10
l1 =  0.9 C =  1 , TT split =  11
l1 =  0.9 C =  1 , TT split =  12
l1 =  0.9 C =  1 , TT split =  13
l1 =  0.9 C =  1 , TT split =  14
l1 =  0.9 C =  1 , TT split =  15
l1 =  0.9 C =  1 , TT split =  16
l1 =  0.9 C =  1 , TT split =  17
l1 =  0.9 C =  1 , TT split =  18
l1 =  0.9 C =  1 , TT split =  19
l1 =  0.9 C =  1 , TT split =  20
l1 =  0.9 C =  1 , TT split =  21
l1 =  0.9 C =  1 , TT split =  22
l1 =  0.9 C =  1 , TT split =  23
l1 =  0.9 C =  1 , TT split =  24
l1 =  0.9 C =  1 , TT split =  25
l1 =  0.9 C =  1 , TT split =  26
l1 =  0.9 C =  1 , TT split =  27
l1 =  0.9 C =  1 , TT split =  28
l1 =  0.9 C =  1 , TT split =  29
l1 =  0.9 C =  1 , TT split =  30
l1 =  0.9 C =  1 , TT split =  31
l1 =  0.9 C =  1 , TT split =  32
l1 =  0.9 C =  1 , TT split =  33
l1 =  0.9 C =  1 , TT split =  34
l1 =  0.9 C =  1 , TT split =  35
l1 =  0.9 C =  1 , TT split =  36
l1 =  0.9 C =  1 , TT split =  37
l1 =  0.9 C =  1 , TT split =  38
l1 =  0.9 C =  1 , TT split =  39
l1 =  0.9 C =  1 , TT split =  40
l1 =  0.9 C =  1 , TT split =  41
l1 =  0.9 C =  1 , TT split =  42
l1 =  0.9 C =  1 , TT split =  43
l1 =  0.9 C =  1 , TT split =  44
l1 =  0.9 C =  1 , TT split =  45
l1 =  0.9 C =  1 , TT split =  46
l1 =  0.9 C =  1 , TT split =  47
l1 =  0.9 C =  1 , TT split =  48
l1 =  0.9 C =  1 , TT split =  49
l1 =  0.9 C =  1 , TT split =  50
l1 =  0.9 C =  1 , TT split =  51
l1 =  0.9 C =  1 , TT split =  52
l1 =  0.9 C =  1 , TT split =  53
l1 =  0.9 C =  1 , TT split =  54
l1 =  0.9 C =  1 , TT split =  55
l1 =  0.9 C =  1 , TT split =  56
l1 =  0.9 C =  1 , TT split =  57
l1 =  0.9 C =  1 , TT split =  58
l1 =  0.9 C =  1 , TT split =  59
l1 =  0.9 C =  1 , TT split =  60
l1 =  0.9 C =  1 , TT split =  61
l1 =  0.9 C =  1 , TT split =  62
l1 =  0.9 C =  1 , TT split =  63
l1 =  0.9 C =  1 , TT split =  64
l1 =  0.9 C =  1 , TT split =  65
l1 =  0.9 C =  1 , TT split =  66
l1 =  0.9 C =  1 , TT split =  67
l1 =  0.9 C =  1 , TT split =  68
l1 =  0.9 C =  1 , TT split =  69
l1 =  0.9 C =  1 , TT split =  70
l1 =  0.9 C =  1 , TT split =  71
l1 =  0.9 C =  1 , TT split =  72
l1 =  0.9 C =  1 , TT split =  73
l1 =  0.9 C =  1 , TT split =  74
l1 =  0.9 C =  1 , TT split =  75
l1 =  0.9 C =  1 , TT split =  76
l1 =  0.9 C =  1 , TT split =  77
l1 =  0.9 C =  1 , TT split =  78
l1 =  0.9 C =  1 , TT split =  79
l1 =  0.9 C =  1 , TT split =  80
l1 =  0.9 C =  1 , TT split =  81
l1 =  0.9 C =  1 , TT split =  82
l1 =  0.9 C =  1 , TT split =  83
l1 =  0.9 C =  1 , TT split =  84
l1 =  0.9 C =  1 , TT split =  85
l1 =  0.9 C =  1 , TT split =  86
l1 =  0.9 C =  1 , TT split =  87
l1 =  0.9 C =  1 , TT split =  88
l1 =  0.9 C =  1 , TT split =  89
l1 =  0.9 C =  1 , TT split =  90
l1 =  0.9 C =  1 , TT split =  91
l1 =  0.9 C =  1 , TT split =  92
l1 =  0.9 C =  1 , TT split =  93
l1 =  0.9 C =  1 , TT split =  94
l1 =  0.9 C =  1 , TT split =  95
l1 =  0.9 C =  1 , TT split =  96
l1 =  0.9 C =  1 , TT split =  97
l1 =  0.9 C =  1 , TT split =  98
l1 =  0.9 C =  1 , TT split =  99

C:\Users\ajenul\OneDrive - Norwegian University of Life Sciences\GitHub\RENT\src\RENT\RENT.py:76: RuntimeWarning: invalid value encountered in true_divide
  abs(means / np.sqrt((stds ** 2) / len(weight_list))), \
C:\NMBU\Miniconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1847: RuntimeWarning: invalid value encountered in greater_equal
  cond2 = (x >= np.asarray(_b)) & cond0
C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (340, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (340,)
regularization parameters C: [10]
elastic net l1_ratios: [0.1]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.1 C =  l1 =  0.1 C =  1010 , TT split =  5
l1 =  0.1 C =  10 , TT split =  3
 , TT split =  1
l1 =  0.1 C =  l1 =  0.1 C =  10 , TT split =  6
l1 =  0.1 l1 =  0.1 C =  10C =  10 , TT split =  4
10 , TT split =  7
l1 =  0.1 C =   10 , TT split =  0
, TT split =  2
l1 =  0.1 C =  10 , TT split =  8
l1 =  0.1 C =  10 , TT split =  9
l1 =  0.1 C =  10 , TT split =  10
l1 =  0.1 C =  10 , TT split =  11
l1 =  0.1 C =  10 , TT split =  12
l1 =  0.1 C =  10 , TT split =  13
l1 =  0.1 C =  10 , TT split =  14
l1 =  0.1 C =  10 , TT split =  15
l1 =  0.1 C =  10 , TT split =  16
l1 =  0.1 C =  10 , TT split =  17
l1 =  0.1 C =  10 , TT split =  18
l1 =  0.1 C =  10 , TT split =  19
l1 =  0.1 C =  10 , TT split =  20
l1 =  0.1 C = l1 =  10 , TT split =  21
 0.1 C =  10 , TT split =  22
l1 =  0.1 C =  10 , TT split =  23
l1 =  0.1 C =  10 , TT split =  24
l1 =  0.1 C =  10 , TT split =  25
l1 =  0.1 C =  10 , TT split =  26
l1 =  0.1 C =  10 , TT split =  27
l1 =  0.1 C =  10 , TT split =  28
l1 =  0.1 C =  10 , TT split =  29
l1 =  0.1 C =  10 , TT split =  30
l1 =  0.1 C =  10 , TT split =  31
l1 =  0.1 C =  10 , TT split =  32
l1 =  0.1 C =  10 , TT split =  33
l1 =  0.1 C =  10 , TT split =  34
l1 =  0.1 C =  10 , TT split =  35
l1 =  0.1 C =  10 , TT split =  36
l1 =  0.1 C =  10 , TT split =  37
l1 =  0.1 C =  10 , TT split =  38
l1 =  0.1 C =  10 , TT split =  39
l1 =  0.1 C =  10 , TT split =  40
l1 =  0.1 C =  10 , TT split =  41
l1 =  0.1 C =  10 , TT split =  42
l1 =  0.1 C =  10 , TT split =  43
l1 =  0.1 C =  10 , TT split =  44
l1 =  0.1 C =  10 , TT split =  45
l1 =  0.1 C =  10 , TT split =  46
l1 =  0.1 C =  10 , TT split =  47
l1 =  0.1 C =  10 , TT split =  48
l1 =  0.1 C =  10 , TT split =  49
l1 =  0.1 C =  10 , TT split =  50
l1 =  0.1 C =  10 , TT split =  51
l1 =  0.1 C =  10 , TT split =  52
l1 =  0.1 C =  10 , TT split =  53
l1 =  0.1 C =  10 , TT split =  54
l1 =  0.1 C =  10 , TT split =  55
l1 =  0.1 C =  10 , TT split =  56
l1 =  0.1 C =  10 , TT split =  57
l1 =  0.1 C =  10 , TT split =  58
l1 =  0.1 C =  10 , TT split =  59
l1 =  0.1 C =  10 , TT split =  60
l1 =  0.1 C =  10 , TT split =  61
l1 =  0.1 C =  10 , TT split =  62
l1 =  0.1 C =  10 , TT split =  63
l1 =  0.1 C =  10 , TT split =  64
l1 =  0.1 C =  10 , TT split =  65
l1 =  0.1 C =  10 , TT split =  66
l1 =  0.1 C =  10 , TT split =  67
l1 =  0.1 C =  10 , TT split =  68
l1 =  0.1 C =  10 , TT split =  69
l1 =  0.1 C =  10 , TT split =  70
l1 =  0.1 C =  10 , TT split =  71
l1 =  0.1 C =  10 , TT split =  72
l1 =  0.1 C =  10 , TT split =  73
l1 =  0.1 C =  10 , TT split =  74
l1 =  0.1 C =  10 , TT split =  75
l1 =  0.1 C =  10 , TT split =  76
l1 =  0.1 C =  10 , TT split =  77
l1 =  0.1 C =  10 , TT split =  78
l1 =  0.1 C =  10 , TT split =  79
l1 =  0.1 C =  10 , TT split =  80
l1 =  0.1 C =  10 , TT split =  81
l1 =  0.1 C =  10 , TT split =  82
l1 =  0.1 C =  10 , TT split =  83
l1 =  0.1 C =  10 , TT split =  84
l1 =  0.1 C =  10 , TT split =  85
l1 =  0.1 C =  10 , TT split =  86
l1 =  0.1 C =  10 , TT split =  87
l1 =  0.1 C =  10 , TT split =  88
l1 =  0.1 C =  10 , TT split =  89
l1 =  0.1 C =  10 , TT split =  90
l1 =  0.1 C =  10 , TT split =  91
l1 =  0.1 C =  10 , TT split =  92
l1 =  0.1 C =  10 , TT split =  93
l1 =  0.1 C =  10 , TT split =  94
l1 =  0.1 C =  10 , TT split =  95
l1 =  0.1 C =  10 , TT split =  96
l1 =  0.1 C =  10 , TT split =  97
l1 =  0.1l1 =  C =   0.1 C =  10 , TT split =  98
10 , TT split =  99

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [10]
elastic net l1_ratios: [0.1]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.1l1 =  0.1 C =  10 , TT split =  2
 C =  10 , TT split =  0
l1 =  0.1 C =  10 l1 =  0.1 C = l1 =  0.1 C =  10 , TT split =  3
, TT split =  10 , TT split = l1 =  0.1 C =  10 , TT split =  5
 l1 =  0.1 C =  10 6
 1, TT split =
4
l1 =  0.1 C =  10 , TT split =  7
l1 =  0.1 C =  10 , TT split =  8
l1 =  0.1 C =  10 , TT split =  9
l1 =  l1 = 0.1 0.1 C =  10 , TT split =  11
 C =  10 , TT split =  10
l1 =  0.1 C =  10 , TT split =  12
l1 =  0.1 C =  10 , TT split =  13
l1 =  0.1 C =  10 , TT split =  14
l1 =  0.1 C =  10 , TT split =  15
l1 =  0.1 C =  10 , TT split =  16
l1 =  0.1 C =  10 , TT split =  17
l1 =  0.1 C =  10 , TT split =  18
l1 =  0.1 C =  10 , TT split =  19
l1 =  0.1 C =  10 , TT split =  20
l1 =  0.1 C =  10 , TT split =  21
l1 =  0.1 C =  10 , TT split =  22
l1 =  0.1 C =  10 , TT split =  23
l1 =  0.1 C =  10 , TT split =  24
l1 =  0.1 C =  10 , TT split =  25
l1 =  0.1 C =  10 , TT split =  26
l1 =  0.1 C =  10 , TT split =  27
l1 =  0.1 C =  10 , TT split =  28
l1 =  0.1 C =  10 , TT split =  29
l1 =  0.1 C =  10 , TT split =  30
l1 =  0.1 C =  10 , TT split =  31
l1 =  0.1 C =  10 , TT split =  32
l1 =  0.1 C =  10 , TT split =  33
l1 =  0.1 C =  10 , TT split =  34
l1 =  0.1 C =  10 , TT split =  35
l1 =  0.1 C =  10 , TT split =  36
l1 =  0.1 C =  10 , TT split =  37
l1 =  0.1 C =  10 , TT split =  38
l1 =  0.1 C =  10 , TT split =  39
l1 =  0.1 C =  10 , TT split =  40
l1 =  0.1 C =  10 , TT split =  41
l1 =  0.1 C =  10 , TT split =  42
l1 =  0.1 C =  10 , TT split =  43
l1 =  0.1 C =  10 , TT split =  44
l1 =  0.1 C =  10 , TT split =  45
l1 =  0.1 C =  10 , TT split =  46
l1 =  0.1 C =  10 , TT split =  47
l1 =  0.1 C =  10 , TT split =  48
l1 =  0.1 C =  10 , TT split =  49
l1 =  0.1 C =  10 , TT split =  50
l1 =  0.1 C =  10 , TT split =  51
l1 =  0.1 C =  10 , TT split =  52
l1 =  0.1 C =  10 , TT split =  53
l1 =  0.1 C =  10 , TT split =  54
l1 =  0.1 C =  10 , TT split =  55
l1 =  0.1 C =  10 , TT split =  56
l1 =  0.1 C =  10 , TT split =  57
l1 =  0.1 C =  10 , TT split =  58
l1 =  0.1 C =  10 , TT split =  59
l1 =  0.1 C =  10 , TT split =  60
l1 =  0.1 C =  10 , TT split =  61
l1 =  0.1 C =  10 , TT split =  62
l1 =  0.1 C =  10 , TT split =  63
l1 =  0.1 C =  10 , TT split =  64
l1 =  0.1 C =  10 , TT split =  65
l1 =  0.1 C =  10 , TT split =  66
l1 =  0.1 C =  10 , TT split =  67
l1 =  0.1 C =  10 , TT split =  68
l1 =  0.1 C =  10 , TT split =  69
l1 =  0.1 C =  10 , TT split =  70
l1 =  0.1 C =  10 , TT split =  71
l1 =  0.1 C =  10 , TT split =  72
l1 =  0.1 C =  10 , TT split =  73
l1 =  0.1 C =  10 , TT split =  74
l1 =  0.1 C =  10 , TT split =  75
l1 =  0.1 C =  10 , TT split =  76
l1 =  0.1 C =  10 , TT split =  77
l1 =  0.1 C =  10 , TT split =  78
l1 =  0.1 C =  10 , TT split =  79
l1 =  0.1 C =  10 , TT split =  80
l1 =  l1 =  0.1 C =  10 , TT split =  82
0.1 C =  10 , TT split =  81
l1 =  0.1 C =  10 , TT split =  83
l1 =  0.1 C =  10 , TT split =  84
l1 =  0.1 C =  10 , TT split =  85
l1 =  0.1 C =  10 , TT split =  86
l1 =  0.1 C =  10 , TT split =  87
l1 =  0.1 C =  10 , TT split =  88
l1 =  0.1 C =  10 , TT split =  89
l1 =  0.1 C =  10 , TT split =  90
l1 =  0.1 C =  10 , TT split =  91
l1 =  0.1 C =  10 , TT split =  92
l1 =  0.1 C =  10 , TT split =  93
l1 =  0.1 C =  10 , TT split =  94
l1 =  0.1 C =  10 , TT split =  95
l1 =  0.1 C =  10 , TT split =  96
l1 =  0.1 C =  10 , TT split =  97
l1 =  0.1 C =  10 , TT split =  98
l1 =  0.1 C =  10 , TT split =  99

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [10]
elastic net l1_ratios: [0.1]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.1 C =  10 , TT split = l1 =  0.1  C =  10 , TT split =  1l1 =  0.1
0
C =  10 , TT split =  2
l1 =  0.1 C =  l1 =  0.1 C = 10 10 , TT split =   , TT split =  3
7
l1 =  0.1 l1 = C =  10 , TT split =  4
l1 =  0.1 C =  10  0.1 C =  10 , TT split =  5
, TT split =  6
l1 =  0.1 C =  10 , TT split =  8
l1 =  0.1 C =  10 , TT split =  9
l1 =  0.1 C =  10 , TT split =  10
l1 =  0.1 C =  10 , TT split =  11
l1 =  0.1 C =  10 , TT split =  12
l1 =  0.1 C =  l1 = 10 , TT split =  13
 0.1 C =  10 , TT split =  14
l1 =  0.1 C =  10 , TT split =  15
l1 =  0.1 C =  10 , TT split =  16
l1 =  0.1 C =  10 , TT split =  17
l1 =  0.1 C =  10 , TT split =  18
l1 =  0.1 C =  10 , TT split =  19
l1 =  0.1 C =  10 , TT split =  20
l1 =  0.1 C =  10 , TT split =  21
l1 =  0.1 C =  10 , TT split =  22
l1 =  0.1 C =  10 , TT split =  23
l1 =  0.1 C =  10 , TT split =  24
l1 =  0.1 C =  10 , TT split =  25
l1 =  0.1 C =  10 , TT split =  26
l1 =  0.1 C =  10 l1 =  0.1 C =  10 , TT split =  28
, TT split =  27
l1 =  0.1 C =  10 , TT split =  29
l1 =  0.1 C =  10 , TT split =  30
l1 =  0.1 C =  10 , TT split =  31
l1 =  0.1 C =  10 , TT split =  32
l1 =  0.1 C =  10 , TT split =  33
l1 =  0.1 C =  10 , TT split =  34
l1 =  0.1 C =  10 , TT split =  35
l1 =  0.1 C =  10 , TT split =  36
l1 =  0.1 C =  10 , TT split =  37
l1 =  0.1 C =  10 , TT split =  38
l1 =  0.1 C =  10 , TT split =  39
l1 =  0.1 C =  10 , TT split =  40
l1 =  0.1 C =  10 , TT split =  41
l1 =  0.1 C =  10 , TT split =  42
l1 =  0.1 C =  10 , TT split =  43
l1 =  0.1 C =  10 , TT split =  44
l1 =  0.1 C =  10 , TT split =  45
l1 =  0.1 C =  10 , TT split =  46
l1 =  0.1 C =  10 , TT split =  47
l1 =  0.1 C =  10 , TT split =  48
l1 =  0.1 C =  10 , TT split =  49
l1 =  0.1 C =  10 , TT split =  50
l1 =  0.1 C =  10 , TT split =  51
l1 =  0.1 C =  10 , TT split =  52
l1 =  0.1 C =  10 , TT split =  53
l1 =  0.1 C =  10 , TT split =  54
l1 =  0.1 C =  10 , TT split =  55
l1 =  0.1 C =  10 , TT split =  56
l1 =  0.1 C =  10 , TT split =  57
l1 =  0.1 C =  10 , TT split =  58
l1 =  0.1 C =  10 , TT split =  59
l1 =  0.1 C =  10 , TT split =  60
l1 =  0.1 C = l1 =   0.1 C =  10 , TT split =  10 , TT split =  61
62
l1 =  0.1 C =  10 , TT split =  63
l1 =  0.1 C =  10 , TT split =  64
l1 =  0.1 C =  10 , TT split =  65
l1 =  0.1 C =  10 , TT split =  66
l1 =  0.1 C =  10 , TT split =  67
l1 =  0.1 C =  10 , TT split =  68
l1 =  0.1 C =  10 , TT split =  69
l1 =  0.1 C =  10 , TT split =  70
l1 =  0.1 C =  10 , TT split =  71
l1 =  0.1 C =  10 , TT split =  72
l1 =  0.1 C =  10 , TT split =  73
l1 =  0.1 C =  10 , TT split =  74
l1 =  0.1 C =  10 , TT split =  75
l1 =  0.1 C =  10 , TT split =  76
l1 =  0.1 C =  10 , TT split =  77
l1 =  0.1 C =  10 , TT split =  78
l1 =  0.1 C =  10 , TT split =  79
l1 =  0.1 C =  10 , TT split =  80
l1 =  0.1 C =  10 , TT split =  81
l1 =  0.1 C =  10 , TT split =  82
l1 =  0.1 C =  10 , TT split =  83
l1 =  0.1 C =  10 , TT split =  84
l1 =  0.1 C =  10 , TT split =  85
l1 =  0.1 C =  10 , TT split =  86
l1 =  0.1 C =  10 , TT split =  87
l1 =  0.1 C =  10 , TT split =  88
l1 =  0.1 C =  10 , TT split =  89
l1 =  0.1 C =  10 , TT split =  90
l1 =  0.1 C =  10 , TT split =  91
l1 =  0.1 C =  10 , TT split =  92
l1 =  0.1 C =  10 , TT split =  93
l1 =  0.1 C =  10 , TT split =  94
l1 =  0.1 C =  10 , TT split =  95
l1 =  0.1 C =  10 , TT split =  96
l1 =  0.1 C =  10 , TT split =  97
l1 =  0.1 C =  10 , TT split =  98
l1 =  0.1 C =  10 , TT split =  99

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [10]
elastic net l1_ratios: [0.1]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.1l1 =  0.1 C =  10 , TT split =  0
l1 =  0.1 C =  10 l1 =  0.1 C =   C =  10 , TT split =  310 , TT split =  5l1 =  0.1 C =  10, TT split =  4

 , TT split =  6
l1 =  0.1 C =  10
 , TT split =  7
l1 =  0.1 C = l1 =  0.1 C =  10 , TT split =  1
 10 , TT split =  2
l1 =  0.1 C =  10 , TT split =  8
l1 =  0.1 C =  10 , TT split =  9
l1 =  0.1 C =  10 , TT split =  10
l1 =  0.1 C =  10 , TT split =  11
l1 =  0.1 C =  10 , TT split =  12
l1 =  0.1 C =  10 , TT split =  13
l1 =  0.1 C =  10 , TT split =  14
l1 =  0.1 C =  10 , TT split =  15
l1 =  0.1 C =  10 , TT split =  16
l1 =  0.1 C =  10 , TT split =  17
l1 =  0.1 C =  10 , TT split =  18
l1 =  0.1 C =  10 , TT split =  19
l1 =  0.1 C =  10 , TT split =  20
l1 =  0.1 C =  10 , TT split =  21
l1 =  0.1 C =  10 , TT split =  22
l1 =  0.1 C =  10 , TT split =  23
l1 =  0.1 C =  10 , TT split =  24
l1 =  0.1 C =  10 , TT split =  25
l1 =  0.1 C =  10 , TT split =  26
l1 =  0.1 C =  l1 = 10 , TT split =  27
 0.1 C =  10 , TT split =  28
l1 =  0.1 C =  10 , TT split =  29
l1 =  0.1 C =  10 , TT split =  30
l1 =  0.1 C =  10 , TT split =  31
l1 =  0.1 C =  10 , TT split =  32
l1 =  0.1 C =  10 , TT split =  33
l1 =  0.1 C =  10 , TT split =  34
l1 =  0.1 C =  10 , TT split =  35
l1 =  0.1 C =  10 , TT split =  36
l1 =  0.1 C =  10 , TT split =  37
l1 =  0.1 C =  10 , TT split =  38
l1 =  0.1 C =  10 , TT split =  39
l1 =  0.1 C =  10 , TT split =  40
l1 =  0.1 C =  10 , TT split =  41
l1 =  0.1 C =  10 , TT split =  42
l1 =  0.1 C =  10 , TT split =  43
l1 =  0.1 C =  10 , TT split =  44
l1 =  0.1 C =  10 , TT split =  45
l1 =  0.1 C =  10 , TT split =  46
l1 =  0.1 C =  10 , TT split =  47
l1 =  0.1 C =  10 , TT split =  48
l1 =  0.1 C =  10 , TT split =  49
l1 =  0.1 C =  10 , TT split =  50
l1 =  0.1 C =  10 , TT split =  51
l1 =  0.1 C =  10 , TT split =  52
l1 =  0.1 C =  10 , TT split =  53
l1 =  0.1 C =  10 , TT split =  54
l1 =  0.1 C =  10 , TT split =  55
l1 =  0.1 C =  10 , TT split =  56
l1 =  0.1 C =  10 , TT split =  57
l1 =  0.1 C =  10 , TT split =  58
l1 =  0.1 C =  10 , TT split =  59
l1 =  0.1 C =  10 , TT split =  60
l1 =  0.1 C =  10 , TT split =  61
l1 =  0.1 C =  10 , TT split =  62
l1 =  0.1 C =  10 , TT split =  63
l1 =  0.1 C =  10 , TT split =  64
l1 =  0.1 C =  10 , TT split =  65
l1 =  0.1 C =  10 , TT split =  66
l1 =  0.1 C =  10 , TT split =  67
l1 =  0.1 C =  10 , TT split =  68
l1 =  0.1 C =  10 , TT split =  69
l1 =  0.1 C =  10 , TT split =  70
l1 =  0.1 C =  10 , TT split =  71
l1 =  0.1 C =  10 , TT split =  72
l1 =  0.1 C =  10 , TT split =  73
l1 =  0.1 C =  10 , TT split =  74
l1 =  0.1 C =  10 , TT split =  75
l1 =  0.1 C =  10 , TT split =  76
l1 =  0.1 C =  10 , TT split =  77
l1 =  0.1 C =  10 , TT split =  78
l1 =  0.1 C =  10 , TT split =  79
l1 =  0.1 C =  10 , TT split =  80
l1 =  0.1 C =  10 , TT split =  81
l1 =  0.1 C =  10 , TT split =  82
l1 =  0.1 C =  10 , TT split =  83
l1 =  0.1 C =  10 , TT split =  84
l1 =  0.1 C =  10 , TT split =  85
l1 =  0.1 C =  10 , TT split =  86
l1 =  0.1 C =  10 , TT split =  87
l1 =  0.1 C =  10 , TT split =  88
l1 = l1 =  0.1 C =  10 , TT split =  89
 0.1 C =  10 , TT split =  90
l1 =  0.1 C =  10 , TT split =  91
l1 =  0.1 C =  10 , TT split =  92
l1 =  0.1 C =  10 , TT split =  93
l1 =  0.1 C =  10 , TT split =  94
l1 =  0.1 C =  10 , TT split =  95
l1 =  0.1 C =  10 , TT split =  96
l1 =  0.1 C =  10 , TT split =  97
l1 =  0.1 C =  10 , TT split =  98
l1 =  0.1 C =  10 , TT split =  99

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [10]
elastic net l1_ratios: [0.1]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.1 C =  10 , TT split =  0
l1 =  0.1 C =  10 , TT split =  5
l1 =  0.1 l1 =  0.1 C =  10 , TT split =  4
C =  10 , TT split =  6
l1 =  0.1 C =  10 , TT split =  2l1 =  0.1 C =  10 , TT split =  1

l1 =  0.1 C =  10 , TT split =  3
l1 =  0.1 C =  10 , TT split =  7
l1 =  0.1 C =  10 , TT split =  8
l1 =  0.1 C =  10 , TT split =  9
l1 =  0.1 C =  10 , TT split =  10
l1 =  0.1 C =  10 , TT split =  11
l1 =  0.1 C =  10 , TT split =  12
l1 =  0.1 C =  10 , TT split =  13
l1 =  0.1 C =  10 , TT split =  14
l1 =  0.1 C =  10 , TT split =  15
l1 =  0.1 C =  10 , TT split =  16
l1 =  0.1 C =  10 , TT split =  17
l1 =  0.1 C =  10 , TT split =  18
l1 =  0.1 C =  10 , TT split =  19
l1 =  0.1 C =  10 , TT split =  20
l1 =  0.1 C =  10 , TT split =  21
l1 =  0.1 C =  10 , TT split =  22
l1 =  0.1 C =  10 , TT split =  23
l1 =  0.1 C =  10 , TT split =  24
l1 =  0.1 C =  10 , TT split =  25
l1 =  0.1 C =  10 , TT split =  26
l1 =  0.1 C =  10 , TT split =  27
l1 =  0.1 C =  10 , TT split =  28
l1 =  0.1 C =  10 , TT split =  29
l1 =  0.1 C =  10 , TT split =  30
l1 =  0.1 C =  10 , TT split =  31
l1 =  0.1 C =  10 , TT split =  32
l1 =  0.1 C =  10 , TT split =  33
l1 =  0.1 C =  10 , TT split =  34
l1 =  0.1 C =  10 , TT split =  35
l1 =  0.1 C =  10 , TT split =  36
l1 =  0.1 C =  10 , TT split =  37
l1 =  0.1 C =  10 , TT split =  38
l1 =  0.1 C =  10 , TT split =  39
l1 =  0.1 C =  10 , TT split =  40
l1 =  0.1 C =  10 , TT split =  41
l1 =  0.1 C =  10 , TT split =  42
l1 =  0.1 C =  10 , TT split =  43
l1 =  0.1 C =  10 , TT split =  44
l1 =  0.1 C =  10 , TT split =  45
l1 =  0.1 C =  10 , TT split =  46
l1 =  0.1 C =  10 , TT split =  47
l1 =  0.1 C =  10 , TT split =  48
l1 =  0.1 C =  10 , TT split =  49
l1 =  0.1 C =  10 , TT split =  50
l1 =  0.1 C =  10 , TT split =  51
l1 =  0.1 C =  10 , TT split =  52
l1 =  0.1 C =  10 , TT split =  53
l1 =  0.1 C =  10 , TT split =  54
l1 =  0.1 C =  10 , TT split =  55
l1 =  0.1 C =  10 , TT split =  56
l1 =  0.1 C =  10 , TT split =  57
l1 =  0.1 C =  10 , TT split =  58
l1 =  0.1 C =  10 , TT split =  59
l1 =  0.1 C =  10 , TT split =  60
l1 =  0.1 C =  10 , TT split =  61
l1 =  0.1 C =  10 , TT split =  62
l1 =  0.1 C =  10 , TT split =  63
l1 =  0.1 C =  10 , TT split =  64
l1 =  0.1 C =  10 , TT split =  65
l1 =  0.1 C =  10 , TT split =  66
l1 =  0.1 C =  10 , TT split =  67
l1 =  0.1 C =  10 , TT split =  68
l1 =  0.1 C =  10 , TT split =  69
l1 = l1 =  0.1 C =  10 , TT split =  70
 0.1 C =  10 , TT split =  71
l1 =  0.1 C =  10 , TT split =  72
l1 =  0.1 C =  10 , TT split =  73
l1 =  0.1 C =  10 , TT split =  74
l1 =  0.1 C =  10 , TT split =  75
l1 =  0.1 C =  10 , TT split =  76
l1 =  0.1 C =  10 , TT split =  77
l1 =  0.1 C =  10 , TT split =  78
l1 =  0.1 C =  10 , TT split =  79
l1 =  0.1 C =  10 , TT split =  80
l1 =  0.1 C =  10 , TT split =  81
l1 =  0.1 C =  10 , TT split =  82
l1 =  0.1 C =  10 , TT split =  83
l1 =  0.1 C =  10 , TT split =  84
l1 =  0.1 C =  10 , TT split =  85
l1 =  0.1 C =  10 , TT split =  86
l1 =  0.1 C =  10 , TT split =  87
l1 =  0.1 C =  10 , TT split =  88
l1 =  0.1 C =  10 , TT split =  89
l1 =  0.1 C =  10 , TT split =  90
l1 =  0.1 C =  10 , TT split =  91
l1 =  0.1 C =  10 , TT split =  92
l1 =  0.1 C =  10 , TT split =  93
l1 =  0.1 C =  10 , TT split =  94
l1 =  l1 = 0.1 C =  10 , TT split =  95
 0.1 C =  10 , TT split =  96
l1 =  0.1 C =  10 , TT split =  97
l1 =  0.1 C =  10 , TT split =  98
l1 =  0.1 C =  10 , TT split =  99

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (340, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (340,)
regularization parameters C: [10]
elastic net l1_ratios: [0.5]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.5 C =  10 , TT split =  0
l1 =  0.5 C =  10 , TT split =  2
l1 =  0.5 C =  l1 =  0.5 C =  10 , TT split =  l1 =  0.5 6
l1 =  0.5 C =  10 , TT split =  3
C = l1 =  0.5  10 l1 =  0.5 10 , TT split =  1
, TT split =  5
C =  10 , TT split =  7
C =  10 , TT split =  4
l1 =  0.5 C =  10 , TT split =  8
l1 =  0.5 C =  10 , TT split =  9
l1 =  0.5 l1 = C =  10 , TT split =  11
 0.5 C =  10 , TT split =  10
l1 =  0.5 C =  10 , TT split =  12
l1 =  0.5 C =  10 , TT split =  13
l1 =  0.5 C =  10 , TT split =  14
l1 =  0.5 C =  10 , TT split =  15
l1 =  0.5 C =  10 , TT split =  16
l1 =  0.5 C =  10 , TT split =  17
l1 =  0.5 C =  10 , TT split =  18
l1 =  0.5 C =  10 , TT split =  19
l1 =  0.5 C =  10 , TT split =  20
l1 =  0.5 C =  10 , TT split =  21
l1 =  0.5 C =  10 , TT split =  22
l1 =  0.5 C =  10 , TT split =  23
l1 =  0.5 C =  10 , TT split =  24
l1 =  0.5 C =  10 , TT split =  25
l1 =  0.5 C =  10 , TT split =  26
l1 =  0.5 C =  10 , TT split =  27
l1 =  0.5 C =  10 , TT split =  28
l1 =  0.5 C =  10 , TT split =  29
l1 =  0.5 C =  10 , TT split =  30
l1 =  0.5 C =  10 , TT split =  31
l1 =  0.5 C =  10 , TT split =  32
l1 =  0.5 C =  10 , TT split =  33
l1 =  0.5 C =  10 , TT split =  34
l1 =  0.5 C =  10 , TT split =  35
l1 =  0.5 C =  10 , TT split =  36
l1 =  0.5 C =  10 , TT split =  37
l1 =  0.5 C =  10 , TT split =  38
l1 =  0.5 C =  10 , TT split =  39
l1 =  0.5 C =  10 , TT split =  40
l1 =  0.5 C =  10 , TT split =  41
l1 =  0.5 C =  10 , TT split =  42
l1 =  0.5 C =  10 , TT split =  43
l1 =  0.5 C =  10 , TT split =  44
l1 =  0.5 C =  10 , TT split =  45
l1 =  0.5 C =  10 , TT split =  46
l1 =  0.5 C =  10 , TT split =  47
l1 =  0.5 C =  10 , TT split =  48
l1 =  0.5 C =  10 , TT split =  50
l1 =  0.5 C =  10 , TT split =  49
l1 =  0.5 C =  10 , TT split =  51
l1 =  0.5 C =  10 , TT split =  52
l1 =  0.5 C =  10 , TT split =  53
l1 =  0.5 C =  10 , TT split =  54
l1 =  0.5 C =  10 , TT split =  55
l1 =  0.5 C =  10 , TT split =  56
l1 =  0.5 C =  10 , TT split =  57
l1 =  0.5 C =  10 , TT split =  58
l1 =  0.5 C =  10 , TT split =  59
l1 =  0.5 C =  10 , TT split =  60
l1 =  0.5 C =  10 , TT split =  61
l1 =  0.5 C =  10 , TT split =  62
l1 =  0.5 C =  10 , TT split =  63
l1 =  0.5 C =  10 , TT split =  64
l1 =  0.5 C =  10 , TT split =  65
l1 =  0.5 C =  10 , TT split =  66
l1 =  0.5 C =  10 , TT split =  67
l1 =  0.5 C =  10 , TT split =  68
l1 =  0.5 C =  10 , TT split =  69
l1 =  0.5 C =  10 , TT split =  70
l1 =  0.5 C =  10 , TT split =  71
l1 =  0.5 C =  10 , TT split =  72
l1 =  0.5 C =  10 , TT split =  73
l1 =  0.5 C =  10 , TT split =  74
l1 =  0.5 C =  10 , TT split =  75
l1 =  0.5 C =  10 , TT split =  76
l1 =  0.5 C =  10 , TT split =  77
l1 =  0.5 C =  10 , TT split =  78
l1 =  0.5 C =  10 , TT split =  79
l1 =  0.5 C =  10 , TT split =  80
l1 =  0.5 C =  10 , TT split =  81
l1 =  0.5 C =  10 , TT split =  82
l1 =  0.5 C =  10 , TT split =  83
l1 =  0.5 C =  10 , TT split =  84
l1 =  0.5 C =  10 , TT split =  85
l1 =  0.5 C =  10 , TT split =  86
l1 =  0.5 C =  10 , TT split =  87
l1 =  0.5 C =  10 , TT split =  88
l1 =  0.5 C =  10 , TT split =  89
l1 =  0.5 C =  10 , TT split =  90
l1 =  0.5 C =  10 , TT split =  91
l1 =  0.5 C =  10 , TT split =  92
l1 =  0.5 C =  10 , TT split =  93
l1 =  0.5 C =  10 , TT split =  94
l1 =  0.5 C =  10 , TT split =  95
l1 =  0.5 C =  10 , TT split =  96
l1 =  0.5 C =  10 , TT split =  97
l1 =  0.5 C =  10 , TT split =  98
l1 =  0.5 C =  10 , TT split =  99

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [10]
elastic net l1_ratios: [0.5]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.5l1 =  0.5 C =  10 l1 =  0.5 C =  10C =  10 l1 =  0.5 C =  10, TT split = l1 =  0.5 l1 =  0.5 C =  10 , TT split =  0
  , TT split =  4
 C =  10, TT split =  1
2 , TT split =  3

l1 =  0.5 C =  10 , TT split = l1 =  0.5 C =  10 , TT split =  7
 , TT split =  5
 6
l1 =  0.5 C =  10 , TT split =  8
l1 =  0.5 C =  10 , TT split =  9
l1 =  0.5 C =  10 , TT split =  10
l1 =  0.5 C =  10 , TT split =  11
l1 =  0.5 C =  10 , TT split =  12
l1 =  0.5 C =  10 , TT split =  13
l1 =  0.5 C =  10 , TT split =  14
l1 =  0.5 C =  10 , TT split =  15
l1 =  0.5 C =  10 , TT split =  16
l1 =  0.5 C =  10 , TT split =  17
l1 =  0.5 C =  10 , TT split =  18
l1 =  0.5 C =  10 , TT split =  19
l1 =  0.5 C =  10 , TT split =  20
l1 =  0.5 C =  10 , TT split =  21
l1 =  0.5 C =  10 , TT split =  22
l1 =  0.5 C =  10 , TT split =  23
l1 =  0.5 C =  10 , TT split =  24
l1 =  0.5 C =  10 , TT split =  25
l1 =  0.5 C =  10 , TT split =  26
l1 =  0.5 C =  10 , TT split =  27
l1 =  0.5 C =  10 , TT split =  28
l1 =  0.5 C =  10 , TT split =  29
l1 =  0.5 C =  10 , TT split =  30
l1 =  0.5 C =  10 , TT split =  31
l1 =  0.5 C =  10 , TT split =  32
l1 =  0.5 C =  10 , TT split =  33
l1 =  0.5 C =  10 , TT split =  34
l1 =  0.5 C =  10 , TT split =  35
l1 =  0.5 C =  10 , TT split =  36
l1 =  0.5 C =  10 , TT split =  37
l1 =  0.5 C =  10 , TT split =  38
l1 =  0.5 C =  10 , TT split =  39
l1 =  0.5 C =  10 , TT split =  40
l1 =  0.5 C =  10 , TT split =  41
l1 =  0.5 C =  10 , TT split =  42
l1 =  0.5 C =  10 , TT split =  43
l1 =  0.5 C =  10 , TT split =  44
l1 =  0.5 C =  10 , TT split =  45
l1 =  0.5 C =  10 , TT split =  46
l1 =  0.5 C =  10 , TT split =  47
l1 =  0.5 C =  10 , TT split =  48
l1 =  0.5 C =  10 , TT split =  49
l1 =  0.5 C =  10 , TT split =  50
l1 =  0.5 C =  10 , TT split =  51
l1 =  0.5 C =  10 , TT split =  52
l1 = l1 =   0.5 C =  10 , TT split =  54
0.5 C =  10 , TT split =  53
l1 =  0.5 C =  10 , TT split =  55
l1 =  0.5 C =  10 , TT split =  56
l1 =  0.5 C =  10 , TT split =  57
l1 =  0.5 C =  10 , TT split =  58
l1 =  0.5 C =  10 , TT split =  59
l1 =  0.5 C =  10 , TT split =  60
l1 =  0.5 C =  10 , TT split =  61
l1 =  0.5 C =  10 , TT split =  62
l1 =  0.5 C =  10 , TT split =  63
l1 =  0.5 C =  10 , TT split =  64
l1 =  0.5 C =  10 , TT split =  65
l1 =  0.5 C =  10 , TT split =  66
l1 =  0.5 C =  10 , TT split =  67
l1 =  0.5 C =  10 , TT split =  68
l1 =  0.5 C =  10 , TT split =  69
l1 =  0.5 C =  10 , TT split =  70
l1 =  0.5 C =  10 , TT split =  71
l1 =  0.5 C =  10 , TT split =  72
l1 =  0.5 C =  10 , TT split =  73
l1 =  0.5 C =  10 , TT split =  74
l1 =  0.5 C =  10 , TT split =  75
l1 =  0.5 C =  10 , TT split =  76
l1 =  0.5 C =  10 , TT split =  77
l1 =  0.5 C =  10 , TT split =  78
l1 =  0.5 C =  10 , TT split =  79
l1 =  0.5 C =  10 , TT split =  80
l1 =  0.5 C =  10 , TT split =  81
l1 =  0.5 C =  10 , TT split =  82
l1 =  0.5 C =  10 , TT split =  83
l1 =  0.5 C =  10 , TT split =  84
l1 =  0.5 C =  10 , TT split =  85
l1 =  0.5 C =  10 , TT split =  86
l1 =  0.5 C =  10 , TT split =  87
l1 =  0.5 C =  10 , TT split =  88
l1 =  0.5 C =  10 , TT split =  89
l1 =  0.5 C =  10 , TT split =  90
l1 =  0.5 C =  10 , TT split =  91
l1 =  0.5 C =  10 , TT split =  92
l1 =  0.5 C =  10 , TT split =  93
l1 =  0.5 C =  10 , TT split =  94
l1 =  0.5 C =  10 , TT split =  95
l1 =  0.5 C =  10 , TT split =  96
l1 =  0.5 C =  10 , TT split =  97
l1 =  0.5 C =  10 , TT split =  98
l1 =  0.5 C =  10 , TT split =  99

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [10]
elastic net l1_ratios: [0.5]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.5 C =  10 , TT split =  0
l1 =  0.5 C =  l1 =  0.5 10C =  10 , TT split =  1 , TT split =  4

l1 =  0.5 C = l1 =  0.5 C =  10 , TT split =  2
 10 , TT split =  7
l1 =  0.5 C =  10 , TT split =  3
l1 =  0.5 l1 =  0.5 C =  10 , TT split =  6
C =  10 , TT split =  5
l1 =  0.5 C =  10 , TT split =  8
l1 =  0.5 C =  10 , TT split =  9
l1 =  0.5 C =  10 , TT split =  10
l1 =  0.5 C =  10 , TT split =  11
l1 =  0.5 C =  10 , TT split =  12
l1 =  0.5 C =  10 , TT split =  13
l1 =  0.5 C =  10 , TT split =  14
l1 =  0.5 C =  10 , TT split =  15
l1 =  0.5 C =  10 , TT split =  16
l1 =  0.5 C =  10 , TT split =  17
l1 =  0.5 C =  10 , TT split =  18
l1 =  0.5 C =  10 , TT split =  19
l1 =  0.5 C =  10 , TT split =  20
l1 =  0.5 C =  10 , TT split =  21
l1 =  0.5 C =  10 , TT split =  22
l1 =  0.5 C =  10 , TT split =  23
l1 =  0.5 C =  10 , TT split =  24
l1 =  0.5 C =  10 , TT split =  25
l1 =  0.5 C =  10 , TT split =  26
l1 =  0.5 C =  10 , TT split =  27
l1 =  0.5 C =  10 , TT split =  28
l1 =  0.5 C =  10 , TT split =  29
l1 =  0.5 C =  10 , TT split =  30
l1 =  0.5 C =  10 , TT split =  31
l1 =  0.5 C =  10 , TT split =  32
l1 =  0.5 C =  10 , TT split =  33
l1 =  0.5 C =  10 , TT split =  34
l1 =  0.5 C =  10 , TT split =  35
l1 =  0.5 C =  10 , TT split =  36
l1 =  0.5 C =  10 , TT split =  37
l1 =  0.5 C =  10 , TT split =  38
l1 =  0.5 C =  10 , TT split =  39
l1 =  0.5 C =  10 , TT split =  40
l1 =  0.5 C =  10 , TT split =  41
l1 =  0.5 C =  10 , TT split =  42
l1 =  0.5 C =  10 , TT split =  43
l1 =  0.5 C =  10 , TT split =  44
l1 =  0.5 C =  10 , TT split =  45
l1 =  0.5 C =  10 , TT split =  46
l1 =  0.5 C =  10 , TT split =  47
l1 =  0.5 C =  10 , TT split =  48
l1 =  0.5 C =  10 , TT split =  49
l1 =  0.5 C =  10 , TT split =  50
l1 =  0.5 C =  10 , TT split =  51
l1 =  0.5 C =  10 , TT split =  52
l1 =  0.5 C =  10 , TT split =  53
l1 =  0.5 C =  10 , TT split =  54
l1 =  0.5 C =  10 , TT split =  55
l1 =  0.5 C =  10 , TT split =  56
l1 =  0.5 C =  10 , TT split =  57
l1 =  0.5 C =  10 , TT split =  58
l1 =  0.5 C =  10 , TT split =  59
l1 =  0.5 C =  10 , TT split =  60
l1 =  0.5 C =  10 , TT split =  61
l1 =  0.5 C =  10 , TT split =  62
l1 =  0.5 C =  10 , TT split =  63
l1 =  0.5 C =  10 , TT split =  64
l1 =  0.5 C =  10 , TT split =  65
l1 =  0.5 C =  10 , TT split =  66
l1 =  0.5 C =  10 , TT split =  67
l1 =  0.5 C =  10 , TT split =  68
l1 =  0.5 C =  10 , TT split =  69
l1 =  0.5 C =  10 , TT split =  70
l1 =  0.5 C =  10 , TT split =  71
l1 =  0.5 C =  10 , TT split =  72
l1 =  0.5 C =  10 , TT split =  73
l1 =  0.5 C =  10 , TT split =  74
l1 =  0.5 C =  10 , TT split =  75
l1 =  0.5 C =  10 , TT split =  76
l1 =  0.5 C =  10 , TT split =  77
l1 =  0.5 C =  10 , TT split =  78
l1 =  0.5 C =  10 , TT split =  79
l1 =  0.5 C =  10 , TT split =  80
l1 =  0.5 C =  10 , TT split =  81
l1 =  0.5 C =  10 , TT split =  82
l1 =  0.5 C =  10 , TT split =  83
l1 =  0.5 C =  10 , TT split =  84
l1 =  0.5 C =  10 , TT split =  85
l1 =  0.5 C =  10 , TT split =  86
l1 =  0.5 C =  10 , TT split =  87
l1 =  0.5 C =  10 , TT split =  88
l1 =  0.5 C =  10 , TT split =  89
l1 =  0.5 C =  10 , TT split =  90
l1 =  0.5 C =  10 , TT split =  91
l1 =  0.5 C =  10 , TT split =  92
l1 =  0.5 C =  10 , TT split =  93
l1 =  0.5 C =  10 , TT split =  94
l1 =  0.5 C =  10 , TT split =  95
l1 =  0.5 C =  10 , TT split =  96
l1 =  0.5 C =  10 , TT split =  97
l1 =  0.5 C =  10 , TT split =  98
l1 =  0.5 C =  10 , TT split =  99

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [10]
elastic net l1_ratios: [0.5]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.5 C =  10 , TT split =  1
l1 =  0.5 C =  10 , TT split =  2
l1 =  0.5 C =  10l1 =  0.5l1 =  0.5 C =  l1 =  0.5 C = 10  10 , TT split =  , TT split =  7
l1 =  0.5 C =  , TT split =   3
l1 =  0.5  C =  10 , TT split = 0
10 4
 , TT split =  6C =  10
 , TT split =  5
l1 =  0.5 C =  10 , TT split =  8
l1 =  0.5 C =  10 , TT split =  9
l1 =  0.5 C =  10 , TT split =  10
l1 =  0.5 C =  10 , TT split =  11
l1 =  0.5 C =  10 , TT split =  12
l1 =  0.5 C =  10 , TT split =  13
l1 =  0.5 C =  10 , TT split =  14
l1 =  0.5 C =  10 , TT split =  15
l1 =  0.5 C =  10 , TT split =  16
l1 =  0.5 C =  10 , TT split =  17
l1 =  0.5 C =  10 , TT split =  18
l1 =  0.5 C =  10 , TT split =  19
l1 =  0.5 C =  10 , TT split =  20
l1 =  0.5 C =  10 , TT split =  21
l1 =  0.5 C =  10 , TT split =  22
l1 =  0.5 C =  10 , TT split =  23
l1 =  0.5 C =  10 , TT split =  24
l1 =  0.5 C =  10 , TT split =  25
l1 =  0.5 C =  10 , TT split =  26
l1 =  0.5 C =  10 , TT split =  27
l1 =  0.5 C =  10 , TT split =  28
l1 =  0.5 C =  10 , TT split =  29
l1 =  0.5 C =  10 , TT split =  30
l1 =  0.5 C =  10 , TT split =  31
l1 =  0.5 C =  10 , TT split =  32
l1 =  0.5 C =  10 , TT split =  33
l1 =  0.5 C =  10 , TT split =  34
l1 =  0.5 C =  10 , TT split =  35
l1 =  0.5 C =  10 , TT split =  36
l1 =  0.5 C =  10 , TT split =  37
l1 =  0.5 C =  10 , TT split =  38
l1 =  0.5 C =  10 , TT split =  39
l1 =  0.5 C =  10 , TT split =  40
l1 =  0.5 C =  10 , TT split =  41
l1 =  0.5 C =  10 , TT split =  42
l1 =  0.5 C =  10 , TT split =  43
l1 =  0.5 C =  10 , TT split =  44
l1 =  0.5 C =  10 , TT split =  45
l1 =  0.5 C =  10 , TT split =  46
l1 =  0.5 C =  10 , TT split =  47
l1 =  0.5 C =  10 , TT split =  48
l1 =  0.5 C =  10 , TT split =  49
l1 =  0.5 C =  10 , TT split =  50
l1 =  0.5 C =  10 , TT split =  51
l1 =  0.5 C =  10 , TT split =  52
l1 =  0.5 C =  10 , TT split =  53
l1 =  0.5 C =  10 , TT split =  54
l1 =  0.5 C =  10 , TT split =  55
l1 =  0.5 C =  10 , TT split =  56
l1 =  0.5 C =  10 , TT split =  57
l1 =  0.5 C =  10 , TT split =  58
l1 =  0.5 C =  10 , TT split =  59
l1 =  0.5 C =  10 , TT split =  60
l1 =  0.5 C =  10 , TT split =  61
l1 =  0.5 C =  10 , TT split =  62
l1 =  0.5 C =  10 , TT split =  63
l1 =  0.5 C =  10 , TT split =  64
l1 =  0.5 C =  10 , TT split =  65
l1 =  0.5 C =  10 , TT split =  66
l1 =  0.5 C =  10 , TT split =  67
l1 =  0.5 C =  10 , TT split =  68
l1 =  0.5 C =  10 , TT split =  69
l1 =  0.5 C =  10 , TT split =  70
l1 =  0.5 C =  10 , TT split =  71
l1 =  0.5 C =  10 , TT split =  72
l1 =  0.5 C =  10 , TT split =  73
l1 =  0.5 C =  10 , TT split =  74
l1 =  0.5 C =  10 , TT split =  75
l1 =  0.5 C =  10 , TT split =  76
l1 =  0.5 C =  10 , TT split =  77
l1 =  0.5 C =  10 , TT split =  78
l1 =  0.5 C =  10 , TT split =  79
l1 =  0.5 C =  10 , TT split =  80
l1 =  0.5 C =  10 , TT split =  81
l1 =  0.5 C =  10 , TT split =  82
l1 =  0.5 C =  10 , TT split =  83
l1 =  0.5 C =  10 , TT split =  84
l1 =  0.5 C =  10 , TT split =  85
l1 =  0.5 C =  10 , TT split =  86
l1 =  0.5 C =  10 , TT split =  87
l1 =  0.5 C =  10 , TT split =  88
l1 =  0.5 C =  10 , TT split =  89
l1 =  0.5 C =  10 , TT split =  90
l1 =  0.5 C =  10 , TT split =  91
l1 =  0.5 C =  10 , TT split =  92
l1 =  0.5 C =  10 , TT split =  93
l1 =  0.5 C =  10 , TT split =  94
l1 =  0.5 C =  10 , TT split =  95
l1 =  0.5 C =  10 , TT split =  96
l1 =  0.5 C =  10 , TT split =  97
l1 =  0.5 C =  10 , TT split =  98
l1 =  0.5 C =  10 , TT split =  99

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [10]
elastic net l1_ratios: [0.5]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.5 C = l1 =  0.5  C = 10l1 =  0.5 l1 =  0.5, TT split =   C =  10 C =  10 , TT split =  5
 , TT split =  4
 101
 l1 =  0.5 C =  10 , TT split =  6
l1 =  0.5 C =  , TT split =  0
10l1 =  0.5 C =  10 , TT split =  l1 =  0.5 C =  10 3
 , TT split =  , TT split =  7
2
l1 =  0.5 C =  10 , TT split =  8
l1 =  0.5 C =  10 , TT split =  9
l1 =  0.5 C =  10 , TT split =  10
l1 =  0.5 C =  10 , TT split =  11
l1 =  0.5 C =  10 , TT split =  12
l1 =  0.5 C =  10 , TT split =  13
l1 =  0.5 C =  10 , TT split =  14
l1 =  0.5 C =  10 , TT split =  15
l1 =  0.5 C =  10 , TT split =  16
l1 =  0.5 C =  10 , TT split =  17
l1 =  0.5 C =  10 , TT split =  18
l1 =  0.5 C =  10 , TT split =  19
l1 =  0.5 C =  10 , TT split =  20
l1 =  0.5 C =  10 , TT split =  21
l1 =  0.5 C =  10 , TT split =  22
l1 =  0.5 C =  10 , TT split =  23
l1 =  0.5 C =  10 , TT split =  24
l1 =  0.5 C =  10 , TT split =  25
l1 =  0.5 C =  10 , TT split =  26
l1 =  0.5 C =  10 , TT split =  27
l1 =  0.5 C =  10 , TT split =  28
l1 =  0.5 C =  10 , TT split =  29
l1 =  0.5 C =  10 , TT split =  30
l1 =  0.5 C =  10 , TT split =  31
l1 =  0.5 C =  10 , TT split =  32
l1 =  0.5 C =  10 , TT split =  33
l1 =  0.5 C =  10 , TT split =  34
l1 =  0.5 C =  10 , TT split =  35
l1 =  0.5 C =  10 , TT split =  36
l1 =  0.5 C =  10 , TT split =  37
l1 =  0.5 C =  10 , TT split =  38
l1 =  0.5 C =  10 , TT split =  39
l1 =  0.5 C =  10 , TT split =  40
l1 =  0.5 C =  10 , TT split =  41
l1 =  0.5 C =  10 , TT split =  42
l1 =  0.5 C =  10 , TT split =  43
l1 = l1 =   0.5 C =  10 , TT split =  44
0.5 C =  10 , TT split =  45
l1 =  0.5 C =  10 , TT split =  46
l1 =  0.5 C =  10 , TT split =  47
l1 =  0.5 C =  10 , TT split =  48
l1 =  0.5 C =  10 , TT split =  49
l1 =  0.5 C =  10 , TT split =  50
l1 =  0.5 C =  10 , TT split =  51
l1 =  0.5 C =  10 , TT split =  52
l1 =  0.5 C =  10 , TT split =  53
l1 =  0.5 C =  10 , TT split =  54
l1 =  0.5 C =  10 , TT split =  55
l1 =  0.5 C =  10 , TT split =  56
l1 =  0.5 C =  10 , TT split =  57
l1 =  0.5 C =  10 , TT split =  58
l1 =  0.5 C =  10 , TT split =  59
l1 =  0.5 C =  10 , TT split =  60
l1 =  0.5 C =  10 , TT split =  61
l1 =  0.5 C =  10 , TT split =  62
l1 =  0.5 C =  10 , TT split =  63
l1 =  0.5 C =  10 , TT split =  64
l1 =  0.5 C =  10 , TT split =  65
l1 =  0.5 C =  10 , TT split =  66
l1 =  0.5 C =  10 , TT split =  67
l1 =  0.5 C =  10 , TT split =  68
l1 =  0.5 C =  10 , TT split =  69
l1 =  0.5 C =  10 , TT split =  70
l1 =  0.5 C =  10 , TT split =  71
l1 =  0.5 C =  10 , TT split =  72
l1 =  0.5 C =  10 , TT split =  73
l1 =  0.5 C =  10 , TT split =  74
l1 =  0.5 C =  10 , TT split =  75
l1 =  0.5 C =  10 , TT split =  76
l1 =  0.5 C =  10 , TT split =  77
l1 =  0.5 C =  10 , TT split =  78
l1 = l1 =  0.5 C =  10 , TT split =  80
 0.5 C =  10 , TT split =  79
l1 =  0.5 C =  10 , TT split =  81
l1 =  0.5 C =  10 , TT split =  82
l1 =  0.5 C =  10 , TT split =  83
l1 =  0.5 C =  10 , TT split =  84
l1 =  0.5 C =  10 , TT split =  85
l1 =  0.5 C =  10 , TT split =  86
l1 =  0.5 C =  10 , TT split =  87
l1 =  0.5 C =  10 , TT split =  88
l1 =  0.5 C =  10 , TT split =  89
l1 =  0.5 C =  10 , TT split =  90
l1 =  0.5 C =  10 , TT split =  91
l1 =  0.5 C =  10 , TT split =  92
l1 =  0.5 C =  10 , TT split =  93
l1 =  0.5 C =  10 , TT split =  94
l1 =  0.5 C =  10 , TT split =  95
l1 =  0.5 C =  10 , TT split =  96
l1 =  0.5 C =  10 , TT split =  97
l1 =  0.5 C =  10 , TT split =  98
l1 =  0.5 C =  10 , TT split =  99

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (340, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (340,)
regularization parameters C: [10]
elastic net l1_ratios: [0.9]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.9 C =  10 , TT split =  4
l1 =  0.9 C =  10 , TT split =  0
l1 =  0.9 C =  10 , TT split =  5
l1 =  0.9 C = l1 =   0.9 C =  10 , TT split =  3
10 , TT split = l1 =  0.9 C =   1
l1 =  0.9 C = 10 , TT split =  2
l1 =  0.9 C =  10 , TT split =  7
 10 , TT split =  6
l1 =  0.9 C =  10 , TT split =  8
l1 =  0.9 C =  10 , TT split =  9
l1 =  0.9 C =  10 , TT split =  10
l1 =  0.9 C =  10 , TT split =  11
l1 =  0.9 C =  10 , TT split =  12
l1 =  0.9 C =  10 , TT split =  13
l1 =  0.9 C =  10 , TT split =  14
l1 =  0.9 C =  10 , TT split =  15
l1 =  0.9 C =  10 , TT split =  16
l1 =  0.9 C =  10 , TT split =  17
l1 =  0.9 C =  10 , TT split =  18
l1 =  0.9 C =  10 , TT split =  19
l1 =  0.9 C =  10 , TT split =  20
l1 =  0.9 C =  10 , TT split =  21
l1 =  0.9 C =  10 , TT split =  22
l1 =  0.9 C =  10 , TT split =  23
l1 =  0.9 C =  10 , TT split =  24
l1 =  0.9 C =  10 , TT split =  25
l1 =  0.9 C =  10 , TT split =  26
l1 =  0.9 C =  10 , TT split =  27
l1 =  0.9 C =  10 , TT split =  28
l1 =  0.9 C =  10 , TT split =  29
l1 =  0.9 C =  10 , TT split =  30
l1 =  0.9 C =  10 , TT split =  31
l1 =  0.9 C =  10 , TT split =  32
l1 =  0.9 C =  10 , TT split =  33
l1 =  0.9 C =  10 , TT split =  34
l1 =  0.9 C =  10 , TT split =  35
l1 =  0.9 C =  10 , TT split =  36
l1 =  0.9 C =  10 , TT split =  37
l1 =  0.9 C =  10 , TT split =  38
l1 =  0.9 C =  10 , TT split =  39
l1 =  0.9 C =  10 , TT split =  40
l1 =  0.9 C =  10 , TT split =  41
l1 =  0.9 C =  10 , TT split =  42
l1 =  0.9 C =  10 , TT split =  43
l1 =  0.9 C =  10 , TT split =  44
l1 =  0.9 C =  10 , TT split =  45
l1 =  0.9 C =  10 , TT split =  46
l1 =  0.9 C =  10 , TT split =  47
l1 =  0.9 C =  10 , TT split =  48
l1 =  0.9 C =  10 , TT split =  49
l1 =  0.9 C =  10 , TT split =  50
l1 =  0.9 C =  10 , TT split =  51
l1 =  0.9 C =  10 , TT split =  52
l1 =  0.9 C =  10 , TT split =  53
l1 =  0.9 C =  10 , TT split =  54
l1 =  0.9 C =  10 , TT split =  55
l1 =  0.9 C =  10 , TT split =  56
l1 =  0.9 C =  10 , TT split =  57
l1 =  0.9 C =  10 , TT split =  58
l1 =  0.9 C =  10 , TT split =  59
l1 =  0.9 C =  10 , TT split =  60
l1 =  0.9 C =  10 , TT split =  61
l1 =  0.9 C =  10 , TT split =  62
l1 =  0.9 C =  10 , TT split =  63
l1 =  0.9 C =  10 , TT split =  64
l1 =  0.9 C =  10 , TT split =  65
l1 =  0.9 C =  10 , TT split =  66
l1 =  0.9 C =  10 , TT split =  67
l1 =  0.9 C =  10 , TT split =  68
l1 =  0.9 C =  10 , TT split =  69
l1 =  0.9 C =  10 , TT split =  70
l1 =  0.9 C =  10 , TT split =  71
l1 =  0.9 C =  10 , TT split =  72
l1 =  0.9 C =  10 , TT split =  73
l1 =  0.9 C =  10 , TT split =  74
l1 =  0.9 C =  10 , TT split =  75
l1 =  0.9 C =  10 , TT split =  76
l1 =  0.9 C =  10 , TT split =  77
l1 =  0.9 C =  10 , TT split =  78
l1 =  0.9 C =  10 , TT split =  79
l1 =  0.9 C =  10 , TT split =  80
l1 =  0.9 C =  10 , TT split =  81
l1 =  0.9 C =  10 , TT split =  82
l1 =  0.9 C =  10 , TT split =  83
l1 =  0.9 C =  10 , TT split =  84
l1 =  0.9 C =  10 , TT split =  85
l1 =  0.9 C =  10 , TT split =  86
l1 =  0.9 C =  10 , TT split =  87
l1 =  0.9 C =  10 , TT split =  88
l1 =  0.9 C =  10 , TT split =  89
l1 =  0.9 C =  10 , TT split =  90
l1 =  0.9 C =  10 , TT split =  91
l1 =  0.9 C =  10 , TT split =  92
l1 =  0.9 C =  10 , TT split =  93
l1 =  0.9 C =  10 , TT split =  94
l1 =  0.9 C =  10 , TT split =  95
l1 =  0.9 C =  10 , TT split =  96
l1 =  0.9 l1 = C =  10 , TT split =  97
 0.9 C =  10 , TT split =  98
l1 =  0.9 C =  10 , TT split =  99

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [10]
elastic net l1_ratios: [0.9]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.9 C =  10 , TT split =  l1 = 0
 l1 =  0.9 C =  10 , TT split =  4l1 =  0.9 C =  10 , TT split =
1
0.9 C =  10 , TT split =  l1 =  0.9 C =  10 , TT split =  6
3
l1 =  0.9 C =  10 , TT split =  2l1 =  0.9 C =  10l1 =  0.9 C =  10
, TT split =  5
 , TT split =  7
l1 =  0.9 C =  10 , TT split =  8
l1 =  0.9 C =  10 , TT split =  9
l1 =  0.9 C =  10 , TT split =  10
l1 =  0.9 C =  10 , TT split =  11
l1 =  0.9 C =  10 , TT split =  12
l1 =  0.9 C =  10 , TT split =  13
l1 =  0.9 C =  10 , TT split =  14
l1 =  0.9 C =  10 , TT split =  15
l1 =  0.9 C =  10 , TT split =  16
l1 =  0.9 C =  10 , TT split =  17
l1 =  0.9 C =  10 , TT split =  18
l1 =  0.9 C =  10 , TT split =  19
l1 =  0.9 C =  10 , TT split =  20
l1 =  0.9 C =  10 , TT split =  21
l1 =  0.9 C =  10 , TT split =  22
l1 =  0.9 C =  10 , TT split =  23
l1 =  0.9 C =  10 , TT split =  24
l1 =  0.9 C =  10 , TT split =  25
l1 =  0.9 C =  10 , TT split =  26
l1 =  0.9 C =  10 , TT split =  27
l1 =  0.9 C =  10 , TT split =  28
l1 =  0.9 C =  10 , TT split =  29
l1 =  0.9 C =  10 , TT split =  30
l1 =  0.9 C =  10 , TT split =  31
l1 =  0.9 C =  10 , TT split =  32
l1 =  0.9 C =  10 , TT split =  33
l1 =  0.9 C =  10 , TT split =  34
l1 =  0.9 C =  10 , TT split =  35
l1 =  0.9 C =  10 , TT split =  36
l1 =  0.9 C =  10 , TT split =  37
l1 =  0.9 C =  10 , TT split =  38
l1 =  0.9 C =  10 , TT split =  39
l1 =  0.9 C =  10 , TT split =  40
l1 =  0.9 C =  10 , TT split =  41
l1 =  0.9 C =  10 , TT split =  42
l1 =  0.9 C =  10 , TT split =  43
l1 =  0.9 C =  10 , TT split =  44
l1 =  0.9 C =  10 , TT split =  45
l1 =  0.9 C =  10 , TT split =  46
l1 =  0.9 C =  10 , TT split =  47
l1 =  0.9 C =  10 , TT split =  48
l1 =  0.9 C =  10 , TT split =  49
l1 =  0.9 C =  10 , TT split =  50
l1 =  0.9 C =  10 , TT split =  51
l1 =  0.9 C =  10 , TT split =  52
l1 =  0.9 C =  10 , TT split =  53
l1 =  0.9 C =  10 , TT split =  54
l1 =  0.9 C =  10 , TT split =  55
l1 =  0.9 C =  10 , TT split =  56
l1 =  0.9 C =  10 , TT split =  57
l1 =  0.9 C =  10 , TT split =  58
l1 =  0.9 C =  10 , TT split =  59
l1 =  0.9 C =  10 , TT split =  60
l1 =  0.9 C =  10 , TT split =  61
l1 =  0.9 C =  10 , TT split =  62
l1 =  0.9 C =  10 , TT split =  63
l1 =  0.9 C =  10 , TT split =  64
l1 =  0.9 C =  10 , TT split =  65
l1 =  0.9 C =  10 , TT split =  66
l1 =  0.9 C =  10 , TT split =  67
l1 =  0.9 C =  10 , TT split =  68
l1 =  0.9 C =  10 , TT split =  69
l1 =  0.9 C =  10 , TT split =  70
l1 =  0.9 C =  10 , TT split =  71
l1 =  0.9 C =  10 , TT split =  72
l1 =  0.9 C =  10 , TT split =  73
l1 =  0.9 C =  10 , TT split =  74
l1 =  0.9 C =  10 , TT split =  75
l1 =  0.9 C =  10 , TT split =  76
l1 =  0.9 C =  10 , TT split =  77
l1 =  0.9 C =  10 , TT split =  78
l1 =  0.9 C =  10 , TT split =  79
l1 =  0.9 C =  10 , TT split =  80
l1 =  0.9 C =  10 , TT split =  81
l1 =  0.9 C =  10 , TT split =  82
l1 =  0.9 C =  10 , TT split =  83
l1 =  0.9 C =  10 , TT split =  84
l1 =  0.9 C =  10 , TT split =  85
l1 =  0.9 C =  10 , TT split =  86
l1 =  0.9 C =  10 , TT split =  87
l1 =  0.9 C =  10 , TT split =  88
l1 =  0.9 C =  10 , TT split =  89
l1 =  0.9 C =  10 , TT split =  90
l1 =  0.9 C =  10 , TT split =  91
l1 =  0.9 C =  10 , TT split =  92
l1 =  0.9 C =  10 , TT split =  93
l1 =  0.9 C =  10 , TT split =  94
l1 =  0.9 C =  10 , TT split =  95
l1 =  0.9 C =  10 , TT split =  96
l1 =  0.9 C =  10 , TT split =  97
l1 =  0.9 C =  10 , TT split =  98
l1 =  0.9 C =  10 , TT split =  99

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [10]
elastic net l1_ratios: [0.9]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.9 C =  10 , TT split =  3
l1 =  0.9 C =  10 , TT split =  4
l1 =  0.9 C = l1 =  0.9 C =  10 , TT split =  0
l1 = 10 , TT split =  6l1 =  0.9 C = l1 =  0.9 C =
 10 , TT split =  5
10 , TT split =  1
 l1 =  0.9 C =  10 , TT split =  7
0.9 C =  10 , TT split =  2
l1 = l1 =  0.9 C =  10 , TT split =  8
 0.9 C =  10 , TT split =  9
l1 =  0.9 C =  10 , TT split =  10
l1 =  0.9 C =  10 , TT split =  11
l1 =  0.9 C =  10 , TT split =  12
l1 =  0.9 C =  10 , TT split =  13
l1 =  0.9 C =  10 , TT split =  14
l1 =  0.9 C =  10 , TT split =  15
l1 =  0.9 C =  10 , TT split =  16
l1 =  0.9 C =  10 , TT split =  17
l1 =  0.9 C =  10 , TT split =  18
l1 =  0.9 C =  10 , TT split =  19
l1 =  0.9 C =  10 , TT split =  20
l1 =  0.9 C =  10 , TT split =  21
l1 =  0.9 C =  10 , TT split =  22
l1 =  0.9 C =  10 , TT split =  23
l1 =  0.9 C =  10 , TT split =  24
l1 =  0.9 C =  10 , TT split =  25
l1 =  0.9 C =  10 , TT split =  26
l1 =  0.9 C =  10 , TT split =  27
l1 =  0.9 C =  10 , TT split =  28
l1 =  0.9 C =  10 , TT split =  29
l1 =  0.9 C =  10 , TT split =  30
l1 =  0.9 C =  10 , TT split =  31
l1 =  0.9 C =  10 , TT split =  32
l1 =  0.9 C =  10 , TT split =  33
l1 =  0.9 C =  10 , TT split =  34
l1 =  0.9 C =  10 , TT split =  35
l1 =  0.9 C =  10 , TT split =  36
l1 =  0.9 C =  10 , TT split =  37
l1 =  0.9 C =  10 , TT split =  38
l1 =  0.9 C =  10 , TT split =  39
l1 =  0.9 C =  10 , TT split =  40
l1 =  0.9 C =  10 , TT split =  41
l1 =  0.9 C =  10 , TT split =  42
l1 =  0.9 C =  10 , TT split =  43
l1 =  0.9 C =  10 , TT split =  44
l1 =  0.9 C =  10 , TT split =  45
l1 =  0.9 C =  10 , TT split =  46
l1 =  0.9 C =  10 , TT split =  47
l1 =  0.9 C =  10 , TT split =  48
l1 =  0.9 C =  10 , TT split =  49
l1 =  0.9 C =  10 , TT split =  50
l1 =  0.9 C =  10 , TT split =  51
l1 =  0.9 C =  10 , TT split =  52
l1 =  0.9 C =  10 , TT split =  53
l1 =  0.9 C =  10 , TT split =  54
l1 =  0.9 C =  10 , TT split =  55
l1 =  0.9 C =  10 , TT split =  56
l1 =  0.9 C =  10 , TT split =  57
l1 =  0.9 C =  10 , TT split =  58
l1 =  0.9 C =  10 , TT split =  59
l1 =  0.9 C =  10 , TT split =  60
l1 =  0.9 C =  10 , TT split =  61
l1 =  0.9 C =  10 , TT split =  62
l1 =  0.9 C =  10 , TT split =  63
l1 =  0.9 C =  10 , TT split =  64
l1 =  0.9 C =  10 , TT split =  65
l1 =  0.9 C =  10 , TT split =  66
l1 =  0.9 C =  10 , TT split =  67
l1 =  0.9 C =  10 , TT split =  68
l1 =  0.9 C =  10 , TT split =  69
l1 =  0.9 C =  10 , TT split =  70
l1 =  0.9 C =  10 , TT split =  71
l1 =  0.9 C =  10 , TT split =  72
l1 =  0.9 C =  10 , TT split =  73
l1 =  0.9 C =  10 , TT split =  74
l1 =  0.9 C =  10 , TT split =  75
l1 =  0.9 C =  10 , TT split =  76
l1 =  0.9 C =  10 , TT split =  77
l1 =  0.9 C =  10 , TT split =  78
l1 =  0.9 C =  10 , TT split =  79
l1 =  0.9 C =  10 , TT split =  80
l1 =  0.9 C =  10 , TT split =  81
l1 =  0.9 C =  10 , TT split =  82
l1 =  0.9 C =  10 , TT split =  83
l1 =  0.9 C =  10 , TT split =  84
l1 =  0.9 C =  10 , TT split =  85
l1 =  0.9 C =  10 , TT split =  86
l1 =  0.9 C =  10 , TT split =  87
l1 =  0.9 C =  10 , TT split =  88
l1 =  0.9 C =  10 , TT split =  89
l1 =  0.9 C =  10 , TT split =  90
l1 =  0.9 C =  10 , TT split =  91
l1 =  0.9 C =  10 , TT split =  92
l1 =  0.9 C =  10 , TT split =  93
l1 =  0.9 C =  10 , TT split =  94
l1 =  0.9 C =  10 , TT split =  95
l1 =  0.9 C =  10 , TT split =  96
l1 =  0.9 C =  10 , TT split =  97
l1 =  0.9 C =  10 , TT split =  98
l1 =  0.9 C =  10 , TT split =  99

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [10]
elastic net l1_ratios: [0.9]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  l1 =  0.90.9 C =  10 , TT split =  0
l1 =  0.9 C =  l1 =  0.9 C =  10 10 , TT split = C = l1 =  0.9 C =   , TT split =  6
 10 , TT split =  1
l1 =  0.9 C =  10  3
, TT split = l1 =  0.9 5
 C = 10 , TT split =  4
 10 , TT split =  2
l1 =  0.9 C =  10 , TT split =  7
l1 =  0.9 C =  10 , TT split =  8
l1 =  0.9 C =  10 , TT split =  9
l1 =  0.9 C =  10 , TT split =  10
l1 =  0.9 C =  10 , TT split =  11
l1 =  0.9 C =  10 , TT split =  12
l1 =  0.9 C =  10 , TT split =  13
l1 =  0.9 C =  10 , TT split =  14
l1 =  0.9 C =  10 , TT split =  15
l1 =  0.9 C =  10 , TT split =  16
l1 =  0.9 C =  10 , TT split =  17
l1 =  0.9 C =  10 , TT split =  18
l1 =  0.9 C =  10 , TT split =  19
l1 =  0.9 C =  10 , TT split =  20
l1 =  0.9 C =  10 , TT split =  21
l1 =  0.9 C =  10 , TT split =  22
l1 =  0.9 C =  10 , TT split =  23
l1 =  0.9 C =  10 , TT split =  24
l1 =  0.9 C =  10 , TT split =  25
l1 =  0.9 C =  10 , TT split =  26
l1 =  0.9 C =  10 , TT split =  27
l1 =  0.9 C =  10 , TT split =  28
l1 =  0.9 C =  10 , TT split =  29
l1 =  0.9 C =  10 , TT split =  30
l1 =  0.9 C =  10 , TT split =  31
l1 =  0.9 C =  10 , TT split =  32
l1 =  0.9 C =  10 , TT split =  33
l1 =  0.9 C =  10 , TT split =  34
l1 =  0.9 C =  10 , TT split =  35
l1 =  0.9 C =  10 , TT split =  36
l1 =  0.9 C =  10 , TT split =  37
l1 =  0.9 C =  10 , TT split =  38
l1 =  0.9 C =  10 , TT split =  39
l1 =  0.9 C =  10 , TT split =  40
l1 =  0.9 C =  10 , TT split =  41
l1 =  0.9 C =  10 , TT split =  42
l1 =  0.9 C =  10 , TT split =  43
l1 =  0.9 C =  10 , TT split =  44
l1 =  0.9 C =  10 , TT split =  45
l1 =  0.9 C =  10 , TT split =  46
l1 =  0.9 C =  10 , TT split =  47
l1 =  0.9 C =  10 , TT split =  48
l1 =  0.9 C =  10 , TT split =  49
l1 =  0.9 C =  10 , TT split =  50
l1 =  0.9 C =  10 , TT split =  51
l1 =  0.9 C =  10 , TT split =  52
l1 =  0.9 C =  10 , TT split =  53
l1 =  0.9 C =  10 , TT split =  54
l1 =  0.9 C =  10 , TT split =  55
l1 =  0.9 C =  10 , TT split =  56
l1 =  0.9 C =  10 , TT split =  57
l1 =  0.9 C =  10 , TT split =  58
l1 =  0.9 C =  10 , TT split =  59
l1 =  0.9 C =  10 , TT split =  60
l1 =  0.9 C =  10 , TT split =  61
l1 =  0.9 C =  10 , TT split =  62
l1 =  0.9 C =  10 , TT split =  63
l1 =  0.9 C =  10 , TT split =  64
l1 =  0.9 C =  10 , TT split =  65
l1 =  0.9 C =  10 , TT split =  66
l1 =  0.9 C =  10 , TT split =  67
l1 =  0.9 C =  10 , TT split =  68
l1 =  0.9 C =  10 , TT split =  69
l1 =  0.9 C =  10 , TT split =  70
l1 =  0.9 C =  10 , TT split =  71
l1 =  0.9 C =  10 , TT split =  72
l1 =  0.9 C =  10 , TT split =  73
l1 =  0.9 C =  10 , TT split =  74
l1 =  0.9 C =  10 , TT split =  75
l1 =  0.9 C =  10 , TT split =  76
l1 =  0.9 C =  10 , TT split =  77
l1 =  0.9 C =  10 , TT split =  78
l1 =  0.9 C =  10 , TT split =  79
l1 = l1 =  0.9 C =  10 , TT split =  80
 0.9 C =  10 , TT split =  81
l1 =  0.9 C =  10 , TT split =  82
l1 =  0.9 C =  10 , TT split =  83
l1 =  0.9 C =  10 , TT split =  84
l1 =  0.9 C =  10 , TT split =  85
l1 =  0.9 C =  10 , TT split =  86
l1 =  0.9 C =  10 , TT split =  87
l1 =  0.9 C =  10 , TT split =  88
l1 =  0.9 C =  10 , TT split =  89
l1 =  0.9 C =  10 , TT split =  90
l1 =  0.9 C =  10 , TT split =  91
l1 =  0.9 C =  10 , TT split =  92
l1 =  0.9 C =  10 , TT split =  93
l1 = l1 =   0.9 C =  10 , TT split =  95
0.9 C =  10 , TT split =  94
l1 =  0.9 C =  10 , TT split =  96
l1 =  0.9 C =  10 , TT split =  97
l1 =  0.9 C =  10 , TT split =  98
l1 =  0.9 C =  10 , TT split =  99

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

data dimension: (341, 30)  data type: <class 'pandas.core.frame.DataFrame'>
target dimension (341,)
regularization parameters C: [10]
elastic net l1_ratios: [0.9]
number of models in ensemble: 100
classification method: logreg
verbose: 1
l1 =  0.9 C =  10 , TT split =  0
l1 =  0.9 C =  10 , TT split =  1
l1 =  0.9 C =  10 , TT split =  2
l1 =  0.9 C = l1 =  0.9 C =  10 , TT split =  10 , TT split =  4
 3
l1 = l1 =  0.9 C =  10 0.9 C =  10 , TT split =  7 , TT split =  5
l1 =  0.9 C =
 10 , TT split =  6
l1 =  0.9 C =  10 , TT split =  8
l1 =  0.9 C =  10 , TT split =  9
l1 =  0.9 C =  10 , TT split =  10
l1 =  0.9 C =  10 , TT split =  11
l1 =  0.9 C =  10 , TT split =  12
l1 =  0.9 C =  10 , TT split =  13
l1 =  0.9 C =  10 , TT split =  14
l1 =  0.9 C =  10 , TT split =  15
l1 =  0.9 C =  10 , TT split =  16
l1 =  0.9 C =  10 , TT split =  17
l1 =  0.9 C =  10 , TT split =  18
l1 =  0.9 C =  10 , TT split =  19
l1 =  0.9 C =  10 , TT split =  20
l1 =  0.9 C =  10 , TT split =  21
l1 =  0.9 C =  10 , TT split =  22
l1 =  0.9 C =  10 , TT split =  23
l1 =  0.9 C =  10 , TT split =  24
l1 =  0.9 C =  10 , TT split =  25
l1 =  0.9 C =  10 , TT split =  26
l1 = l1 =  0.9 C =  10 , TT split =  28
 0.9 C =  10 , TT split =  27
l1 =  0.9 C =  10 , TT split =  29
l1 =  0.9 C =  10 , TT split =  30
l1 =  0.9 C =  10 , TT split =  31
l1 =  0.9 C =  10 , TT split =  32
l1 =  0.9 C =  10 , TT split =  33
l1 =  0.9 C =  10 , TT split =  34
l1 =  0.9 C =  10 , TT split =  35
l1 =  0.9 C =  10 , TT split =  36
l1 =  0.9 C =  10 , TT split =  37
l1 =  0.9 C =  10 , TT split =  38
l1 =  0.9 C =  10 , TT split =  39
l1 =  0.9 C =  10 , TT split =  40
l1 =  0.9 C =  10 , TT split =  41
l1 =  0.9 C =  10 , TT split =  42
l1 =  0.9 C =  10 , TT split =  43
l1 =  0.9 C =  10 , TT split =  44
l1 =  0.9 C =  10 , TT split =  45
l1 =  0.9 C =  10 , TT split =  46
l1 =  0.9 C =  10 , TT split =  47
l1 =  0.9 C =  10 , TT split =  48
l1 =  0.9 C =  10 , TT split =  49
l1 =  0.9 C =  10 , TT split =  50
l1 =  0.9 C =  10 , TT split =  51
l1 =  0.9 C =  10 , TT split =  52
l1 =  0.9 C =  10 , TT split =  53
l1 =  0.9 C =  10 , TT split =  54
l1 =  0.9 C =  10 , TT split =  55
l1 =  0.9 C =  10 , TT split =  56
l1 =  0.9 C =  10 , TT split =  57
l1 =  0.9 C =  10 , TT split =  58
l1 =  0.9 C =  10 , TT split =  59
l1 =  0.9 C =  10 , TT split =  60
l1 =  0.9 C =  10 , TT split =  61
l1 =  0.9 C =  10 , TT split =  62
l1 =  0.9 C =  10 , TT split =  63
l1 =  0.9 C =  10 , TT split =  64
l1 =  0.9 C =  10 , TT split =  65
l1 =  0.9 C =  10 , TT split =  66
l1 =  0.9 C =  10 , TT split =  67
l1 =  0.9 C =  10 , TT split =  68
l1 =  0.9 C =  10 , TT split =  69
l1 =  0.9 C =  10 , TT split =  70
l1 =  0.9 C =  10 , TT split =  71
l1 =  0.9 C =  10 , TT split =  72
l1 =  0.9 C =  10 , TT split =  73
l1 =  0.9 C =  10 , TT split =  74
l1 =  0.9 C =  10 , TT split =  75
l1 =  0.9 C =  10 , TT split =  76
l1 =  0.9 C =  10 , TT split =  77
l1 =  0.9 C =  10 , TT split =  78
l1 =  0.9 C =  10 , TT split =  79
l1 =  0.9 C =  10 , TT split =  80
l1 =  0.9 C =  10 , TT split =  81
l1 =  0.9 C =  10 , TT split =  82
l1 =  0.9 C =  10 , TT split =  83
l1 =  0.9 C =  10 , TT split =  84
l1 =  0.9 C =  10 , TT split =  85
l1 =  0.9 C =  10 , TT split =  86
l1 =  0.9 C =  10 , TT split =  87
l1 =  0.9 C =  10 , TT split =  88
l1 =  0.9 C =  10 , TT split =  89
l1 =  0.9 C =  10 , TT split =  90
l1 =  0.9 C =  10 , TT split =  91
l1 =  0.9 C =  10 , TT split =  92
l1 =  0.9 C =  10 , TT split =  93
l1 =  0.9 C =  10 , TT split =  94
l1 =  0.9 C =  10 , TT split =  95
l1 =  0.9 C =  10 , TT split =  96
l1 =  0.9 C =  10 , TT split =  97
l1 =  0.9 C =  10 , TT split =  98
l1 =  0.9 C =  10 , TT split =  99

C:\NMBU\Miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [4]:
best_l1

0.1

In [5]:
best_C

10.0

In [6]:
# for the best parameter combination: incorrect prediction % across all folds
incorrect_labels_dict[(best_l1, best_C)]

          fold1       fold2       fold3       fold4       fold5
0           NaN    0.000000    0.000000    0.000000    0.000000
2           NaN    0.000000    0.000000    0.000000    0.000000
3      0.000000         NaN    0.000000    0.000000    0.000000
4      0.000000    0.000000    0.000000    0.000000         NaN
5      0.000000    0.000000    0.000000         NaN    0.000000
6      0.000000    0.000000    0.000000         NaN    0.000000
7           NaN    0.000000    0.000000    0.000000    0.000000
8           NaN    0.000000    0.000000    0.000000    0.000000
9      0.000000         NaN    0.000000    0.000000    0.000000
11     0.000000         NaN    0.000000    0.000000    0.000000
13          NaN  100.000000   77.142857   89.285714   17.857143
16     0.000000    0.000000    0.000000         NaN    0.000000
18     0.000000    0.000000    0.000000         NaN    0.000000
19     0.000000    0.000000    0.000000         NaN    0.000000
20          NaN    0.000000    0.000000    0.000000    0.000000
22     0.000000         NaN    0.000000    0.000000    0.000000
23     0.000000    0.000000         NaN    0.000000    0.000000
24     0.000000    0.000000         NaN    0.000000    0.000000
25     0.000000    0.000000    0.000000    0.000000         NaN
26     0.000000    0.000000    0.000000    0.000000         NaN
27          NaN    0.000000    0.000000    0.000000    0.000000
28     0.000000    0.000000    0.000000         NaN    0.000000
29     0.000000    0.000000    0.000000         NaN    0.000000
30     0.000000    0.000000    0.000000         NaN    0.000000
32     0.000000    0.000000         NaN    0.000000    0.000000
33     0.000000    0.000000    0.000000         NaN    0.000000
34     0.000000    0.000000    0.000000    0.000000         NaN
35          NaN    0.000000    0.000000    0.000000    0.000000
36     0.000000         NaN    0.000000    0.000000    0.000000
38     0.000000   11.111111   32.000000    8.000000         NaN
39          NaN    0.000000    0.000000    0.000000    0.000000
40   100.000000  100.000000  100.000000         NaN  100.000000
41    17.391304   39.130435         NaN    4.761905    4.347826
42          NaN    0.000000    0.000000    0.000000    0.000000
43     0.000000    0.000000    0.000000    0.000000         NaN
44          NaN    0.000000    0.000000    0.000000    0.000000
47     0.000000    0.000000         NaN    0.000000    0.000000
48          NaN    0.000000    0.000000    0.000000    0.000000
49    20.000000   57.894737         NaN   12.500000    0.000000
50     0.000000         NaN    0.000000    0.000000    0.000000
51     0.000000         NaN    0.000000    0.000000    0.000000
52     0.000000    0.000000    0.000000         NaN    0.000000
53     0.000000    0.000000    0.000000         NaN    0.000000
54     0.000000         NaN    0.000000    0.000000    0.000000
55     0.000000    0.000000         NaN    0.000000    0.000000
56     0.000000    0.000000         NaN    0.000000    0.000000
57     0.000000    0.000000    0.000000    0.000000         NaN
58     0.000000    0.000000    0.000000    0.000000         NaN
59          NaN    0.000000    0.000000    0.000000    0.000000
60     0.000000    0.000000    0.000000    0.000000         NaN
61     0.000000    0.000000    0.000000    0.000000         NaN
62          NaN    0.000000    0.000000    0.000000    0.000000
63     0.000000    0.000000         NaN    0.000000    0.000000
65     0.000000    0.000000         NaN    0.000000    0.000000
67     0.000000    0.000000         NaN    0.000000    0.000000
68    23.333333         NaN   63.333333   58.064516   83.870968
69     0.000000    0.000000    0.000000    0.000000         NaN
70     0.000000         NaN    0.000000    0.000000    0.000000
72     0.000000    0.000000         NaN    0.000000    0.000000
73   100.000000         NaN  100.000000  100.000000  100.000000
74     0.000000    0.000000    0.000000         NaN    0.000000
77     0.000000    0.000000    0.000000         NaN    0.000000
79     0.000000         NaN    0.000000    0.000000    0.000000
80     0.000000         NaN    0.000000    0.000000    0.000000
81    33.333333         NaN   21.428571   17.391304   30.434783
82          NaN    0.000000    0.000000    0.000000    0.000000
83          NaN    7.407407   10.000000    0.000000    0.000000
84     0.000000    0.000000    0.000000         NaN    0.000000
86    11.111111    0.000000         NaN    7.142857   48.148148
87     0.000000    0.000000    0.000000         NaN    0.000000
88     0.000000    0.000000    0.000000    0.000000         NaN
91   100.000000         NaN   30.769231   19.230769   11.111111
92     0.000000    0.000000    0.000000         NaN    0.000000
93     0.000000    0.000000         NaN    0.000000    0.000000
94     0.000000    0.000000    0.000000         NaN    0.000000
95     0.000000    0.000000    0.000000         NaN    0.000000
97     0.000000    0.000000    0.000000    0.000000         NaN
98     0.000000    0.000000    0.000000         NaN    0.000000
99    22.857143   16.666667   25.714286    2.857143         NaN
100    0.000000         NaN    0.000000    0.000000    0.000000
101    0.000000    0.000000    0.000000         NaN    0.000000
104    0.000000         NaN    0.000000    0.000000    0.000000
105    0.000000    0.000000    0.000000         NaN    0.000000
106    0.000000    0.000000         NaN    0.000000    0.000000
109    0.000000    0.000000    0.000000    0.000000         NaN
110    0.000000         NaN    0.000000    0.000000    0.000000
111    0.000000    0.000000    0.000000    0.000000         NaN
112    0.000000         NaN    0.000000    0.000000   10.526316
114    0.000000    0.000000         NaN    0.000000    0.000000
115    0.000000         NaN    0.000000    0.000000    0.000000
116    0.000000    0.000000    0.000000    0.000000         NaN
117    0.000000         NaN    0.000000    0.000000    0.000000
119    0.000000    0.000000    0.000000         NaN    0.000000
120    0.000000         NaN    0.000000    0.000000    0.000000
121    0.000000         NaN    0.000000    0.000000    0.000000
122         NaN    0.000000    0.000000    0.000000    0.000000
123    0.000000    0.000000         NaN    0.000000    0.000000
124    0.000000         NaN    0.000000    0.000000    0.000000
125    0.000000         NaN    0.000000    0.000000    0.000000
126    0.000000    0.000000         NaN    0.000000    0.000000
128    0.000000    0.000000    4.166667         NaN    4.000000
129    0.000000    0.000000    0.000000         NaN    0.000000
130         NaN    0.000000    0.000000    0.000000    0.000000
131         NaN    0.000000    0.000000    0.000000    0.000000
133    3.703704    0.000000    0.000000         NaN    0.000000
135         NaN  100.000000  100.000000  100.000000  100.000000
136    0.000000         NaN    0.000000    0.000000    0.000000
137    0.000000    0.000000    0.000000         NaN    0.000000
138         NaN    0.000000    0.000000    0.000000    0.000000
139    0.000000         NaN    0.000000    0.000000    0.000000
141    0.000000    0.000000         NaN    0.000000    0.000000
143    0.000000         NaN    0.000000    0.000000    0.000000
144    0.000000    0.000000    0.000000    0.000000         NaN
145         NaN    0.000000    0.000000    0.000000    0.000000
146         NaN    0.000000    5.000000   21.428571   11.111111
147    0.000000    0.000000         NaN    0.000000    0.000000
148    0.000000    0.000000    0.000000         NaN    0.000000
149    0.000000    0.000000    0.000000    0.000000         NaN
150   57.142857         NaN   53.846154   12.000000    5.000000
151    0.000000    0.000000    0.000000    0.000000         NaN
152    4.000000   88.461538         NaN    9.090909    5.882353
153    0.000000    0.000000         NaN    0.000000    0.000000
154    0.000000    0.000000    0.000000    0.000000         NaN
155    0.000000    0.000000    0.000000         NaN    0.000000
156    0.000000    0.000000    0.000000         NaN    0.000000
158    0.000000    0.000000    0.000000    0.000000         NaN
160    0.000000    0.000000         NaN    0.000000    0.000000
161    0.000000         NaN    0.000000    0.000000    0.000000
163    0.000000    0.000000    0.000000         NaN    0.000000
164    0.000000    0.000000    0.000000    0.000000         NaN
166    0.000000    0.000000         NaN    0.000000    0.000000
167    0.000000         NaN    0.000000    0.000000    0.000000
168    0.000000    0.000000    0.000000         NaN    0.000000
169    0.000000    0.000000         NaN    0.000000    0.000000
171    0.000000         NaN    0.000000    0.000000    0.000000
173    0.000000         NaN    0.000000    0.000000    0.000000
174    0.000000    0.000000    0.000000    0.000000         NaN
176    0.000000    0.000000         NaN    0.000000    0.000000
177    0.000000    0.000000    0.000000    0.000000         NaN
178    0.000000    0.000000    0.000000    0.000000         NaN
180    0.000000    0.000000         NaN    0.000000    0.000000
181         NaN    0.000000    0.000000    0.000000    0.000000
182    0.000000    0.000000         NaN    0.000000    0.000000
183    0.000000         NaN    0.000000    0.000000    0.000000
184    0.000000   22.222222    0.000000   10.000000         NaN
186    0.000000    0.000000         NaN    0.000000    0.000000
187         NaN    0.000000    0.000000    0.000000    0.000000
189    0.000000    0.000000    0.000000         NaN    0.000000
191         NaN    4.166667   11.111111    6.250000    0.000000
192         NaN    0.000000    0.000000    0.000000    0.000000
193    0.000000         NaN    0.000000    0.000000    0.000000
195    0.000000    0.000000    0.000000    0.000000         NaN
197   16.666667    0.000000         NaN   44.000000   34.285714
198    0.000000    0.000000    0.000000    0.000000         NaN
199    0.000000    0.000000    0.000000         NaN    0.000000
200    0.000000         NaN    0.000000    0.000000    0.000000
201    0.000000    0.000000         NaN    0.000000    0.000000
202    0.000000    0.000000    0.000000    0.000000         NaN
203         NaN    0.000000    0.000000    0.000000    0.000000
204         NaN    3.846154    9.523810    6.896552    0.000000
206         NaN    0.000000    0.000000    0.000000    0.000000
207    0.000000    0.000000    0.000000         NaN    0.000000
209    0.000000    0.000000         NaN    0.000000    0.000000
212    0.000000         NaN    0.000000    0.000000    0.000000
214    0.000000    0.000000    0.000000         NaN    0.000000
215   24.000000    4.166667   10.714286   37.500000         NaN
216    0.000000    0.000000         NaN    0.000000    0.000000
217         NaN    0.000000    0.000000    0.000000    0.000000
218    0.000000    0.000000    0.000000    0.000000         NaN
219    0.000000    0.000000    0.000000    0.000000         NaN
220    0.000000    0.000000    0.000000         NaN    0.000000
221    0.000000    0.000000         NaN    0.000000    0.000000
222         NaN    0.000000    0.000000    0.000000    0.000000
223    0.000000    0.000000    0.000000    0.000000         NaN
226    0.000000    0.000000    0.000000    0.000000         NaN
227    0.000000    0.000000    0.000000    0.000000         NaN
228    0.000000         NaN    0.000000    0.000000    4.000000
229    0.000000    0.000000    0.000000         NaN    0.000000
230    0.000000         NaN    0.000000    0.000000    0.000000
232         NaN    3.571429    0.000000    0.000000    0.000000
234    0.000000    0.000000    0.000000         NaN    0.000000
237    0.000000    0.000000         NaN    0.000000    0.000000
238   80.952381         NaN   40.909091   78.260870    4.000000
240    0.000000    0.000000    0.000000         NaN    0.000000
241         NaN    0.000000    0.000000    0.000000    0.000000
243    0.000000         NaN    0.000000    0.000000    0.000000
244    0.000000         NaN    0.000000    0.000000    0.000000
245    0.000000         NaN    0.000000    0.000000    0.000000
246    0.000000    0.000000         NaN    0.000000    0.000000
248    0.000000    0.000000    0.000000    0.000000         NaN
251    0.000000         NaN    0.000000    0.000000    0.000000
252    0.000000         NaN    0.000000    0.000000    0.000000
253    0.000000    0.000000    0.000000    0.000000         NaN
254         NaN    0.000000    0.000000    0.000000    0.000000
255   30.000000         NaN   47.368421   55.000000   50.000000
256    0.000000    0.000000    0.000000    0.000000         NaN
257    0.000000    0.000000         NaN    0.000000    0.000000
258         NaN    0.000000    0.000000    0.000000    0.000000
259    0.000000    0.000000    0.000000         NaN    0.000000
260    0.000000    0.000000    0.000000    0.000000         NaN
261    0.000000    0.000000    0.000000         NaN    0.000000
262    0.000000    0.000000    0.000000    0.000000         NaN
265    0.000000    0.000000    0.000000         NaN    0.000000
266    0.000000    0.000000         NaN    0.000000    0.000000
267    0.000000    0.000000    0.000000         NaN    0.000000
269    0.000000    0.000000    0.000000         NaN    0.000000
270    0.000000    0.000000    0.000000         NaN    0.000000
273    0.000000         NaN    0.000000    0.000000    0.000000
274    0.000000    0.000000         NaN    0.000000    0.000000
275    8.333333         NaN   18.518519   43.333333    0.000000
276         NaN    0.000000    0.000000    0.000000    0.000000
277         NaN    0.000000    0.000000    0.000000    0.000000
278    0.000000    0.000000    0.000000    0.000000         NaN
279    0.000000         NaN    0.000000    0.000000    0.000000
280         NaN    0.000000    0.000000    0.000000    0.000000
282         NaN    0.000000    0.000000    0.000000    0.000000
284    0.000000    0.000000         NaN    0.000000    0.000000
285         NaN    0.000000    0.000000    0.000000    0.000000
286    0.000000    0.000000    0.000000    0.000000         NaN
287         NaN    0.000000    0.000000    0.000000    0.000000
288    0.000000    0.000000    0.000000         NaN    0.000000
289    0.000000    0.000000    0.000000    0.000000         NaN
290    0.000000         NaN    0.000000    0.000000    0.000000
291   83.333333   29.166667         NaN  100.000000   91.666667
292    0.000000    0.000000    0.000000    0.000000         NaN
293    0.000000    0.000000    0.000000         NaN    0.000000
294         NaN    0.000000    0.000000    0.000000    0.000000
295    0.000000         NaN    0.000000    0.000000    0.000000
296    0.000000    0.000000         NaN    0.000000    0.000000
297  100.000000  100.000000  100.000000  100.000000         NaN
299    0.000000    0.000000         NaN    0.000000    0.000000
300    0.000000         NaN    0.000000    0.000000    0.000000
302         NaN    0.000000    0.000000    0.000000    0.000000
303    0.000000         NaN    0.000000    0.000000    0.000000
304    0.000000    0.000000         NaN    0.000000    0.000000
305    0.000000    0.000000         NaN    0.000000    0.000000
307    0.000000    0.000000    0.000000         NaN    0.000000
309    0.000000    0.000000         NaN    0.000000    0.000000
311    0.000000    0.000000         NaN    0.000000    0.000000
312    0.000000    0.000000         NaN    0.000000    0.000000
314    0.000000    0.000000    0.000000         NaN    0.000000
315    0.000000    0.000000         NaN    0.000000    0.000000
316    0.000000    0.000000    0.000000         NaN    0.000000
317    0.000000    0.000000         NaN    0.000000    0.000000
320         NaN    0.000000    0.000000    0.000000    0.000000
321    0.000000    0.000000    0.000000         NaN    0.000000
322         NaN    0.000000    0.000000    0.000000    0.000000
323    0.000000    0.000000         NaN    0.000000    0.000000
324    0.000000    0.000000    0.000000         NaN    0.000000
326    0.000000         NaN    0.000000    0.000000    0.000000
327    0.000000    0.000000         NaN    0.000000    0.000000
328    0.000000    0.000000    0.000000    0.000000         NaN
329         NaN   34.782609   80.000000    3.225806    0.000000
331         NaN    0.000000    0.000000    0.000000    0.000000
332    0.000000         NaN    0.000000    0.000000    0.000000
333         NaN    0.000000    0.000000    0.000000    0.000000
334    0.000000    0.000000         NaN    0.000000    0.000000
335    0.000000    0.000000    0.000000    0.000000         NaN
336    0.000000    0.000000    0.000000    0.000000         NaN
339    0.000000    0.000000    0.000000    0.000000         NaN
341    0.000000    0.000000    0.000000         NaN    0.000000
342         NaN    0.000000    0.000000    0.000000    0.000000
343    0.000000         NaN    0.000000    0.000000    0.000000
344         NaN    0.000000    0.000000    0.000000    0.000000
346         NaN    0.000000    0.000000    0.000000    0.000000
347    0.000000    0.000000   15.789474    0.000000         NaN
349    0.000000    0.000000    0.000000    0.000000         NaN
351    0.000000    0.000000    0.000000    0.000000         NaN
352         NaN    0.000000    0.000000    0.000000    0.000000
355    0.000000    0.000000    0.000000    0.000000         NaN
357    0.000000    0.000000    0.000000    0.000000         NaN
359    0.000000    0.000000         NaN    0.000000    0.000000
360    0.000000         NaN    0.000000    0.000000    0.000000
361    0.000000    0.000000         NaN    0.000000    0.000000
362    0.000000         NaN    0.000000    0.000000    0.000000
363    0.000000    4.347826    4.761905   33.333333         NaN
365    0.000000    0.000000    0.000000         NaN    0.000000
367    0.000000    0.000000    0.000000         NaN    0.000000
368    0.000000    0.000000    0.000000    0.000000         NaN
369    0.000000    0.000000         NaN    0.000000    0.000000
370    0.000000    0.000000    0.000000    0.000000         NaN
371    0.000000    0.000000    0.000000    0.000000         NaN
373    0.000000         NaN    0.000000    0.000000    0.000000
374         NaN    0.000000    0.000000    0.000000    0.000000
375    0.000000         NaN    0.000000    0.000000    0.000000
376         NaN    0.000000    0.000000    0.000000    0.000000
377    0.000000    0.000000         NaN    0.000000    0.000000
378         NaN    0.000000    0.000000    0.000000    0.000000
379    0.000000    0.000000    0.000000    0.000000         NaN
381    0.000000         NaN    0.000000    0.000000    0.000000
383    0.000000    0.000000    0.000000         NaN    0.000000
386    0.000000    0.000000    0.000000    0.000000         NaN
387         NaN    0.000000    0.000000    0.000000    0.000000
388    0.000000         NaN    0.000000    0.000000    0.000000
390    0.000000    0.000000    0.000000    0.000000         NaN
392    0.000000         NaN    0.000000    0.000000    0.000000
393    0.000000    0.000000    0.000000         NaN    0.000000
394    0.000000    0.000000         NaN    0.000000    0.000000
395    0.000000         NaN    0.000000    0.000000    0.000000
396    0.000000    0.000000    4.347826    4.761905         NaN
397    0.000000    0.000000    0.000000    0.000000         NaN
398    0.000000    0.000000         NaN    0.000000    0.000000
399         NaN    0.000000    0.000000    0.000000    0.000000
402    0.000000    0.000000    0.000000         NaN    0.000000
403    0.000000         NaN    0.000000    0.000000    0.000000
404         NaN    0.000000    0.000000    0.000000    0.000000
405    0.000000    0.000000    0.000000         NaN    0.000000
407         NaN    0.000000    0.000000    0.000000    0.000000
408    0.000000    0.000000    0.000000         NaN    0.000000
409    0.000000    0.000000    0.000000         NaN    0.000000
410         NaN    0.000000    0.000000    0.000000    0.000000

In [7]:
# average prediction error over all folds
incorr_avg[(best_l1, best_C)]

     nr incorr
293        0.0
332        0.0
565        0.0
278        0.0
489        0.0
346        0.0
357        0.0
355        0.0
112        0.0
68         0.0
526       71.0
206        0.0
65         0.0
437        0.0
126        0.0
429        0.0
392        0.0
343        0.0
334        0.0
440        0.0
441        0.0
137        0.0
230        0.0
7          0.0
408        0.0
523        0.0
361        0.0
553        0.0
478        0.0
303       13.0
155        0.0
186      100.0
101       16.0
97         0.0
20         0.0
153        0.0
54         0.0
30         0.0
531       23.0
49         0.0
100        0.0
336        0.0
299        0.0
347        0.0
502        0.0
56         0.0
144        0.0
60         0.0
6          0.0
8          0.0
474        0.0
320        0.0
252        0.0
202        0.0
246        0.0
240       57.0
38         0.0
436        0.0
390        0.0
261      100.0
339        0.0
282        0.0
276        0.0
367        0.0
505       26.0
499        0.0
124        4.0
154        0.0
316       17.0
59         0.0
333        0.0
503       40.0
534        0.0
563        0.0
453        0.0
262        0.0
378        0.0
229        0.0
55        17.0
171        0.0
454        0.0
243        0.0
158        0.0
415        0.0
34         0.0
561        0.0
18         0.0
508        3.0
322        0.0
51         0.0
219        0.0
549        0.0
52         0.0
74         0.0
26         0.0
173        0.0
92         0.0
167        0.0
4          0.0
409        0.0
181        2.0
245        0.0
379        0.0
425        0.0
479        1.0
5        100.0
141        0.0
329        0.0
200        0.0
135        0.0
285        0.0
122        0.0
484        0.0
22         0.0
220        9.0
517        0.0
120        0.0
81         0.0
487       32.0
464        0.0
554       27.0
548        0.0
160        0.0
557        0.0
238        0.0
284        0.0
315        0.0
195        0.0
191        0.0
116        0.0
477        0.0
428        0.0
164        0.0
106        0.0
403        0.0
63         0.0
105        0.0
312        0.0
555        0.0
481        0.0
344        0.0
93         0.0
395        0.0
393        0.0
381        8.0
198        0.0
145        0.0
150        0.0
39         5.0
520        0.0
351        0.0
253        0.0
467       24.0
501        0.0
2          0.0
221        0.0
532        0.0
146        0.0
289        0.0
241        5.0
342        0.0
433        0.0
114        0.0
311        0.0
399        0.0
176       19.0
491        0.0
168        0.0
365        0.0
539        0.0
506        0.0
426        0.0
136        0.0
444        0.0
254        0.0
362        0.0
386        1.0
494        0.0
452        0.0
255        1.0
232        0.0
133        0.0
33        51.0
88         0.0
290        0.0
44         0.0
61         0.0
199        0.0
375        0.0
545        0.0
530        0.0
424        0.0
218        0.0
302        0.0
297       46.0
73         0.0
295        0.0
35         0.0
493        0.0
29         0.0
460        0.0
438        0.0
445        0.0
309        0.0
541        0.0
217        0.0
27         0.0
462        0.0
376        0.0
156       18.0
552        0.0
475        0.0
138        0.0
212        0.0
104        0.0
447        0.0
443        0.0
449        0.0
215        0.0
496        0.0
189        0.0
214        0.0
524        0.0
204       76.0
234        0.0
259        0.0
67         0.0
24         0.0
216        0.0
300      100.0
223        0.0
129        0.0
533        0.0
111        0.0
166        0.0
267        0.0
507        0.0
40         0.0
274        0.0
455        0.0
79         0.0
402        0.0
404        0.0
327        0.0
13         0.0
287        0.0
326        0.0
121        0.0
251        0.0
228        0.0
498        0.0
161        0.0
83        30.0
117        0.0
374        0.0
407        0.0
25         0.0
110        0.0
149        0.0
152        0.0
16         0.0
435        0.0
331        0.0
109        0.0
470        0.0
450        4.0
139        0.0
237        0.0
260        0.0
352        0.0
456        0.0
317        0.0
323        0.0
513        0.0
248        0.0
410       11.0
422        0.0
497        0.0
19         0.0
328        0.0
296        0.0
483        0.0
269        0.0
363        0.0
226        0.0
495        0.0
3          0.0
446        0.0
125        0.0
280        0.0
286        0.0
77         0.0
184        0.0
371        0.0
485        0.0
556        0.0
275        0.0
294        0.0
535        0.0
182        2.0
32         0.0
80         0.0
307        0.0
258        0.0
11         0.0
360        0.0
476        0.0
86         0.0
266        0.0
36         0.0
193        0.0
58         0.0
41         0.0
270        0.0
411        0.0
50         0.0
209        0.0
511        0.0
540        0.0
522        0.0
521        0.0
451        0.0
123        0.0
222        0.0
419        0.0
62         0.0
568        0.0
377        0.0
130        0.0
187        0.0
23         0.0
480        0.0
509        0.0
43         0.0
370        0.0
394        0.0
0          0.0
383        0.0
201        0.0
405        0.0
368        0.0
461        0.0
529        0.0
98         0.0
387       62.0
349       23.0
304        0.0
418        0.0
292        0.0
178        0.0
369        0.0
256        0.0
94         0.0
197        0.0
95         0.0
558        0.0
163        2.0
169        0.0
69         0.0
305        4.0
48         0.0
341        0.0
373        0.0
397        2.0
207        0.0
279        0.0
528        0.0
227        0.0
148       40.0
143       29.0
180        0.0
131        0.0
47         0.0
324        0.0
203        0.0
84         0.0
398        0.0
91         0.0
82         0.0
430        0.0
119        0.0
291        0.0
57         0.0
321        1.0
257        0.0
442        0.0
42         0.0
388        0.0
335        0.0
273        0.0
488        0.0
53         0.0
536        0.0
128        0.0
28        33.0
183       15.0
459        0.0
510        0.0
151        0.0
244        0.0
543        0.0
544        0.0
265        0.0
288       16.0
423        0.0
147        0.0
177        0.0
99        23.0
448        0.0
431        0.0
115        0.0
72         0.0
537        0.0
174        0.0
87         0.0
551        0.0
486        0.0
314        0.0
396        0.0
472        0.0
70         0.0
277        0.0
9          0.0
359        0.0
192        0.0
559        0.0

In [8]:
# count how often a feature was selected through the k folds (left column:feature, right column:count)
count_features[(best_l1, best_C)]

0     1
1     4
2     1
3     1
5     2
6     5
7     5
8     4
10    5
11    1
12    5
13    5
15    5
17    1
18    2
19    5
20    5
21    5
22    5
23    5
24    2
25    1
26    5
27    5
28    1
29    5
dtype: int64

In [9]:
# features that were selected in at least one fold (all with count >=1)
union_features[(best_l1, best_C)]

[0,
 1,
 2,
 3,
 5,
 6,
 7,
 8,
 10,
 11,
 12,
 13,
 15,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

In [10]:
# intersection of selected features ( all features with count k - selected in each fold)
intersection_features[(best_l1, best_C)]

[6, 7, 10, 12, 13, 15, 19, 20, 21, 22, 23, 26, 27, 29]